.THIS th.slds-truncate, .THIS td.slds-truncate {
  max-width: inherit !important;
}

.THIS .display-none {
  display: none !important;
}

.THIS .lookup__menu {
  width: auto !important;
}

.THIS .default.input.uiInput--lookup {
  font-size: 1em;
}