.THIS .edit-header {
  position: inherit;
}

.THIS .slds-modal__header {
  padding-top: 0.2rem !important;
  padding-bottom: 0.2rem !important;
}

.THIS .slds-spinner {
  transform: translate(-140%, -50%) rotate(90deg) !important;
  top: 100px !important;
}