<apex:page standardController="Account" extensions="AccountTeamMemberListCtl">

    <apex:includeScript value="/support/console/22.0/integration.js"/>
   
   <script type="Text/JavaScript">
      function goToNewAccountTeam()
      {
         //alert('hi!');
         parent.location.replace("/opp/salesteaminsert.jsp?retURL=%2F{!acct.Id}&id={!acct.Id}");
      }
      function goToUser(userId)
      {
      	 if(sforce.console.isInConsole())
      	 {
      	 	sforce.console.openPrimaryTab(null, "/"+userId, true); 
      	 }
      	 else
      	 {
         	parent.location.replace("/"+userId);
         }
      }
   </script>
   <apex:pageBlock >
   <apex:messages />
    <apex:form >
    <apex:actionFunction name="deleteATM" action="{!deleteATM}" rerender="pbSection">
       <apex:param name="paramid" value="{!atmToDelete}"/>
    </apex:actionFunction>
       <apex:pageBlockSection columns="5" id="pbSection" rendered="{!FullLayout}">
       <apex:outputPanel >
       <table>
       <tr>
       <td>
          
          <apex:pageBlockSectionitem >
            <apex:outputLabel value="{!$Label.AccountTeam_GBU}" for="gbu"/>
            <apex:selectList size="1" value="{!userPickLists.Business_Unit}" id="gbu" >
              <apex:selectOptions value="{!GBU}"/>
              <!-- apex:actionSupport event="onchange" rerender="franchise"/--> 
            </apex:selectList>
          </apex:pageBlockSectionitem>&nbsp;&nbsp;
       </td>
       </tr>
       <tr>
       <td>   
          <apex:pageBlockSectionitem >
            <apex:outputLabel value=" {!$Label.AccountTeam_Franchise}" for="franchise"/>
            <apex:inputText value="{!userPickLists.Franchise}" id="franchise"/>
          </apex:pageBlockSectionitem>
       </td>
       </tr>
       <tr>
       <td>    
          <apex:pageBlockSectionitem >
            <apex:commandLink value="refresh"/>
          </apex:pageBlockSectionitem>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          
          <apex:pageBlockSectionitem >
             <apex:commandButton immediate="true" value="Add" onClick="goToNewAccountTeam()"/>
          </apex:pageBlockSectionitem>
       </td>
       </tr>
       </table>  
         </apex:outputPanel>
          
     
     </apex:pageBlockSection>
     <apex:pageBlockSection columns="1">
       <apex:pageBlockTable value="{!AccountTeams}" var="t" >
            <apex:column headerValue=" "   >
               <apex:commandLink action="{!deleteATM}" value="{!t.deleteAtmLabel}">
                    <apex:param name="deleteLink"
                                value="{!t.atmId}"
                                assignTo="{!atmToDelete}"/>
               </apex:commandLink>
            </apex:column>
            <apex:column headerValue="{!$Label.AccountTeam_Name}">
                   <apex:outputLink onclick="goToUser('{!t.userId}');" value="javascript&colon;;"><apex:outputText value="{!t.name}" /></apex:outputLink>
            </apex:column>
            <apex:column headerValue="{!$Label.AccountTeam_Title}" value="{!t.title}" rendered="{!FullLayout}"/>
            <apex:column headerValue="{!$Label.AccountTeam_Role}" value="{!t.role}" rendered="{!FullLayout}"/>
            <apex:column headerValue="{!$Label.AccountTeam_GBU}" value="{!t.gbu}"/>
            <apex:column headerValue="{!$Label.AccountTeam_Franchise}" value="{!t.franchise}" rendered="{!FullLayout}"/>
            <apex:column headerValue="{!$Label.Mobile_Phone}" value="{!t.mobilephone}" rendered="{!Not(FullLayout)}"/>
            <apex:column headerValue="{!$Label.AccountTeam_Territory}" rendered="{!FullLayout}">
                <apex:repeat value="{!t.userTerritories}" var="x">
                    {!x.name}<br/>
                </apex:repeat>
            </apex:column>
        </apex:pageBlockTable>
      </apex:pageBlockSection>
      
     </apex:form>
      
    </apex:pageBlock>
    <script>function setFocusOnLoad() {}</script>
</apex:page>