<apex:page standardController="Event" extensions="ActivityDetailController">
    <style>
        input.unbutton
        {
            background: none;
            border: none;
            padding: none;
            margin: none;
            cursor: auto;
        }
        .secondary
        {
            background-color: white;
        }
    </style>
    <apex:form >
        <apex:pageBlock id="pbCustomFields" >
            <apex:inlineEditSupport showOnEdit="saveButton, cancelButton" hideOnEdit="tipMessage,proposalButton,shareButton,direct_Sales_AgreementButton,docuSignButton,commission_StatementButton" event="ondblclick" resetFunction="resetInlineEdit" />
            <apex:pageBlockButtons location="both">
                <apex:commandButton id="saveButton" value="Save" action="{!doSave}" style="display:none;"/>
                <apex:commandButton id="cancelButton" value="Cancel" action="{!cancel}" style="display:none;"/>
                <apex:commandButton id="tipMessage" value="Double-Click Fields to Edit Values" styleClass="unbutton"/>
            </apex:pageBlockButtons>
            <apex:pageBlockSection >
                <apex:repeat value="{!eventFieldSet}" var="f">  
                    <apex:outputField value="{!objDetail[f]}" />
                </apex:repeat>
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
</apex:page>