<apex:page controller="ActivityFilter"  >
<apex:stylesheet value="/dCSS/ dStandard.css" />
   <apex:form Id="paramForm">
      <apex:pageBlock Id="paramBlock" title="{!recName}" mode="maindetail"> 
         
        <apex:pageBlockSection id="parameterSection" columns="2">
           
           <!--  apex:inputField value="{!taskParam.Business_Unit__c}"/-->
           
           <apex:pageBlockSectionitem >
			<apex:outputLabel value="{!$Label.AccountTeam_GBU}" for="gbu"/>
			<apex:selectList size="1" value="{!taskParam.Business_Unit__c}" id="gbu" >
			  <apex:selectOptions value="{!GBU}"/>
			  <!-- apex:actionSupport event="onchange" rerender="franchise"/--> 
			</apex:selectList>
		  </apex:pageBlockSectionitem>
          
          
           
           <apex:pageBlockSectionItem >
	           <apex:outputLabel value="{!$Label.ActivityFilter_Type}" for="activityType" />
	           <apex:selectList value="{!activityType}" multiselect="false" size="1" id="activityType">
	              <apex:selectOptions value="{!ActivityTypeOptions}"/>
	           </apex:selectList>
           </apex:pageBlockSectionItem>
           
           <!--apex:inputField value="{!taskParam.Franchise__c}"/-->
           
           <apex:pageBlockSectionitem >
			<apex:outputLabel value=" {!$Label.AccountTeam_Franchise}" for="franchise"/>
			<apex:inputText value="{!taskParam.Franchise__c}" id="franchise"/>
		  </apex:pageBlockSectionitem>
            
           <apex:pageBlockSectionItem >
	           <apex:outputLabel value="{!$Label.ActivityFilter_Status}" for="taskStatus" />
	           <apex:selectList value="{!statusFilter}" multiselect="false" size="1" id="taskStatus">
	              <apex:selectOptions value="{!Status}"/>
	           </apex:selectList>
           </apex:pageBlockSectionItem>
           
           <apex:pageBlockSectionItem >
              <apex:outputLabel for="mychk" value="View My Activities"/>
              <apex:inputCheckbox Id="mychk" value="{!myActivities}"/>
           </apex:pageBlockSectionItem>
           
           <apex:pageBlockSectionItem >
	        <apex:outputLabel value="{!$Label.ActivityFilter_Country}" for="country" />
	        <apex:selectList value="{!country}" multiselect="false" size="1" id="country">
	           <apex:selectOptions value="{!Countries}"/>
	        </apex:selectList>
           </apex:pageBlockSectionItem>
        
        </apex:pageBlockSection>
        
		<apex:commandButton value="{!$Label.Search}"
			action="{!search}" />
		<apex:commandButton value="{!$Label.Cancel}"
			action="{!cancel}" />

         <apex:pageBlockSection id="taskResults" columns="1" title="Tasks" rendered="{!showTasks}">
			<apex:pageBlockTable value="{!Tasks}" var="t">
				<apex:column headerValue="Subject" >
				   <apex:outputLink value="/{!t.Id}">{!t.Subject}</apex:outputLink>
				</apex:column>
				<apex:column value="{!t.ActivityDate}" />
				<apex:column value="{!t.Status}" />
				<apex:column headerValue="{!$Label.AssignedTo}">
				   <apex:outputLink value="/{!t.ownerId}"><apex:outputText value="{!t.Owner.Name}" /></apex:outputLink>
				</apex:column>
				<apex:column headerValue="{!$Label.Name}">
				  <apex:outputLink value="/{!t.whoId}"><apex:outputText value="{!t.who.name}"/></apex:outputLink></apex:column>
				<apex:column headerValue="{!$Label.RelatedTo}" >
				  <apex:outputLink rendered="{!t.what.Id = null}" value="/{!t.whoId}"><apex:outputText value="{!t.who.name}" /></apex:outputLink>
				  <apex:outputLink rendered="{!t.what.Id != null}" value="/{!t.whatId}"><apex:outputText value="{!t.what.name}" /></apex:outputLink></apex:column>
				<apex:column value="{!t.Franchise__c}" />
				<apex:column value="{!t.Business_Unit__c}" />
			 </apex:pageBlockTable>
		 </apex:pageBlockSection>
		 
		 <apex:pageBlockSection id="eventResults" columns="1" title="Events"  rendered="{!showEvents}">
			<apex:pageBlockTable value="{!Events}" var="e">
				<apex:column headerValue="Subject" >
				   <apex:outputLink value="/{!e.Id}">{!e.Subject}</apex:outputLink>
				</apex:column>
				<apex:column value="{!e.StartDateTime}" />
				<apex:column headerValue="{!$Label.AssignedTo}">
				   <apex:outputLink value="/{!e.ownerId}"><apex:outputText value="{!e.Owner.Name}" /></apex:outputLink>
				</apex:column>
				<apex:column headerValue="{!$Label.Name}">
				  <apex:outputLink value="/{!e.whoId}"><apex:outputText value="{!e.who.name}"/></apex:outputLink></apex:column>
				<apex:column headerValue="{!$Label.RelatedTo}" >
				  <apex:outputLink rendered="{!e.what.Id = null}" value="/{!e.whoId}"><apex:outputText value="{!e.who.name}" /></apex:outputLink>
				  <apex:outputLink rendered="{!e.what.Id != null}" value="/{!e.whatId}"><apex:outputText value="{!e.what.name}" /></apex:outputLink></apex:column>
				<apex:column value="{!e.Franchise__c}" />
				<apex:column value="{!e.Business_Unit__c}" />
			 </apex:pageBlockTable>
		 </apex:pageBlockSection>
      </apex:pageBlock>
      
   </apex:form>
</apex:page>