<apex:page standardController="Opportunity" extensions="AddOpportunityPlayerExtension" title="Add Opportunity Player">
    <script type='text/javascript' src='/canvas/sdk/js/publisher.js'></script>
    <script> 
        Sfdc.canvas.publisher.subscribe({name: "publisher.showPanel",
            onData:function(e) {
                Sfdc.canvas.publisher.publish({name:"publisher.setValidForSubmit", payload:"true"});
        }});
        Sfdc.canvas.publisher.subscribe({ name: "publisher.post",
            onData: function(e) {
                MyJavascriptFunc();
                Sfdc.canvas.publisher.publish({ name: "publisher.close",
                    payload:{ refresh:"true" }});
        }}); 
    </script>
    <script type='text/javascript' src= '//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js'>
        </script>
        <script language="javascript">
            $(function() {        
                $('select.RemoveNone option[value=]').remove();       
            });
     </script>    
    <apex:form >
        <apex:actionFunction action="{!SaveRecords}" name="MyJavascriptFunc"/>
        <apex:pageMessages />
        <apex:sectionHeader subtitle="{!opp.Name}: Add Opportunity Players" title="Opportunity Players">
            <apex:commandButton value="Save" action="{!SaveRecords}"/>
            <apex:commandButton value="Cancel" action="{!Cancel}"/> 
         
            <br/>
            <br/>
            <h2>Select a role to add an opportunity player to the opportunity</h2>
            <p/>
            <h3><blockquote><b><apex:outputLink value="https://secure.covidien.com/content/dam/covidien/internal/us/en/sales_navigator/14878-NavigatorChampion.pdf" target="_blank" style="color:blue" >Champion</apex:outputLink></b>: has a) advances the Opportunity, b) has taken or will take action to influence others and, c) has credibility to make things happen.</blockquote></h3>
            <p/>
            <h3><blockquote><b><apex:outputLink value="https://secure.covidien.com/content/dam/covidien/internal/us/en/sales_navigator/14850-Coachoutline1.pdf" target="_blank" style="color:blue" >Coach</apex:outputLink></b>: helps the rep navigate the hospital using familiarity with both clinical and supply chain needs.</blockquote></h3>
            <p/>
            <h3><blockquote><b><apex:outputLink value="https://secure.covidien.com/content/dam/covidien/internal/us/en/sales_navigator/14858-Neutraloutline.pdf" target="_blank" style="color:blue" >Neutral</apex:outputLink></b>: has a) no impact on advancing the opportunity b) is generally not vocal and, c) is indifferent to the outcome.Neutrals represent 80 – 90% of all Surgeons. The Neutral person tend to go with the prevailing winds and can become critical to outcome of the sale if things go sour
</blockquote></h3>
            <p/>
            <h3><blockquote><b><apex:outputLink value="https://secure.covidien.com/content/dam/covidien/internal/us/en/sales_navigator/14946-NavigatorBlocker.pdf" target="_blank" style="color:blue" >Blocker</apex:outputLink></b>: a) prevents the Opportunity from advancing and, b) Champions the competitive cause. The Blocker maybe very vocal and/or a high volume user </blockquote></h3>
            <p/>
            <h3><blockquote><b><apex:outputLink value="https://secure.covidien.com/content/dam/covidien/internal/us/en/sales_navigator/14903-TheSupporter.pdf" target="_blank" style="color:blue" >Supporter</apex:outputLink></b>: a) is favorable towards the offering and, b) will try the new offering/product. </blockquote></h3>
            <p/>
        </apex:sectionHeader>
        <br/>
        <apex:pageBlock title="Committee Profile Members" rendered="{!NOT(committeeContacts.size == 0)}">
             <apex:pageBlockTable value="{!committeeContacts}" var="cc">
                <apex:column headerValue="Opportunity Player" width="75px">
                    <apex:inputField value="{!cc.Contact__c}" required="false"/>
                </apex:column>
                <apex:column headerValue="Role" width="75px">
                    <apex:inputField value="{!cc.Opportunity_Role__c}"/>
                </apex:column>
                <apex:column headerValue="Influence" width="75px">
                    <apex:inputField value="{!cc.Influence__c}"/>
                </apex:column>
                <apex:column headerValue="Committee Type" width="75px">
                    <apex:outputField value="{!cc.Profile_Type__c}"/>
                </apex:column> 
                <apex:column headerValue="Connected As">
                    <apex:outputField value="{!cc.Connected_As__c}"/>
                </apex:column> 
            </apex:pageBlockTable>
        </apex:pageBlock>
<!--        <apex:pageBlock title="{!opp.Account.Name} Contacts" rendered="false">
            <apex:pageBlockTable value="{!accountContacts}" var="ac">
                <apex:column headerValue="Opportunity Player" width="75px">
                    <apex:inputField value="{!ac.Contact__c}" required="false"/>
                </apex:column>
                <apex:column headerValue="Role" width="75px">
                    <apex:inputField value="{!ac.Opportunity_Role__c}"/>
                </apex:column>
                <apex:column headerValue="Influence">
                    <apex:inputField value="{!ac.Influence__c}"/>
                </apex:column>
            </apex:pageBlockTable>
        </apex:pageBlock>
 --> 
  
 
 <apex:pageBlock title="Existing Opportunity Players " rendered="{!NOT(existingContacts.size == 0)}"> 
            <apex:pageBlockTable value="{!existingContacts}" var="ec">
                <apex:column headerValue="Opportunity Player" width="50px">
                    <apex:inputField value="{!ec.Contact__c}" required="false"/>
                </apex:column>
                <apex:column headerValue="Role" width="60px">
                    <apex:inputField value="{!ec.Opportunity_Role__c}"/>
                </apex:column>
                <apex:column headerValue="Influence" width="60px">
                    <apex:inputField value="{!ec.Influence__c}"/>
                </apex:column> 
                <apex:column headerValue="Number of Cases" width="60px">
                    <apex:inputField value="{!ec.Of_Cases__c}"/>
                </apex:column>                
                <apex:column headerValue="Notes (Primary)" width="75px">
                    <apex:inputField value="{!ec.Comment__c}"/>
                </apex:column> 
                <apex:column headerValue="Notes 2">
                    <apex:inputField value="{!ec.Notes_2__c}"/>
                </apex:column>     
                <apex:column headerValue="Notes 3">
                    <apex:inputField value="{!ec.Notes3__c}"/>
                </apex:column>       
                <apex:column headerValue="Notes 4">
                    <apex:inputField value="{!ec.Notes4__c}"/>
                </apex:column>       
  
               
            </apex:pageBlockTable>
        </apex:pageBlock>
        <br/>
         <apex:pageBlock title="Existing Opportunity Players (Economic) " rendered="{!NOT(existingContactsEconomic.size == 0)}">
            <apex:pageBlockTable value="{!existingContactsEconomic}" var="ec">
                <apex:column headerValue="Opportunity Player" width="50px">
                    <apex:inputField value="{!ec.Contact__c}" required="false"/>
                </apex:column>
                <apex:column headerValue="Role" width="60px">
                    <apex:inputField value="{!ec.Opportunity_Role__c}"/>
                </apex:column>
                <apex:column headerValue="Influence" width="60px">
                    <apex:inputField value="{!ec.Influence__c}"/>
                </apex:column> 
                <apex:column headerValue="Notes 1" width="75px">
                    <apex:inputField value="{!ec.Comment__c}"/>
                </apex:column>   
                <apex:column headerValue="Notes 2">
                    <apex:inputField value="{!ec.Notes_2__c}"/>
                </apex:column>     
                <apex:column headerValue="Notes 3">
                    <apex:inputField value="{!ec.Notes3__c}"/>
                </apex:column>       
                <apex:column headerValue="Notes 4">
                    <apex:inputField value="{!ec.Notes4__c}"/>
                </apex:column>       
               
            </apex:pageBlockTable>
        </apex:pageBlock>
        <br/>
        <apex:pageBlock title="Add Additional Opportunity Players" >    
          <apex:outputLink title="If you do not find the contact in SFDC then click here to add a new contact" styleClass="btn" style="text-decoration:none" target="_blank" value="{!URLFOR($Action.Contact.NewContact)}" >
                 New Contact 
          </apex:outputLink> 
          <span class="helpButtonOn" id="Name-_help">
          <apex:image value="/s.gif" alt="" styleClass="helpOrb" title="" />
          <script type="text/javascript">sfdcPage.setHelp('Name', 'If you do not find the contact in SFDC then click here to add a new contact');</script>
           </span>
          <br/> 
          <br/>
          <apex:pageBlockTable value="{!blankOppPlayers}" var="ec">
          <apex:column width="75px">
              <apex:facet name="header">
                    <apex:outputPanel >
                        <apex:outputText value="Add Opportunity Player"/>                                          
                    </apex:outputPanel>                      
               </apex:facet>
               <apex:inputField value="{!ec.Contact__c}" required="false"/>
          </apex:column>
          <apex:column width="75px">
               <apex:facet name="header">
                    <apex:outputPanel >
                        <apex:outputText value="Type"/>
                    </apex:outputPanel>                      
               </apex:facet>
             <apex:inputField styleClass="RemoveNone" value="{!ec.Player_Type__c}"/>
           </apex:column>                   
          <apex:column width="75px">
               <apex:facet name="header">
                    <apex:outputPanel >
                        <apex:outputText value="Role"/>                                          
                    </apex:outputPanel>                      
               </apex:facet>
               <apex:inputField styleClass="RemoveNone" value="{!ec.Opportunity_Role__c}"/>
           </apex:column>
           <apex:column width="75px">
              <apex:facet name="header">
                    <apex:outputPanel >
                        <apex:outputText value="Influence"/>
                        <apex:image value="/s.gif" styleClass="helpIcon" title="The amount of credibility and influence this person has with other Surgeons"/>                      
                    </apex:outputPanel>                      
               </apex:facet>
             <apex:inputField value="{!ec.Influence__c}"/>
           </apex:column>
            <apex:column >
               <apex:facet name="header">
                    <apex:outputPanel >
                        <apex:outputText value="Criticality to Sale"/>
                        <apex:image value="/s.gif" styleClass="helpIcon" title="A high volume user that represents (or has potential) to represent a significant proportion of Medtronic spend."/>                      
                    </apex:outputPanel>                      
               </apex:facet>
             <apex:inputField value="{!ec.Criticality_to_Sale__c}"/>
           </apex:column>               
            </apex:pageBlockTable> 
        </apex:pageBlock>
        <br/>
        <apex:commandButton value="Save" action="{!SaveRecords}"/>
        <apex:commandButton value="Cancel" action="{!Cancel}"/> 

    </apex:form>
</apex:page>