<!-- 
    Apttus Contract Management
    WizardRuntimeView
    @2014-2015 Apttus Inc. All rights reserved.    
 -->
<apex:page standardController="Apttus__Wizard2__c" 
		   showHeader="true"
		   sidebar="false" 
		   tabStyle="Apttus__Wizard2__c"
           recordSetVar="WizardRuntimes"
           extensions="Apttus.WizardRuntimeViewController"> 
    <link rel="stylesheet" href="{!URLFOR($Resource.WizardRuntimeUI,'/css/style.css')}" />
    
    <apex:includeScript value="{!URLFOR($Resource.Apttus__JQueryUILibrary19, 'js/jquery-1.8.3.min.js')}"/>
    
    <script type="text/javascript">
    	function resetRuntimeFocus(field) { 
            if(document.getElementById(field) != null) {
                var length = document.getElementById(field).value.length;            
            	document.getElementById(field).focus();
    			document.getElementById(field).setSelectionRange(length, length);
            }                       
        };
    	var wait = (function() {
  			var timer = 0;
  			return function(callback, ms){
    			clearTimeout (timer);
    			timer = setTimeout(callback, ms);
 			};
		})();    
    	$('.searchTextWizardRuntime').live("keyup",function() {
   			wait(function(){                
      			invokeSearchRuntimes();
    		}, 1000 );
		});
    </script>
    
    <!-- TODO : Help section URL -->
    <apex:sectionHeader title="{!$Label.Apttus__Wizards}" subtitle="{!$Label.Apttus__Home}" help="HelpText URL"/>
    <apex:form styleClass="wizard-container"> 
        <apex:pageblock title="{!$Label.Apttus__CreateNewWizardFromDesign}">        
        		<apex:outputLabel styleClass="wizard-selection">{!$Label.Apttus__WizardDesign}</apex:outputLabel>  
            	<apex:selectList size="1" value="{!selectedWizardDesign}" styleClass="wizard-dropdown">                              				
					<apex:selectOptions value="{!WizardDesignOptions}"/>
				</apex:selectList>            
            <apex:commandButton styleClass="wizard-btn-go" action="{!navigateToWizard}" oncomplete="window.open('{!goButtonUrl}');" value="{!$Label.Apttus__Go}"/>            
    	</apex:pageblock>   
    	<apex:pageblock id="idWizardRuntimePageBlock"> 
            <apex:inputText value="{!searchText}" id="idRuntimeSearchText" styleClass="searchTextWizardRuntime" html-placeholder="{!$Label.Apttus__SearchPlaceHolder}"/>
            <apex:actionFunction name="invokeSearchRuntimes" action="{!search}" reRender="idWizardRuntimePageBlock" oncomplete="resetRuntimeFocus('{!$Component.idRuntimeSearchText}')"/>
            
			<apex:pageblockTable styleClass="wizard-listview" value="{!WizardRuntimes}" var="wizardRuntime" rendered="{!displayRecords}">
                <apex:column headerValue="{!$Label.Apttus__Action}">
                    <apex:commandLink value="{!$Label.Apttus__Continue}" rendered="{!wizardRuntime.Apttus__Status__c == 'In Progress'}" action="{!navigateToWizardRuntimeInstance}" oncomplete="window.open('{!actionUrl}');">
                        <apex:param name="id" value="{!wizardRuntime.id}"></apex:param>
                    </apex:commandLink>
                    <apex:commandLink value="{!$Label.Apttus__Review}" rendered="{!wizardRuntime.Apttus__Status__c != 'In Progress'}" action="{!navigateToWizardRuntimeInstance}" oncomplete="window.open('{!actionUrl}');">
                        <apex:param name="id" value="{!wizardRuntime.id}"></apex:param>
                    </apex:commandLink>
                </apex:column>
            	<apex:repeat value="{!$ObjectType.Apttus__Wizard2__c.FieldSets.Apttus__WizardRuntimeViewFieldset}" var="WizardRuntimeFields" >            	
                    <apex:column value="{!wizardRuntime[WizardRuntimeFields.fieldPath]}"/>            		
            	</apex:repeat>          
			</apex:pageblockTable>
            <apex:panelGrid columns="3" styleClass="wizard-runtime-pagination" rendered="{!displayRecords}">
                <apex:outputPanel >
                    <apex:outputText value="{!$Label.Apttus__Page} {!PageNumber} {!$Label.Apttus__of} {!CEILING(ResultSize/PageSize)}" />
                </apex:outputPanel>
                <apex:outputPanel style="margin-left:145px;">
                    <apex:commandLink value="{!$Label.Apttus__PreviousPagination}" rendered="{!HasPrevious}" action="{!Previous}" reRender="idWizardRuntimePageBlock"/>
                	<apex:outputText value="{!$Label.Apttus__PreviousPagination}" rendered="{!NOT(HasPrevious)}" style="color: #ccc;"/>
                	<apex:outputText value="  "/>
                	<apex:commandLink value="{!$Label.Apttus__NextPagination}" rendered="{!HasNext}" action="{!Next}" reRender="idWizardRuntimePageBlock"/>                    
                	<apex:outputText value="{!$Label.Apttus__NextPagination}" rendered="{!NOT(HasNext)}" style="color: #ccc;"/>
                </apex:outputPanel>
                <apex:outputPanel style="float:right;">
                    <apex:outputText value="{!$Label.Apttus__RecordsPerPage}" />
                	<apex:selectList value="{!PageSize}" size="1" >
                    	<apex:selectOption itemValue="5" itemLabel="{!$Label.Apttus__LabelFive}"/>
                    	<apex:selectOption itemValue="10" itemLabel="{!$Label.Apttus__LabelTen}"/>
                        <apex:selectOption itemValue="25" itemLabel="{!$Label.Apttus__LabelTwentyFive}"/>
                        <apex:selectOption itemValue="50" itemLabel="{!$Label.Apttus__LabelFifty}"/>
                    	<apex:actionSupport event="onchange" reRender="idWizardRuntimePageBlock"/>
                	</apex:selectList>
                </apex:outputPanel>                 
            </apex:panelGrid>
            <apex:outputPanel >
                <apex:pageblockSection rendered="{!!displayRecords}">
	            	<apex:outputLabel style="font-weight:bold;margin-left:0px;">{!$Label.Apttus__NoRecordsToDisplay}</apex:outputLabel>
            	</apex:pageblockSection>
            </apex:outputPanel> 
		</apex:pageblock>		        
    </apex:form>    
</apex:page>