<!-- 
    Apttus Config & Pricing
    CPQConsole
     
    @2012-2013 Apttus Inc. All rights reserved.
 -->
<apex:page standardController="Product2" 
			extensions="Apttus_Config2.CPQConsoleController"
			tabStyle="CPQConsole__tab" 
			sidebar="{!ShowAdminSidebar}">
    <apex:includeScript value="{!URLFOR($Resource.Apttus_Config2__JQueryUILibrary19, 'js/jquery-1.8.3.min.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.Apttus_Config2__JQueryUILibrary19, 'js/jquery-ui-1.9.2.custom.min.js')}"/> 
    <apex:includeScript value="{!URLFOR($Resource.Apttus_Config2__FormeeLibrary, '/js/formee.js')}" />
    
    <apex:stylesheet value="{!URLFOR($Resource.Apttus_Config2__JQueryUILibrary19, 'css/smoothness/jquery-ui-1.9.2.custom.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.Apttus_Config2__FormeeLibrary, '/css/formee-style.css')}" />
    <apex:stylesheet value="{!URLFOR($Resource.Apttus_Config2__FormeeLibrary, '/css/formee-structure.css')}" />
    <script type="text/javascript">
    
        var j$ = jQuery.noConflict();
        
        j$(document).ready(function(){
            j$( 'div[id$="Header"]' ).each(function(){
                var thisId = j$(this).attr('id');
                if ( (/^id/).test(thisId)){
                    var headerId = j$(this).attr('id');
                    var bodyId = headerId.replace('Header','Block');
                    j$(this).click(function(){
                        j$('#'+bodyId).slideToggle(400);
                
                    })
                }
            })
        })

    </script>
    <style>
        .aptRoundedDiv {
                padding-bottom: 5px;
                background-color: white;
                border: 1px solid #DDD;
                -webkit-border-radius: 6px; /* Safari 3-4, iOS 1-3.2, Android ≤1.6 */
                 border-radius: 6px; /* Opera 10.5, IE9+, Safari 5, Chrome, Firefox 4+, iOS 4, Android 2.1+ */
                /* useful if you don't want a bg color from leaking outside the border: */
                /* -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; */
                /*-webkit-box-shadow: 0px 0px 4px 0px #000;  Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
                /*box-shadow: 0px 0px 4px 0px #000; /* Opera 10.5, IE9+, Firefox 4+, Chrome 6+, iOS 5 */
                
                /* IE Stuff */      
                zoom: 1; 
                filter: 
                  progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=0,strength=2),
                  progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=45,strength=2),
                  progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=90,strength=2),
                  progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=135,strength=2),
                  progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=180,strength=2),
                  progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=225,strength=2),
                  progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=270,strength=2),
                  progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=315,strength=2);
                display:table;
                width:100%;
                 
        }
        
        div.aptProductListHeader {
            cursor: pointer;

            width:100%;
            padding: 6px 0px;
            font-size: 1em;
            line-height: 1.5em;
            color: #6f6f6f;
            -webkit-border-top-left-radius: 6px;
            -webkit-border-top-right-radius: 6px;
            -moz-border-radius-topleft: 6px;
            -moz-border-radius-topright: 6px;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            
            background: url('{!$Resource.CPQNewSprites}') repeat-x;
            background-position: 0px 0px; 
            
        }
        div.aptProductListSubHeader {
            cursor: pointer;
            padding: 4px 0px;
            font-size: 1em;
            line-height: 1.5em;
            color: #6f6f6f;
            float:left;
            /* background: url('{!$Resource.CPQNewSprites}') repeat-x;
            background-position: 0px -150px; */
            border-spacing: 10px;
            width:100%
        }
        
        div.aptProductCatalogLine {
            width:50%; 
            margin-left:10px;
        }
        
        div.aptCategoryIcon {
            background: url('{!$Resource.CPQNewSprites}');
            background-position: -4px -282px;
            height: 15px;
            width: 15px;
            margin-left:5px;
            float:left;
        
        }
        
        div.aptCategoryIcon {
            background: url('/img/forcecom/icon_sprite.png');
            background-position: 0px 0px;
            height: 16px;
            width: 16px;
            margin-left:5px;
            float:left;
        
        }
        .aptGroupHeader {
            background: -moz-linear-gradient(top, rgba(211,211,211,0.65) 0%, rgba(255,255,255,0) 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(211,211,211,0.65)), color-stop(100%,rgba(255,255,255,0)));
            background: -webkit-linear-gradient(top, rgba(211,211,211,0.65) 0%,rgba(255,255,255,0) 100%);
            background: -o-linear-gradient(top, rgba(211,211,211,0.65) 0%,rgba(255,255,255,0) 100%);
            background: -ms-linear-gradient(top, rgba(211,211,211,0.65) 0%,rgba(255,255,255,0) 100%);
            background: linear-gradient(to bottom, rgba(211,211,211,0.65) 0%,rgba(255,255,255,0) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6d3d3d3', endColorstr='#00ffffff',GradientType=0 );
            height: 40px;
            padding-top: 10px;
            cursor: pointer;
        }
        .aptProductManagementLink{
        
            display:table-cell
        }
        
        .aptPanelGrid{
            width:100%;
            border-spacing: 0px;
        }
        
        .aptPanelGrid tr {
            border-spacing: 0px;
            height: 20px;
        }
        
        .aptPanelGrid td {
            border-spacing: 0px;
        }
                
        .aptPanelColumn{
            width:100%;
            border-spacing: 0px;
        }
        
        .aptPanelColumn a{
            margin-left: 10px;
            font-size:14px;
        }
    
        h2{
            
            font: bold 14px/1.1em Arial,Sans-Serif;
        }
        
        .formee .formee-txt, .formee input[type="text"], .formee input[type="password"], .formee input[type="file"], .formee textarea{
            line-height: 0.7em;
            padding: 5px;
            height: 2.0em;
            width:75%;
            font: normal 14px/1.1em Arial,Sans-Serif;
        } 
        
        .formee {
            font: normal 14px/1.1em Arial,Sans-Serif;
        }
        
        .formee select {
            line-height: 0.7em;
            padding: 2px;
            height: 2.0em;
            width:95%;
        }
        
        .formee legend{
            font-size: 1.5em;
            font-weight: bold;
            margin-left: 3%;
            width: 20%;
        }
                
        .formee-button, .formee input[type="submit"], .formee input[type="button"], .formee input[type="reset"] {
            font-size: 1.2em;
            text-transform:none;
        }
    </style>
    <form id="idForm" class="formee">

        <apex:outputPanel layout="block" styleClass="aptRoundedDiv" style="margin-right:10px; margin-top:10px;" >
            <div class="aptGroupHeader" id = "idProductManagementHeader">
                <h2 style="margin-left: 1em;">{!$Label.ProductManagement}</h2>
            </div>
            <div class = "grid-12-12" style= "padding-top: 0px;" id = "idProductManagementBlock">
                <div class = "grid-4-12">
                    <div class = "grid-12-12"><apex:outputLink title="{!$Label.Apttus_Config2__AddProductTooltipHelp}" value="{!Product2TabPrefix}/e?retURL={!$Page.Apttus_Config2__CPQConsole}">{!$Label.Apttus_Config2__AddProduct}</apex:outputLink></div>
                    <div class = "grid-12-12"><apex:outputLink title="{!$Label.Apttus_Config2__ListofProductsTooltipHelp}" value="{!Product2TabPrefix}/o">{!$Label.Apttus_Config2__ListofProducts}</apex:outputLink></div>
                </div>
                <div class = "grid-4-12">
                    <div class = "grid-12-12"><apex:outputLink title="{!$Label.Apttus_Config2__AddCategoryTooltipHelp}"  value="{!ClassificationNameTabPrefix}/e?retURL={!$Page.Apttus_Config2__CPQConsole}">{!$Label.Apttus_Config2__AddCategory}</apex:outputLink></div>
                    <div class = "grid-12-12"><apex:outputLink title="{!$Label.Apttus_Config2__ListCategoriesTooltipHelp}" value="{!ClassificationNameTabPrefix}/o">{!$Label.Apttus_Config2__ListCategories}</apex:outputLink></div>
                </div>  

                <div class = "grid-4-12">
                    <div class = "grid-12-12"><apex:outputLink title="{!$Label.Apttus_Config2__AddFeatureSetTooltipHelp}"  value="/{!$ObjectType.Apttus_Config2__FeatureSet__c.keyPrefix}/e?retURL={!$Page.Apttus_Config2__CPQConsole}">{!$Label.Apttus_Config2__Add} {!$ObjectType.Apttus_Config2__FeatureSet__c.Label}</apex:outputLink></div>

                    <div class = "grid-12-12"><apex:outputLink title="{!$Label.Apttus_Config2__ManageFeatureSetTooltipHelp}" value="/{!$ObjectType.Apttus_Config2__FeatureSet__c.keyPrefix}/o?retURL={!$Page.Apttus_Config2__CPQConsole}">{!$Label.Apttus_Config2__Manage} {!$ObjectType.Apttus_Config2__FeatureSet__c.LabelPlural}</apex:outputLink></div>
                </div>      

            </div>
            
        </apex:outputPanel>
        <apex:outputPanel layout="block" styleClass="aptRoundedDiv" style="margin-right:10px; margin-top:10px;" >
            <div class="aptGroupHeader" id = "idPriceManagementHeader">
                <h2 style="margin-left: 1em;">{!$Label.PriceManagement}</h2>
            </div>
            
            <div class = "grid-12-12" style= "padding-top: 0px;" id = "idPriceManagementBlock">
                <div class = "grid-4-12">
                    <div class = "grid-12-12"><apex:outputLink title="{!$Label.Apttus_Config2__AddPriceListTooltipHelp}" value="{!PriceListTabPrefix}/e?retURL={!$Page.Apttus_Config2__CPQConsole}">{!$Label.Apttus_Config2__AddPriceList}</apex:outputLink></div>
                    <div class = "grid-12-12"><apex:outputLink title="{!$Label.Apttus_Config2__ListofPriceListTooltipHelp}" value="{!PriceListTabPrefix}/o">{!$Label.Apttus_Config2__ListofPriceList}</apex:outputLink></div>
                        
                </div>
                <div class = "grid-4-12">
                    <div class = "grid-12-12"><apex:outputLink title="{!$Label.Apttus_Config2__AddPriceRuleTooltipHelp}" value="{!$Page.Apttus_Config2__PriceRuleset}?retURL=%2Fa0Z%2Fo&save_new=1&sfdc.override=1">{!$Label.Apttus_Config2__AddPriceRule}</apex:outputLink></div>   
                    <div class = "grid-12-12"><apex:outputLink title="{!$Label.Apttus_Config2__ManagePriceRulesTooltipHelp}" value="{!PriceRulesetTabPrefix}/o">{!$Label.Apttus_Config2__ManagePriceRules}</apex:outputLink></div>
                    <!-- <div class = "grid-12-12"><apex:outputLink title="{!$Label.}" value="">{!$Label.AddPriceMatrix}</apex:outputLink></div> -->
                
                </div>
            </div>
        </apex:outputPanel>
        <apex:outputPanel layout="block" styleClass="aptRoundedDiv" style="margin-right:10px; margin-top:10px;" >
            <div class="aptGroupHeader" id = "idRuleManagementHeader">
                <h2 style="margin-left: 1em;">{!$Label.RuleManagement}</h2>  
            </div>
            <div class = "grid-12-12" style= "padding-top: 0px;" id = "idRuleManagementBlock">
				<div class = "grid-4-12">
					<div class = "grid-12-12" >
						<apex:outputLink title="{!$Label.Apttus_Config2__InclusionRulesTooltipHelp}" value="{!$Page.Apttus_Config2__MultipleConstraintRulesAdmin}?ActionType={!Inclusion}">{!$Label.Apttus_Config2__InclusionRules}</apex:outputLink>
					</div>
					<div class = "grid-12-12" style="padding-top: 2px;">
						<apex:outputLink title="{!$Label.Apttus_Config2__ExclusionRulesTooltipHelp}" value="{!$Page.Apttus_Config2__MultipleConstraintRulesAdmin}?ActionType={!Exclusion}">{!$Label.Apttus_Config2__ExclusionRules}</apex:outputLink>
					</div>
						
				</div>
				<div class = "grid-4-12">
					<div class = "grid-12-12" >
						<apex:outputLink title="{!$Label.Apttus_Config2__RecommendationRulesTooltipHelp}" value="{!$Page.Apttus_Config2__MultipleConstraintRulesAdmin}?ActionType={!Recommendation}">{!$Label.Apttus_Config2__RecommendationRules}</apex:outputLink>
					</div>
					<div class = "grid-12-12" style="padding-top: 2px;">
						<apex:outputLink title="{!$Label.Apttus_Config2__ReplacementRulesTooltipHelp}" value="{!$Page.Apttus_Config2__MultipleConstraintRulesAdmin}?ActionType={!Replacement}">{!$Label.Apttus_Config2__ReplacementRules}</apex:outputLink>
					</div>
					
				</div>
				<div class = "grid-4-12">
					<div class = "grid-12-12" >
						<apex:outputLink title="{!$Label.Apttus_Config2__ValidationRulesTooltipHelp}" value="{!$Page.Apttus_Config2__MultipleConstraintRulesAdmin}?ActionType={!Validation}">{!$Label.Apttus_Config2__ValidationRules}</apex:outputLink>
					</div>				
                    <div class = "grid-12-12">
                    	<apex:outputLink title="{!$Label.Apttus_Config2__AllConstraintRulesTooltipHelp}" value="{!ConstraintRuleTabPrefix}?fcf=00Bi0000002ONKC">{!$Label.Apttus_Config2__AllConstraintRules}</apex:outputLink>
                    </div>
				</div>
				
				<div class = "grid-4-12">
					
					<div class = "grid-12-12">
						<apex:outputLink title="{!$Label.Apttus_Config2__Add} {!$Label.Apttus_Config2__GuidedSearchRule}"  value="{!$Page.Apttus_Config2__ManageGuidedSearchRule}?cpqconsole=1">{!$Label.Apttus_Config2__Add} {!$ObjectType.Apttus_Config2__GuidedSearchRule__c.Label}</apex:outputLink>
					</div>
                    <div class = "grid-12-12">
                    	<apex:outputLink title="{!$Label.Apttus_Config2__Manage} {!$ObjectType.Apttus_Config2__GuidedSearchRule__c.LabelPlural}" value="{!GuidedSellingRulesTabPrefix}/o">{!$Label.Apttus_Config2__Manage} {!$ObjectType.Apttus_Config2__GuidedSearchRule__c.LabelPlural}</apex:outputLink>
                    </div>
                
						
				</div>
				<div class = "grid-4-12">
					
					<div class = "grid-12-12" >
						<apex:outputLink title="{!$Label.Apttus_Config2__AddSearchFilterTooltip}" value="{!$Page.SearchFilterEdit}?retURL={!$Page.CPQConsole}&amp;save_new=1">{!$Label.Apttus_Config2__AddSearchFilter}</apex:outputLink>
					</div>
					<div class = "grid-12-12" style="padding-top: 2px;">
						<apex:outputLink title="{!$Label.Apttus_Config2__ManageSearchFiltersTooltip}" value="{!SearchFilterTabPrefix}/o">{!$Label.Apttus_Config2__ManageSearchFiltersTooltip}</apex:outputLink>
					</div>
				</div>
                <div class = "grid-4-12">                    
                    <div class = "grid-12-12" >
                        <apex:outputLink title="{!$Label.Apttus_Config2__ManageRollupsTooltip}" value="{!$Page.Apttus_Config2__RollupAdmin}">{!$Label.Apttus_Config2__ManageRollups}</apex:outputLink>
                    </div>                    
                </div>
                <div class = "grid-4-12"/>
                <div class = "grid-4-12">                    
                    <div class = "grid-12-12" >
                        <apex:outputLink title="{!$Label.Apttus_Config2__AddAttributeValueMatrixTooltip}" value="{!$Page.Apttus_Config2__AttributeMatrix}?retURL={!$Page.Apttus_Config2__CPQConsole}">{!$Label.Apttus_Config2__AddAttributeValueMatrix}</apex:outputLink>
                    </div>  
                    <div class = "grid-12-12" >
                        <apex:outputLink title="{!$Label.Apttus_Config2__ManageAttributeValueMatricesTooltip}" value="{!AttributeValueMatrixPrefix}/o">{!$Label.Apttus_Config2__ManageAttributeValueMatrices}</apex:outputLink>
                    </div>                   
                </div>
                 <div class = "grid-4-12">                    
                    <div class = "grid-12-12" >
                        <apex:outputLink title="{!$Label.Apttus_Config2__AddProductAttributeRuleTooltip}" value="{!$Page.Apttus_Config2__ProductAttributeRule}?retURL={!$Page.Apttus_Config2__CPQConsole}">{!$Label.Apttus_Config2__AddProductAttributeRule}</apex:outputLink>
                    </div>  
                    <div class = "grid-12-12" >
                        <apex:outputLink title="{!$Label.Apttus_Config2__ManageProductAttributeRulesTooltip}" value="{!AttributeRulePrefix}/o">{!$Label.Apttus_Config2__ManageProductAttributeRules}</apex:outputLink>
                    </div>                   
                </div>

			</div>
        </apex:outputPanel>
        <apex:outputPanel layout="block" styleClass="aptRoundedDiv" style="margin-right:10px; margin-top:10px;" >
            <div class="aptGroupHeader" id="idSystemManagementHeader">
                <h2 style="margin-left: 1em;">{!$Label.SystemManagement}</h2>
            </div>
            
            <div class="grid-12-12" style="padding-top: 0px;" id="idSystemManagementBlock">
                <div class="grid-4-12">
                    <div class="grid-12-12"><apex:outputLink title="{!$Label.Apttus_Config2__PageSystemOverviewName}" value="{!$Page.Apttus_Config2__CPQSystemOverview}">{!$Label.Apttus_Config2__PageSystemOverviewName}</apex:outputLink></div>
                        
                </div>
                <div class="grid-4-12">
                    <div class="grid-12-12"><apex:outputLink title="{!$Label.Apttus_Config2__MaintenanceConsole}" value="{!$Page.Apttus_Config2__MaintenanceConsole}">{!$Label.Apttus_Config2__MaintenanceConsole}</apex:outputLink></div>   
                
                </div>
            </div>
        </apex:outputPanel>


    
    </form>
</apex:page>