<!-- 
    Apttus Config & Pricing
    DisplayColumnSettings
     
    @2011-2012 Apttus Inc. All rights reserved.

 -->
<apex:page controller="Apttus_Config2.DisplayColumnSettingsController" 
           standardStylesheets="true"
           setup="true"
           tabStyle="Apttus_Config2__ConfigCustomDisplayColumns__c"
           sidebar="{!ShowAdminSidebar}" >	
    
    <apex:stylesheet value="{!$Resource.Apttus_Config2__ConfigStyles}" />
    <apex:includeScript value="{!URLFOR($Resource.Apttus_Config2__JQueryUILibrary19, 'js/jquery-1.8.3.min.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.Apttus_Config2__JQueryUILibrary19, 'js/jquery-ui-1.9.2.custom.min.js')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.Apttus_Config2__JQueryUILibrary19, 'css/smoothness/jquery-ui-1.9.2.custom.css')}"/>
    <style type="text/css">
    
		textarea {
			width: 40%;
		}
		
	</style>
	<script>
		j$ = jQuery.noConflict();

		function setupLoadingDefaultsConfirmation(){
	    	j$('#idLoadingDefaultsWarningPanel').dialog({
				modal:true,
				dialogClass:'LoadingDefaultsConfirmationDialog',
				resizable:false,
				buttons: [		
							{
								text:'{!$Label.Yes}',
								click:function(){
									j$(this).dialog('destroy');
									invokeDoLoadDefaultSettings();
								}
							},
							{
								text:'{!$Label.No}',
								click:function(){
									j$(this).dialog('destroy');
								}
							}
					
						],
				close:function(){
					j$(this).dialog('destroy');
					
				}
				
			});
			
	    }
	</script>
	
	<apex:sectionHeader title="{!$Label.Apttus_Config2__CustomSettings}" 
						subtitle="{!$ObjectType.Apttus_Config2__ConfigCustomDisplayColumns__c.Label & ' ' & $Label.Apttus_Config2__Edit}" />
											
	<apex:form id="idDisplayColumnSO">
		
		<apex:pageBlock id="idDisplayColumnBlock" 
						mode="edit" >
			<apex:pageMessages />
			<apex:pageBlockButtons location="top">
				<apex:actionStatus id="idActionStatus" >
					<apex:facet name="start"><img src="/img/loading.gif"/></apex:facet>
					<apex:facet name="stop"> </apex:facet>
                </apex:actionStatus>
		        <apex:commandButton value="{!$Label.Apttus_Config2__Save}" 
		        					action="{!doSave}" />				
		        <apex:commandButton value="{!$Label.Apttus_Config2__Cancel}" 
		        					action="{!doCancel}" 
		        					immediate="true" />
		        <apex:commandButton value="{!$Label.Apttus_Config2__LoadDefaultSettings}"
		        					onclick="setupLoadingDefaultsConfirmation();return false;">
		        </apex:commandButton>
		    </apex:pageBlockButtons>
		    
			<apex:pageBlockSection id="idDisplayColumnSection" 
		    					   title="{!$Label.Apttus_Config2__DisplayColumnSettings}" 
		    					   columns="2" 
		    					   collapsible="false" >
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="{!$ObjectType.Apttus_Config2__ConfigCustomDisplayColumns__c.Fields.Apttus_Config2__DisplayType__c.Label}"  
									  for="idDisplayType" />
					<apex:outputPanel styleClass="requiredInput" layout="block">
   						<apex:outputPanel styleClass="requiredBlock" layout="block"/>
  						<apex:selectList id="idDisplayType" 
  										 value="{!DisplayType}" 
  										 multiselect="false" 
  										 required="true" 
  										 size="1" >
							<apex:selectOptions value="{!DisplayTypeItems}"></apex:selectOptions>
							<apex:actionSupport event="onchange" status="idActionStatus" reRender="idDisplayColumnBlock" />
						</apex:selectList>
 					</apex:outputPanel>
				</apex:pageBlockSectionItem>
				
				<apex:pageBlockSectionItem />
				
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="{!$ObjectType.Apttus_Config2__ConfigCustomDisplayColumns__c.Fields.Apttus_Config2__Flow__c.Label}" 
									  for="idFlow" />
					<apex:outputPanel styleClass="requiredInput" layout="block">
   						<apex:outputPanel styleClass="requiredBlock" layout="block"/>
  						<!-- <apex:actionRegion > -->
	  						<apex:selectList id="idFlow" 
	  										 value="{!Flow}" 
	  										 multiselect="false" 
	  										 required="true" 
	  										 size="1" >
								<apex:selectOptions value="{!FlowItems}"></apex:selectOptions>
								<apex:actionSupport event="onchange" status="idActionStatus" reRender="idDisplayColumnBlock" />
							</apex:selectList>
					<!--  	</apex:actionRegion> -->
 					</apex:outputPanel>
				</apex:pageBlockSectionItem>
				
				<apex:pageBlockSectionItem />
				
		    	<apex:pageBlockTable value="{!DisplayColumns}" 
		    	 					 var="columnSO" 
		    	 					 rowClasses="oddRow,evenRow" >
		        	
		        	<apex:column value="{!columnSO.Apttus_Config2__Sequence__c}"   
		        				 width="5%" >
					</apex:column>
					
					<apex:column value="{!columnSO.Apttus_Config2__DisplayType__c}" />
					
					<apex:column value="{!columnSO.Apttus_Config2__Flow__c}" />
					
					<apex:column headerValue="{!$ObjectType.Apttus_Config2__ConfigCustomDisplayColumns__c.Fields.Apttus_Config2__FieldName__c.Label}" >
	        			<apex:selectList id="idField" size="1" value="{!columnSO.Apttus_Config2__FieldName__c}" >
				      		<apex:selectOptions value="{!fieldItems}"></apex:selectOptions>
				      	</apex:selectList>
						
					</apex:column>
					
					<apex:column headerValue="{!$ObjectType.Apttus_Config2__ConfigCustomDisplayColumns__c.Fields.Apttus_Config2__IsEditable__c.Label}" 
								 rendered="{!NOT(IsReadOnlyDisplay)}" >
		        		<apex:inputField value="{!columnSO.Apttus_Config2__IsEditable__c}" />
					</apex:column>
					
					<apex:column headerValue="{!$ObjectType.Apttus_Config2__ConfigCustomDisplayColumns__c.Fields.Apttus_Config2__IsSortable__c.Label}" 
								 rendered="{!IsSortableDisplay}" >
		        		<apex:inputField value="{!columnSO.Apttus_Config2__IsSortable__c}" />
					</apex:column>
					
					<apex:column headerValue="{!$ObjectType.Apttus_Config2__ConfigCustomDisplayColumns__c.Fields.Apttus_Config2__Style__c.Label}" >
		        		<apex:inputField value="{!columnSO.Apttus_Config2__Style__c}" />
					</apex:column>
					
					<apex:column headerValue="{!$ObjectType.Apttus_Config2__ConfigCustomDisplayColumns__c.Fields.Apttus_Config2__StyleClass__c.Label}" >
		        		<apex:inputField value="{!columnSO.Apttus_Config2__StyleClass__c}" />
					</apex:column>
					
					<apex:column headerValue="{!$ObjectType.Apttus_Config2__ConfigCustomDisplayColumns__c.Fields.Apttus_Config2__HeaderStyle__c.Label}" >
		        		<apex:inputField value="{!columnSO.Apttus_Config2__HeaderStyle__c}" />
					</apex:column>
					
				   	<apex:column width="5%" >
				    	<apex:commandLink action="{!doAddRow}" 
								  	  	  reRender="idDisplayColumnBlock" 
								  	  	  status="idActionStatus">
							<apex:param name="rowNum" value="{!columnSO.Apttus_Config2__Sequence__c}" />	
							<apex:image url="{!$Resource.Apttus_Config2__Image_Plus2}" 
				                       	title="{!$Label.Apttus_Config2__Add}" 
				                       	alt="{!$Label.Apttus_Config2__Add}" />   		  	  	  
						</apex:commandLink>
				   	</apex:column>
				   	
				   	<apex:column width="5%" >
					   	<apex:commandLink action="{!doDeleteRow}" 
									  	  reRender="idDisplayColumnBlock" 
									  	  rendered="{!columnSO.Apttus_Config2__Sequence__c > 1}" 
									  	  status="idActionStatus">
							<apex:param name="rowNum" value="{!columnSO.Apttus_Config2__Sequence__c}" />
							<apex:image url="{!$Resource.Apttus_Config2__Image_Minus2}" 
			                    		title="{!$Label.Apttus_Config2__Remove}" 
			                    		alt="{!$Label.Apttus_Config2__Remove}" />  
						</apex:commandLink>
					</apex:column>
				   	<apex:column width="5%" >
				   		<apex:commandLink action="{!doMoveUpRow}" 
								  	  	  reRender="idDisplayColumnBlock"
								  	  	  rendered="{!columnSO.Apttus_Config2__Sequence__c > 1}" 
								  	  	  status="idActionStatus">
							<apex:param name="rowNum" value="{!columnSO.Apttus_Config2__Sequence__c}" />
							<apex:image url="{!$Resource.Apttus_Config2__Image_MoveUp}" 
                        				title="{!$Label.Apttus_Config2__MoveUp}" 
                        				alt="{!$Label.Apttus_Config2__MoveUp}" />
						</apex:commandLink>
						<apex:commandLink action="{!doMoveDownRow}" 
								  	  	  reRender="idDisplayColumnBlock" 
								  	  	  rendered="{!columnSO.Apttus_Config2__Sequence__c < lastRowSequence}" 
								  	  	  status="idActionStatus">
							<apex:param name="rowNum" value="{!columnSO.Apttus_Config2__Sequence__c}" />
							<apex:image url="{!$Resource.Apttus_Config2__Image_MoveDown}" 
                        				title="{!$Label.Apttus_Config2__MoveDown}" 
                        				alt="{!$Label.Apttus_Config2__MoveDown}" />
						</apex:commandLink>
				   	</apex:column>
				   	
		        </apex:pageBlockTable>
			        
		    </apex:pageBlockSection>
	    
		</apex:pageBlock>
		<apex:actionFunction name="invokeDoLoadDefaultSettings"
								action="{!doLoadDefaultSettings}" 
		        				rerender="idDisplayColumnSection"
		        				status="idActionStatus">
		</apex:actionFunction>
		<div id="idLoadingDefaultsWarningPanel" title="{!$Label.Warning}" style = "display:none;">
		  {!$Label.WarningLoadDefaultSettings}
		</div>
	
	</apex:form>

</apex:page>