<!-- 
	Apttus Deal Manager
	DealGuidanceRule
	 
	@2012-2013 Apttus Inc. All rights reserved.
 -->
<apex:page standardController="Apttus_DealMgr__DealGuidanceRule__c" extensions="Apttus_DealMgr.DealGuidanceRuleController">


    <apex:includeScript value="{!URLFOR($Resource.Apttus_DealMgr__JQueryUILibrary19, 'js/jquery-1.8.3.min.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.Apttus_DealMgr__JQueryUILibrary19, 'js/jquery-ui-1.9.2.custom.min.js')}"/> 
    <apex:includeScript value="{!URLFOR($Resource.Apttus_DealMgr__FormeeLibrary, '/js/formee.js')}" />
    
    <apex:stylesheet value="{!URLFOR($Resource.Apttus_DealMgr__JQueryUILibrary19, 'css/smoothness/jquery-ui-1.9.2.custom.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.Apttus_DealMgr__FormeeLibrary, '/css/formee-style.css')}" />
    <apex:stylesheet value="{!URLFOR($Resource.Apttus_DealMgr__FormeeLibrary, '/css/formee-structure.css')}" />
	<apex:stylesheet value="{!URLFOR($Resource.Apttus_DealMgr__DealRuleLibrary, '/css/DealGuidancePage.css')}" />
	<script type="text/javascript" src="/soap/ajax/25.0/connection.js"></script>
	<script type="text/javascript" src="/soap/ajax/25.0/apex.js"></script>
	
	<style>
		#dialog-confirm{
				display:none;
		}
	</style> 	

	<script type="text/javascript">
		var j$ = jQuery.noConflict();
		j$.APTTUS = {};
		
		j$(document).ready(function(){
			
			j$('.elem').each(function() {
			    j$(this).css("color", isDark(j$(this).css("background-color")) ? 'white' : 'black');
			});
			
		});
			
			
	//set the properties and actions of the remove dialog
	function promptDelete(){
		j$( "#dialog-confirm" ).dialog({
			resizable: false,
			modal: true,
			buttons: {
			"{!$Label.Apttus_DealMgr__Delete}": function() {
					doDeleteRule();
					j$( this ).dialog( "close" );
				},
				Cancel: function() {
					j$( this ).dialog( "close" );
	
				}
	
			}
  	
  		});
	
	}

	function isDark( color ) {
	    var match = /rgb\((\d+).*?(\d+).*?(\d+)\)/.exec(color);
	    return parseFloat(match[1])
	         + parseFloat(match[2])
	         + parseFloat(match[3])
	           < (3 * (256 / 2)); // r+g+b should be less than half of max (3 * 256)
	}	
				
		function updateFieldList()
		{
			//alert('hello');
			doUpdateFieldList();
		}
		
		/**
		 * Initializes the call
		 */
		function initCall() {
			
			try {
				sforce.connection.sessionId = "{!$Api.Session_ID}"; //to avoid session timeout
				} catch(e) {
					ap_erroralert(ap_cERROR_UNKNOWN,e);
				}
				
		}
						
		function getDependentOptions (objName, ctrlFieldName, depFieldName) 
		{
			initCall();
			// Isolate the Describe info for the relevant fields
			var objDesc = sforce.connection.describeSObject(objName);
			var ctrlFieldDesc, depFieldDesc;
			var found = 0;
			for (var i=0; i<objDesc.fields.length; i++) {
				var f = objDesc.fields[i];
				if (f.name == ctrlFieldName) {
				ctrlFieldDesc = f;
				found++;
				} else if (f.name == depFieldName) {
				depFieldDesc = f;
				found++;
				}
				if (found==2) break;
			}
 
			// Set up return object
			var dependentOptions = {};
			var ctrlValues = ctrlFieldDesc.picklistValues;
			for (var i=0; i<ctrlValues.length; i++) {
			dependentOptions[ctrlValues[i].label] = [];
			}
 
			var base64 = new sforce.Base64Binary("");
			function testBit (validFor, pos) 
			{
				var byteToCheck = Math.floor(pos/8);
				var bit = 7 - (pos % 8);
				return ((Math.pow(2, bit) & validFor.charCodeAt(byteToCheck)) >> bit) == 1;
			}

			// For each dependent value, check whether it is valid for each controlling value
			var depValues = depFieldDesc.picklistValues;
			for (var i=0; i<depValues.length; i++) {
				var thisOption = depValues[i];
				var validForDec = base64.decode(thisOption.validFor);
				for (var ctrlValue=0; ctrlValue<ctrlValues.length; ctrlValue++) 
				{
					if (testBit(validForDec, ctrlValue)) 
					{
						dependentOptions[ctrlValues[ctrlValue].label].push(thisOption.label);
					}
				}
			}
			
			return dependentOptions;
		}
 
	 	function updateDependentPickListHandler(fieldNameGuidanceType)
	 	{
	 		var fnGuidanceType = document.getElementById(fieldNameGuidanceType);
			var OBJ_NAME = "{!JSENCODE(objName)}";
			var CTRL_FIELD_NAME = "{!JSENCODE(ctrlFieldName)}";
			var DEP_FIELD_NAME = "{!JSENCODE(depFieldName)}";
			var options = getDependentOptions(OBJ_NAME, CTRL_FIELD_NAME, DEP_FIELD_NAME);
			//console.debug(options);
			var strOptions=JSON.stringify(options);
			doUpdateDependentPickListJs(strOptions,fnGuidanceType.value);
	 		
	 	}		
	</script>

	
<apex:form id="wizardForm">

	<apex:outputPanel id="idErrorMsg">
			<apex:pageMessages />
	</apex:outputPanel>
	<div id="contentWrap" class="aptRoundedDiv">
			<div class="aptGroupHeader">
				<h2 class="main-head">
				<apex:sectionHeader title="{!$ObjectType.Apttus_DealMgr__DealGuidanceRule__c.Label & ' ' & $Label.Apttus_DealMgr__Edit}" 
										subtitle="{!$Label.Apttus_DealMgr__New & ' ' & $ObjectType.Apttus_DealMgr__DealGuidanceRule__c.Label}" 
										rendered="{!ISBLANK(Apttus_DealMgr__DealGuidanceRule__c.Id)}" />
													
				<apex:sectionHeader title="{!$ObjectType.Apttus_DealMgr__DealGuidanceRule__c.Label & ' ' & $Label.Apttus_DealMgr__Edit}" 
									subtitle="{!Apttus_DealMgr__DealGuidanceRule__c.Name}" 
									rendered="{!NOT(ISBLANK(Apttus_DealMgr__DealGuidanceRule__c.Id))}" />				
				</h2>
				
			</div>
		<br/>	
		<apex:pageBlock mode="edit" id="idDealGuidanceRuleBlock" rendered="{!NOT(IsViewMode)}">

			<!-- Page block Buttons -->		
			<apex:pageBlockButtons location="both" >
				<apex:outputpanel id="buttonBlock">
					
					<apex:commandLink action="{!doSave}" value="{!$Label.Apttus_DealMgr__Save}" styleClass="aptListButton"/>
					<apex:commandLink value="{!$Label.Apttus_DealMgr__SaveAndNew}" action="{!doSaveAndNew}" styleClass="aptListButton"/>
					<apex:commandLink action="{!doCancel}" value="{!$Label.Apttus_DealMgr__Cancel}" styleClass="aptListButton" immediate="true"/>

				</apex:outputpanel>
			</apex:pageBlockButtons>

				 				
			<apex:pageBlock mode="edit">
				
				<div class="aptRoundedDiv" style="margin:10px;width:auto;">
					<div class="aptGroupHeader">
						<h2>
							<apex:outputtext value="{!$ObjectType.Apttus_DealMgr__DealGuidanceRule__c.Label & ' ' & $Label.Apttus_DealMgr__Edit}"/>
						</h2>
					</div>

				<!-- Deal Guidance Rule Header -->
				<apex:pageBlockSection columns="1" title="{!$Label.Apttus_DealMgr__Information}">
					<apex:pageBlockSectionItem >
						<apex:outputLabel value="{!$ObjectType.Apttus_DealMgr__DealGuidanceRule__c.Fields.Name.Label}" 
										  for="idName" />				
						<apex:outputPanel styleClass="requiredInput" layout="block">
		   						<apex:outputPanel styleClass="requiredBlock" layout="block"/>					
								<apex:inputfield id="idName" value="{!Apttus_DealMgr__DealGuidanceRule__c.Name}"/> 
						</apex:outputPanel>
					</apex:pageBlockSectionItem>
					<apex:pageBlockSectionItem >
						<apex:outputLabel value="{!$ObjectType.Apttus_DealMgr__DealGuidanceRule__c.Fields.Apttus_DealMgr__Sequence__c.Label}" 
										  for="idSequence" />				
						<apex:outputPanel styleClass="requiredInput" layout="block">
		   						<apex:outputPanel styleClass="requiredBlock" layout="block"/>					
								<apex:inputfield id="idSequence" value="{!Apttus_DealMgr__DealGuidanceRule__c.Apttus_DealMgr__Sequence__c}" required="false"/> 
						</apex:outputPanel>
					</apex:pageBlockSectionItem>					
					<apex:pageBlockSectionItem >
						<apex:outputLabel value="{!$ObjectType.Apttus_DealMgr__DealGuidanceRule__c.Fields.Apttus_DealMgr__GuidanceType__c.Label}" 
										  for="idGuidanceType" />				
						<apex:outputPanel styleClass="requiredInput" layout="block">
		   						<apex:outputPanel styleClass="requiredBlock" layout="block"/>					
								<apex:inputfield id="idGuidanceType" value="{!Apttus_DealMgr__DealGuidanceRule__c.Apttus_DealMgr__GuidanceType__c}"
									onChange="updateDependentPickListHandler('{!$Component.idGuidanceType}');"/>
								
								<apex:actionStatus id="idBOStatusWait2" startText="{!$Label.Apttus_DealMgr__PleaseWait}" /> 
						</apex:outputPanel>
					</apex:pageBlockSectionItem>
					
					<apex:pageBlockSectionItem >
						<apex:outputLabel value="{!$ObjectType.Apttus_DealMgr__DealGuidanceRule__c.Fields.Apttus_DealMgr__BusinessObject__c.Label}" 
										  for="idBusinessObject" />
						<apex:outputPanel styleClass="requiredInput" layout="block">
	   						<apex:outputPanel styleClass="requiredBlock" layout="block"/>
								<apex:selectList id="idBusinessObject" 
	  										 value="{!Apttus_DealMgr__DealGuidanceRule__c.Apttus_DealMgr__BusinessObject__c}" 
	  										 multiselect="false" 
	  										 required="false" 
	  										 size="1"  onChange="updateFieldList();" >
									<apex:selectOptions value="{!businessObjectItems}"></apex:selectOptions>
								</apex:selectList>										
							<apex:actionStatus id="idBOStatusWait" startText="{!$Label.Apttus_DealMgr__PleaseWait}" />	
	 					</apex:outputPanel>
					</apex:pageBlockSectionItem>

					<apex:pageBlockSectionItem id="idDimensionSetFieldSection">
						<apex:outputLabel value="{!$ObjectType.Apttus_DealMgr__DealGuidanceRule__c.Fields.Apttus_DealMgr__DimensionSetId__c.Label}" 
										  for="idDimensionSetId" />
						<apex:outputPanel styleClass="requiredInput" layout="block">
	   						<apex:outputPanel styleClass="requiredBlock" layout="block"/>
							<apex:selectList id="idDimensionSetId" 
  										 value="{!Apttus_DealMgr__DealGuidanceRule__c.Apttus_DealMgr__DimensionSetId__c}" 
  										 multiselect="false" 
  										 size="1">
									<apex:selectOptions value="{!DimensionsetItems}"></apex:selectOptions>
							</apex:selectList>
								<apex:actionsupport event="onchange" action="{!doInitializeRuleEntryGrid}"
									reRender="idDealGuidanceRuleEntriesPanel"
									status="idStatusWait"/>
								<apex:actionStatus id="idStatusWait" startText="{!$Label.Apttus_DealMgr__PleaseWait}" />															
	 					</apex:outputPanel>
					</apex:pageBlockSectionItem>
					
					<apex:pageBlockSectionItem >
						<apex:outputLabel value="{!$ObjectType.Apttus_DealMgr__DealGuidanceRule__c.Fields.Apttus_DealMgr__Measure__c.Label}" 
										  for="idMeasure" />				
						<apex:outputPanel styleClass="requiredInput" layout="block">
		   						<apex:outputPanel styleClass="requiredBlock" layout="block"/>					
								<apex:inputfield id="idMeasure" value="{!Apttus_DealMgr__DealGuidanceRule__c.Apttus_DealMgr__Measure__c}"/> 
						</apex:outputPanel>
					</apex:pageBlockSectionItem>

					<apex:pageBlockSectionItem >
						<apex:outputLabel value="{!$ObjectType.Apttus_DealMgr__DealGuidanceRule__c.Fields.Apttus_DealMgr__InitialRows__c.Label}" 
										  for="idInitialRows" />				
						<apex:outputPanel styleClass="requiredInput" layout="block">
		   						<apex:outputPanel styleClass="requiredBlock" layout="block"/>					
								<apex:inputfield id="idInitialRows" value="{!Apttus_DealMgr__DealGuidanceRule__c.Apttus_DealMgr__InitialRows__c}"/>
								<apex:actionsupport event="onchange" action="{!doInitializeRuleEntryGridRows}"
									reRender="idDealGuidanceRuleEntriesPanel"
									status="idStatusWait2"/>
								<apex:actionStatus id="idStatusWait2" startText="{!$Label.Apttus_DealMgr__PleaseWait}" />	
						</apex:outputPanel>
					</apex:pageBlockSectionItem>
					
					<apex:inputfield id="idActive" value="{!Apttus_DealMgr__DealGuidanceRule__c.Apttus_DealMgr__Active__c}"/>
					<apex:inputfield id="idDescription" value="{!Apttus_DealMgr__DealGuidanceRule__c.Apttus_DealMgr__Description__c}" style="width:500px;"/>
	 				
				</apex:pageBlockSection>

				<!-- Deal Guidance Rule Criteria -->
			    <apex:outputPanel id="idCriteriaBlock">
				
					<div class="aptRoundedDiv" style="margin:10px;width:auto;">
									<div class="aptGroupHeader">
										<h2>{!$Label.Apttus_DealMgr__RuleCriteria}</h2>
									</div>
						<apex:pageBlockSection columns="1">				
							<apex:pageBlockSectionItem rendered="{!isRuleLineLevel}">
								<apex:outputLabel value="{!$ObjectType.Apttus_DealMgr__DealGuidanceRule__c.Fields.Apttus_DealMgr__ProductFamily__c.Label}" 
												  for="idProductFamily" />				
								<apex:outputPanel styleClass="requiredInput" layout="block">
				   						<apex:outputPanel styleClass="requiredBlock" layout="block"/>					
										<apex:inputfield id="idProductFamily" value="{!Apttus_DealMgr__DealGuidanceRule__c.Apttus_DealMgr__ProductFamily__c}"/> 
								</apex:outputPanel>
							</apex:pageBlockSectionItem>							
							<apex:outputfield value="{!Apttus_DealMgr__DealGuidanceRule__c.Apttus_DealMgr__Criteria__c}" rendered="false"/>
							<apex:outputfield value="{!Apttus_DealMgr__DealGuidanceRule__c.Apttus_DealMgr__CriteriaFieldNames__c}" rendered="false"/>
						</apex:pageBlockSection>

					    
					    <apex:pageBlockSection id="idPredicatesSection" 
					    					   columns="2" 
					    					   collapsible="false" >
					        <apex:pageBlockTable value="{!predicates}" 
					        					 var="predicate" 
					        					 columns="8" 
					        					 rowClasses="oddRow,evenRow" >
					        	
					        	<apex:column width="5%" rendered="{!isAdvancedOptionsMode}" >
					        		<apex:outputText id="idRowNum" value="{!predicate.RowNum}. " />
								</apex:column>
					        	<apex:column headerValue="{!$Label.Apttus_DealMgr__Field}" width="25%" >
					        		<apex:outputPanel styleClass="{!IF(predicate.FieldInError, 'errorRow', '')}" layout="block" >
					        			<apex:selectList id="idField" size="1" value="{!predicate.FieldName}" >
								      		<apex:selectOptions value="{!FieldItems}"></apex:selectOptions>
								      		<apex:actionSupport event="onchange" 
								      							action="{!doUpdateFieldInfo}" 
								      							reRender="idPredicatesSection" />
								      	</apex:selectList>
									</apex:outputPanel>
								</apex:column>
								<apex:column headerValue="{!$Label.Apttus_DealMgr__Operator}" width="25%" >
							    	<apex:outputPanel styleClass="{!IF(predicate.CompOperInError, 'errorRow', '')}" layout="block" >
								    	<apex:selectList id="idCompOper" size="1" value="{!predicate.CompOper}" >
								      		<apex:selectOptions value="{!compOperItems}"></apex:selectOptions>
								      	</apex:selectList>
							      	</apex:outputPanel>
							   	</apex:column>
						   		<apex:column headerValue="{!$Label.Apttus_DealMgr__Value}" width="25%" >
							    	<apex:outputPanel styleClass="{!IF(predicate.FieldValueInError, 'errorRow', '')}" layout="block" >
							    		<apex:inputText id="idFieldValue" 
							    						size="25" 
							    						value="{!predicate.FieldValue}" 
							    						rendered="{!NOT(predicate.IsPicklist)}" />
							    		<apex:selectList id="idFieldValue2" 
							    						 size="1" 
							    						 multiselect="false"
							    						 value="{!predicate.FieldValue}" 
							    						 rendered="{!predicate.IsPicklist && NOT(predicate.IsMultiPicklist)}" >
								      		<apex:selectOptions value="{!predicate.fieldValueItems}"></apex:selectOptions>
								      	</apex:selectList>
								      	<apex:selectList id="idFieldValue3" 
							    						 size="5" 
							    						 multiselect="true"
							    						 value="{!predicate.FieldValues}" 
							    						 rendered="{!predicate.IsPicklist && predicate.IsMultiPicklist}" >
								      		<apex:selectOptions value="{!predicate.fieldValueItems}"></apex:selectOptions>
								      	</apex:selectList>
							   		</apex:outputPanel>
							   	</apex:column>
							   	<apex:column width="5%" >
							    	<apex:outputText id="idBoolOper" 
							    					 value="{!predicate.BoolOper}" 
							    					 rendered="false"/> <!-- {!NOT(isAdvancedOptionsMode) && NOT(ISBLANK(predicate.BoolOper))}" />  -->
							    	<apex:commandLink action="{!doAddRow}" 
										  	  	  	  reRender="idPredicatesSection, idAdvancedOptionsSection" 
										  	  	  	   > <!-- rendered="{!NOT(isAdvancedOptionsMode) && ISBLANK(predicate.BoolOper)}" --> 
										<apex:image url="{!$Resource.Apttus_DealMgr__Image_Plus2}" 
					                       			title="{!$Label.Apttus_DealMgr__Add}" 
					                       			alt="{!$Label.Apttus_DealMgr__Add}" />  	  	  	  
									</apex:commandLink>
							   	</apex:column>
							   	<apex:column width="5%" >
							   	<apex:commandLink id="idDeleteRow" 
											      action="{!doDeleteRow}" 
											  	  reRender="idPredicatesSection, idAdvancedOptionsSection" 
											  	  rendered="{!predicate.RowNum > 1}" >
									<apex:param name="rowNum" value="{!predicate.RowNum}" />	
									<apex:image url="{!$Resource.Apttus_DealMgr__Image_Minus2}" 
					                       		title="{!$Label.Apttus_DealMgr__Remove}" 
					                       		alt="{!$Label.Apttus_DealMgr__Remove}" />	  
								</apex:commandLink>
								</apex:column>
							   	<apex:column width="10%" >
							   		<apex:outputText value="{!predicate.ErrorMsg}" style="color:red;" />
							   	</apex:column>
							   
					        </apex:pageBlockTable>
				        
				    	</apex:pageBlockSection>
					</div>
	 	 		</apex:outputPanel>
	 	 	
				<!-- Deal Guidance Rule Entries -->
		    	<apex:outputPanel id="idDealGuidanceRuleEntriesPanel">

					<div class="aptRoundedDiv" style="margin:10px;width:auto;">
									<div class="aptGroupHeader">
										<h2>{!$ObjectType.DealGuidanceRuleEntry__c.LabelPlural}</h2>
									</div>
		    					<input class="expand-filters" type="checkbox" value="{!IsruleEntryExpanded}" />
		    					<div class="child-filter-fields">
					    		<apex:pageBlockSection id="idDealGuidanceRuleEntriesSection" 
					    					   columns="2" 
					    					   collapsible="false" 
					    					   rendered="{!ShowEntryGridInAddNewMode}">
							        <apex:pageBlockTable id="idDealGuidanceRuleEntriesTable" 
							        					 value="{!ruleEntries}" 
							        					 var="entryInfo" 
							        					 columns="14"   
							        					 width="100%" 
							        					 rowClasses="oddRow,evenRow"  
							        					 rendered="{!HasRuleEntries}" >
							        	
							        	<apex:column headerValue="{!$ObjectType.Apttus_DealMgr__DealGuidanceRuleEntry__c.Fields.Apttus_DealMgr__Sequence__c.Label}" 
							        				 width="5%" >
							        		<apex:outputField value="{!entryInfo.entrySO.Apttus_DealMgr__Sequence__c}" />
										</apex:column>
										
							        	<apex:column headerValue="{!dimension1Label}" 
							        				 width="10%" >
							        		<apex:outputPanel styleClass="{!IF(entryInfo.Dim1InError, 'errorRow', '')}" layout="block" >
							        			<apex:inputField value="{!entryInfo.entrySO.Apttus_DealMgr__Dimension1Value__c}" 
							        							 rendered="{!NOT(isDimension1Picklist)}" />
							        			<apex:selectList value="{!entryInfo.entrySO.Apttus_DealMgr__Dimension1Value__c}" 
						  										 multiselect="false" 
						  										 required="false" 
						  										 size="1" 
						  										 rendered="{!isDimension1Picklist && NOT(isDimension1MultiPicklist)}" >
													<apex:selectOptions value="{!dimension1PicklistItems}" />
												</apex:selectList>
												<apex:selectList value="{!entryInfo.Dimension1Values}" 
						  										 multiselect="true" 
						  										 required="false" 
						  										 size="5" 
						  										 rendered="{!isDimension1Picklist && isDimension1MultiPicklist}" >
													<apex:selectOptions value="{!dimension1PicklistItems}" />
												</apex:selectList>
											</apex:outputPanel>
										</apex:column>
										
										<apex:column headerValue="{!dimension2Label}" 
													 width="8%" 
													 rendered="{!isDimension2Enabled}" >
							        		<apex:outputPanel styleClass="{!IF(entryInfo.Dim2InError, 'errorRow', '')}" layout="block" >
							        			<apex:inputField value="{!entryInfo.entrySO.Apttus_DealMgr__Dimension2Value__c}" 
							        							 rendered="{!NOT(isDimension2Picklist)}" />
							        			<apex:selectList value="{!entryInfo.entrySO.Apttus_DealMgr__Dimension2Value__c}" 
						  										 multiselect="false"   
						  										 required="false" 
						  										 size="1" 
						  										 rendered="{!isDimension2Picklist && NOT(isDimension2MultiPicklist)}" >
													<apex:selectOptions value="{!dimension2PicklistItems}" />
												</apex:selectList>
												<apex:selectList value="{!entryInfo.Dimension2Values}" 
						  										 multiselect="true"  
						  										 required="false" 
						  										 size="5" 
						  										 rendered="{!isDimension2Picklist && isDimension2MultiPicklist}" >
													<apex:selectOptions value="{!dimension2PicklistItems}" />
												</apex:selectList>
											</apex:outputPanel>
										</apex:column>
										
								   		<apex:column headerValue="{!dimension3Label}" 
								   					 width="8%" 
								   					 rendered="{!isDimension3Enabled}" >
							        		<apex:outputPanel styleClass="{!IF(entryInfo.Dim3InError, 'errorRow', '')}" layout="block" >
							        			<apex:inputField value="{!entryInfo.entrySO.Apttus_DealMgr__Dimension3Value__c}" 
							        							 rendered="{!NOT(isDimension3Picklist)}" />
							        			<apex:selectList value="{!entryInfo.entrySO.Apttus_DealMgr__Dimension3Value__c}" 
						  										 multiselect="false"  
						  										 required="false" 
						  										 size="1" 
						  										 rendered="{!isDimension3Picklist && NOT(isDimension3MultiPicklist)}" >
													<apex:selectOptions value="{!dimension3PicklistItems}" />
												</apex:selectList>
												<apex:selectList value="{!entryInfo.Dimension3Values}" 
						  										 multiselect="true"  
						  										 required="false" 
						  										 size="5" 
						  										 rendered="{!isDimension3Picklist && isDimension3MultiPicklist}" >
													<apex:selectOptions value="{!dimension3PicklistItems}" />
												</apex:selectList>
											</apex:outputPanel>
										</apex:column>
										
										<apex:column headerValue="{!dimension4Label}" 
													 width="8%" 
													 rendered="{!isDimension4Enabled}" >
							        		<apex:outputPanel styleClass="{!IF(entryInfo.Dim4InError, 'errorRow', '')}" layout="block" >
							        			<apex:inputField value="{!entryInfo.entrySO.Apttus_DealMgr__Dimension4Value__c}" 
							        							 rendered="{!NOT(isDimension4Picklist)}" />
							        			<apex:selectList value="{!entryInfo.entrySO.Apttus_DealMgr__Dimension4Value__c}" 
						  										 multiselect="false"  
						  										 required="false" 
						  										 size="1" 
						  										 rendered="{!isDimension4Picklist && NOT(isDimension4MultiPicklist)}" >
													<apex:selectOptions value="{!dimension4PicklistItems}" />
												</apex:selectList>
												<apex:selectList value="{!entryInfo.Dimension4Values}" 
						  										 multiselect="true"  
						  										 required="false" 
						  										 size="5" 
						  										 rendered="{!isDimension4Picklist && isDimension4MultiPicklist}" >
													<apex:selectOptions value="{!dimension4PicklistItems}" />
												</apex:selectList>
											</apex:outputPanel>
										</apex:column>
										
										<apex:column headerValue="{!dimension5Label}" 
													 width="8%" 
													 rendered="{!isDimension5Enabled}" >
							        		<apex:outputPanel styleClass="{!IF(entryInfo.Dim5InError, 'errorRow', '')}" layout="block" >
							        			<apex:inputField value="{!entryInfo.entrySO.Apttus_DealMgr__Dimension5Value__c}" 
							        							 rendered="{!NOT(isDimension5Picklist)}" />
							        			<apex:selectList value="{!entryInfo.entrySO.Apttus_DealMgr__Dimension5Value__c}" 
						  										 multiselect="false"  
						  										 required="false" 
						  										 size="1" 
						  										 rendered="{!isDimension5Picklist && NOT(isDimension5MultiPicklist)}" >
													<apex:selectOptions value="{!dimension5PicklistItems}" />
												</apex:selectList>
												<apex:selectList value="{!entryInfo.Dimension5Values}" 
						  										 multiselect="true"  
						  										 required="false" 
						  										 size="5" 
						  										 rendered="{!isDimension5Picklist && isDimension5MultiPicklist}" >
													<apex:selectOptions value="{!dimension5PicklistItems}" />
												</apex:selectList>
											</apex:outputPanel>
										</apex:column>
										
										<apex:column headerValue="{!dimension6Label}" 
													 width="8%" 
													 rendered="{!isDimension6Enabled}" >
							        		<apex:outputPanel styleClass="{!IF(entryInfo.Dim6InError, 'errorRow', '')}" layout="block" >
							        			<apex:inputField value="{!entryInfo.entrySO.Apttus_DealMgr__Dimension6Value__c}" 
							        							 rendered="{!NOT(isDimension6Picklist)}" />
							        			<apex:selectList value="{!entryInfo.entrySO.Apttus_DealMgr__Dimension6Value__c}" 
						  										 multiselect="false"  
						  										 required="false" 
						  										 size="1" 
						  										 rendered="{!isDimension6Picklist && NOT(isDimension6MultiPicklist)}" >
													<apex:selectOptions value="{!dimension6PicklistItems}" />
												</apex:selectList>
												<apex:selectList value="{!entryInfo.Dimension6Values}" 
						  										 multiselect="true"  
						  										 required="false" 
						  										 size="5" 
						  										 rendered="{!isDimension6Picklist && isDimension6MultiPicklist}" >
													<apex:selectOptions value="{!dimension6PicklistItems}" />
												</apex:selectList>
											</apex:outputPanel>
										</apex:column>
					
										<apex:column rendered="{!isBand1Enabled}" >
											<apex:facet name="header">
												<div Class="elem" Style="background-color:{!Band1ColorCode}">
													{!Band1Label}
												</div>
											</apex:facet>													 
							        		<apex:outputPanel styleClass="{!IF(entryInfo.Dim1InError, 'errorRow', '')}" layout="block" >
							        			<apex:inputField style="Width:80px" value="{!entryInfo.entrySO.Apttus_DealMgr__Band1Value__c}"/>
											</apex:outputPanel>
										</apex:column>
										<apex:column rendered="{!isBand2Enabled}" >
											<apex:facet name="header">
												<div Class="elem" Style="background-color:{!Band2ColorCode}">
													{!Band2Label}
												</div>
											</apex:facet>													 
							        		<apex:outputPanel styleClass="{!IF(entryInfo.Dim2InError, 'errorRow', '')}" layout="block" >
							        			<apex:inputField style="Width:80px" value="{!entryInfo.entrySO.Apttus_DealMgr__Band2Value__c}"/>
											</apex:outputPanel>
										</apex:column>
										<apex:column rendered="{!isBand3Enabled}" >
											<apex:facet name="header">
												<div Class="elem" Style="background-color:{!Band3ColorCode}">
													{!Band3Label}
												</div>
											</apex:facet>													 
							        		<apex:outputPanel styleClass="{!IF(entryInfo.Dim3InError, 'errorRow', '')}" layout="block" >
							        			<apex:inputField style="Width:80px" value="{!entryInfo.entrySO.Apttus_DealMgr__Band3Value__c}"/>
											</apex:outputPanel>
										</apex:column>
										<apex:column rendered="{!isBand4Enabled}" >
											<apex:facet name="header">
												<div Class="elem" Style="background-color:{!Band4ColorCode}">
													{!Band4Label}
												</div>
											</apex:facet>													 
							        		<apex:outputPanel styleClass="{!IF(entryInfo.Dim4InError, 'errorRow', '')}" layout="block" >
							        			<apex:inputField style="Width:80px" value="{!entryInfo.entrySO.Apttus_DealMgr__Band4Value__c}"/>
											</apex:outputPanel>
										</apex:column>
										<apex:column rendered="{!isBand5Enabled}" >
											<apex:facet name="header">
												<div Class="elem" Style="background-color:{!Band5ColorCode}">
													{!Band5Label}
												</div>
											</apex:facet>													 
							        		<apex:outputPanel styleClass="{!IF(entryInfo.Dim5InError, 'errorRow', '')}" layout="block" >
							        			<apex:inputField style="Width:80px" value="{!entryInfo.entrySO.Apttus_DealMgr__Band5Value__c}"/>
											</apex:outputPanel>
										</apex:column>
										<apex:column rendered="{!isBand6Enabled}" >
											<apex:facet name="header">
												<div Class="elem" Style="background-color:{!Band6ColorCode}">
													{!Band6Label}
												</div>
											</apex:facet>													 
							        		<apex:outputPanel styleClass="{!IF(entryInfo.Dim6InError, 'errorRow', '')}" layout="block" >
							        			<apex:inputField style="Width:80px" value="{!entryInfo.entrySO.Apttus_DealMgr__Band6Value__c}"/>
											</apex:outputPanel>
										</apex:column>
					
					
					
									   	<apex:column width="5%" >
									    	<apex:commandLink action="{!doAddEntryRow}" 
													  	  	  reRender="idDealGuidanceRuleEntriesSection" >
												<apex:param name="rowNum" value="{!entryInfo.entrySO.Apttus_DealMgr__Sequence__c}" />
												<apex:image url="{!$Resource.Apttus_DealMgr__Image_Plus2}" 
								                       		title="{!$Label.Apttus_DealMgr__Add}" 
								                       		alt="{!$Label.Apttus_DealMgr__Add}" />		  	  	  
											</apex:commandLink>
									   	</apex:column>
									   	
									   	<apex:column width="5%" >
										   	<apex:commandLink action="{!doDeleteEntryRow}" 
														  	  reRender="idDealGuidanceRuleEntriesSection" 
														  	  rendered="{!entryInfo.entrySO.Apttus_DealMgr__Sequence__c > 1}" >
												<apex:param name="rowNum" value="{!entryInfo.entrySO.Apttus_DealMgr__Sequence__c}" />
												<apex:image url="{!$Resource.Apttus_DealMgr__Image_Minus2}" 
								                       		title="{!$Label.Apttus_DealMgr__Remove}" 
								                       		alt="{!$Label.Apttus_DealMgr__Remove}" />		  
											</apex:commandLink>
										</apex:column>
										
					
									   	<apex:column width="5%" >
									   		<apex:outputText value="{!entryInfo.ErrorMsg}" style="color:red;" />
									   	</apex:column>
									   
							        </apex:pageBlockTable>
									
					    		</apex:pageBlockSection>
					    		<apex:pageBlockSection collapsible="false" 
					    					   rendered="{!ShowEntryGridInAddNewMode == false}">					    		
									<apex:pageblocksectionItem >
										<apex:panelGrid columns="1">
						                    <apex:outputText value="{!$Label.Apttus_DealMgr__NoRecordsToDisplay}" />
						                </apex:panelGrid>			
					                </apex:pageblocksectionItem>					    		
								</apex:pageBlockSection>
								
								</div>
					</div>
					
				</apex:outputPanel>
				
				</div>
				
			</apex:pageBlock>
		
		</apex:pageBlock>

		<!-- View Mode -->
		<apex:pageBlock id="idDealGuidanceRuleDetailBlock"
                        rendered="{!IsViewMode}"
                        mode="detail">
        
            <apex:pageBlockButtons location="both">
            	<apex:commandLink action="{!doEdit}" value="{!$Label.Apttus_DealMgr__Edit}" styleClass="aptListButton"/>
				<apex:commandLink action="{!doClone}" 
										value="{!$Label.Apttus_DealMgr__Clone}" 
										reRender="wizardForm"
										rendered="{!NOT(ISBLANK(Apttus_DealMgr__DealGuidanceRule__c.Id)) && NOT(isEditMode)}"
										styleClass="aptListButton"/> 				
				<apex:commandLink value="{!$Label.Apttus_DealMgr__Delete}"
										onClick="promptDelete();"
										rendered="{!NOT(ISBLANK(Apttus_DealMgr__DealGuidanceRule__c.Id)) && NOT(isEditMode)}"
										reRender="wizardForm"
										styleClass="aptListButton"/>            	
            </apex:pageBlockButtons>

			<apex:pageBlock mode="detail" id="idDealGuidanceRuleBlock">
				
				<div class="aptRoundedDiv" style="margin:10px;width:auto;">
					<div class="aptGroupHeader">
						<h1>
							<apex:outputtext value="{!$ObjectType.Apttus_DealMgr__DealGuidanceRule__c.Label & ' ' & $Label.Apttus_DealMgr__Detail}"/>
						</h1>										
					</div>

				<!-- Deal Guidance Rule Header -->
				<apex:pageBlockSection columns="1">
					<apex:outputfield value="{!Apttus_DealMgr__DealGuidanceRule__c.Name}"/> 
					<apex:outputfield value="{!Apttus_DealMgr__DealGuidanceRule__c.Apttus_DealMgr__Sequence__c}"/>
					<apex:outputfield value="{!Apttus_DealMgr__DealGuidanceRule__c.Apttus_DealMgr__GuidanceType__c}"/>
					
					<!-- <apex:outputfield value="{!Apttus_DealMgr__DealGuidanceRule__c.Apttus_DealMgr__BusinessObject__c}"/>  -->
					<apex:pageBlockSectionItem >
							<apex:outputLabel value="{!$ObjectType.Apttus_DealMgr__DealGuidanceRule__c.Fields.Apttus_DealMgr__BusinessObject__c.Label}" 
											  for="idBusinessObject" />
							<apex:outputtext id="idBusinessObject" value="{!BusinessObjectLabel}"/>
					</apex:pageBlockSectionItem>
											
					<apex:outputfield value="{!Apttus_DealMgr__DealGuidanceRule__c.Apttus_DealMgr__DimensionSetId__c}"/>
					<apex:outputfield value="{!Apttus_DealMgr__DealGuidanceRule__c.Apttus_DealMgr__Measure__c}"/>
					<apex:outputfield value="{!Apttus_DealMgr__DealGuidanceRule__c.Apttus_DealMgr__InitialRows__c}"/>
					<apex:outputfield value="{!Apttus_DealMgr__DealGuidanceRule__c.Apttus_DealMgr__Active__c}"/>
					<apex:outputfield value="{!Apttus_DealMgr__DealGuidanceRule__c.Apttus_DealMgr__Description__c}"/>
					<!-- <apex:outputfield value="{!Apttus_DealMgr__DealGuidanceRule__c.Apttus_DealMgr__Criteria__c}"/>
					 -->					
				</apex:pageBlockSection>
				
				<!-- Deal Guidance Rule Criteria -->
			    <apex:outputPanel >
				
					<div class="aptRoundedDiv" style="margin:10px;width:auto;">
									<div class="aptGroupHeader">
										<h2>{!$Label.Apttus_DealMgr__RuleCriteria}</h2>
									</div>
						<apex:pageBlockSection columns="1" rendered="{!isRuleLineLevel}">				
							<apex:outputfield value="{!Apttus_DealMgr__DealGuidanceRule__c.Apttus_DealMgr__ProductFamily__c}"/>
						</apex:pageBlockSection>
					    
					    <apex:pageBlockSection id="idPredicatesSection" 
					    					   columns="2" 
					    					   collapsible="false" >
					        <apex:pageBlockTable value="{!predicates}" 
					        					 var="predicate" 
					        					 columns="8" 
					        					 rowClasses="oddRow,evenRow" 
					        					 rendered="{!HasRuleCriteriaViewMode}">
					        	
					        	<apex:column width="5%" rendered="{!isAdvancedOptionsMode}" >
					        		<apex:outputText id="idRowNum" value="{!predicate.RowNum}. " />
								</apex:column>
					        	<apex:column headerValue="{!$Label.Apttus_DealMgr__Field}" width="25%" >
					        		<apex:outputPanel styleClass="{!IF(predicate.FieldInError, 'errorRow', '')}" layout="block" >
					        			<apex:selectList id="idField" size="1" value="{!predicate.FieldName}" disabled="true">
								      		<apex:selectOptions value="{!FieldItems}"></apex:selectOptions>
								      		<apex:actionSupport event="onchange" 
								      							action="{!doUpdateFieldInfo}" 
								      							reRender="idPredicatesSection" />
								      	</apex:selectList>
									</apex:outputPanel>
								</apex:column>
								<apex:column headerValue="{!$Label.Apttus_DealMgr__Operator}" width="25%" >
							    	<apex:outputPanel styleClass="{!IF(predicate.CompOperInError, 'errorRow', '')}" layout="block" >
								    	<apex:selectList id="idCompOper" size="1" value="{!predicate.CompOper}" disabled="true">
								      		<apex:selectOptions value="{!compOperItems}"></apex:selectOptions>
								      	</apex:selectList>
							      	</apex:outputPanel>
							   	</apex:column>
						   		<apex:column headerValue="{!$Label.Apttus_DealMgr__Value}" width="25%" >
							    	<apex:outputPanel styleClass="{!IF(predicate.FieldValueInError, 'errorRow', '')}" layout="block" >
							    		<apex:outputText id="idFieldValue" 
							    						value="{!predicate.FieldValue}" 
							    						rendered="{!NOT(predicate.IsPicklist)}"/>
							    		<apex:selectList id="idFieldValue2" 
							    						 size="1" 
							    						 multiselect="false"
							    						 value="{!predicate.FieldValue}" 
							    						 rendered="{!predicate.IsPicklist && NOT(predicate.IsMultiPicklist)}" disabled="true">
								      		<apex:selectOptions value="{!predicate.fieldValueItems}"></apex:selectOptions>
								      	</apex:selectList>
								      	<apex:selectList id="idFieldValue3" 
							    						 size="5" 
							    						 multiselect="true"
							    						 value="{!predicate.FieldValues}" 
							    						 rendered="{!predicate.IsPicklist && predicate.IsMultiPicklist}" disabled="true">
								      		<apex:selectOptions value="{!predicate.fieldValueItems}"></apex:selectOptions>
								      	</apex:selectList>
							   		</apex:outputPanel>
							   	</apex:column>
							   	<apex:column width="5%" >
							    	<apex:outputText id="idBoolOper" 
							    					 value="{!predicate.BoolOper}" 
							    					 rendered="false"/> 
							   	</apex:column>
							
							   
					        </apex:pageBlockTable>

				        	<apex:pageblocksectionItem rendered="{!HasRuleCriteriaViewMode=false && NOT(isRuleLineLevel)}">
										<apex:panelGrid columns="1">
						                    <apex:outputText value="{!$Label.Apttus_DealMgr__NoRecordsToDisplay}" />
						                </apex:panelGrid>			
					        </apex:pageblocksectionItem> 
				    	</apex:pageBlockSection>
					</div>
	 	 		</apex:outputPanel>
	 	 	
				<!-- Deal Guidance Rule Entries -->
		    	<apex:outputPanel >

					<div class="aptRoundedDiv" style="margin:10px;width:auto;">
									<div class="aptGroupHeader">
										<h2>{!$ObjectType.DealGuidanceRuleEntry__c.LabelPlural}</h2>
									</div>
		    					<input class="expand-filters" type="checkbox" value="{!IsruleEntryExpanded}" />
		    					<div class="child-filter-fields">
					    		<apex:pageBlockSection id="idDealGuidanceRuleEntriesSection" 
					    					   columns="2" 
					    					   collapsible="false" 
					    					   rendered="{!IsAddNewMode=false}">
							        <apex:pageBlockTable id="idDealGuidanceRuleEntriesTable" 
							        					 value="{!ruleEntries}" 
							        					 var="entryInfo" 
							        					 columns="14"   
							        					 width="100%" 
							        					 rowClasses="oddRow,evenRow"  
							        					 rendered="{!HasRuleEntriesViewMode}" >
							        	
							        	<apex:column headerValue="{!$ObjectType.Apttus_DealMgr__DealGuidanceRuleEntry__c.Fields.Apttus_DealMgr__Sequence__c.Label}" 
							        				 width="5%" >
							        		<apex:outputField value="{!entryInfo.entrySO.Apttus_DealMgr__Sequence__c}" />
										</apex:column>
										
							        	<apex:column headerValue="{!dimension1Label}">
							        		<apex:outputPanel styleClass="{!IF(entryInfo.Dim1InError, 'errorRow', '')}" layout="block" >
							        			<apex:outputField value="{!entryInfo.entrySO.Apttus_DealMgr__Dimension1Value__c}" 
							        							 rendered="{!NOT(isDimension1Picklist)}"/>
							        			<apex:selectList value="{!entryInfo.entrySO.Apttus_DealMgr__Dimension1Value__c}" 
						  										 multiselect="false" 
						  										 required="false" 
						  										 size="1" 
						  										 rendered="{!isDimension1Picklist && NOT(isDimension1MultiPicklist)}" disabled="true">
													<apex:selectOptions value="{!dimension1PicklistItems}" />
												</apex:selectList>
												<apex:selectList value="{!entryInfo.Dimension1Values}" 
						  										 multiselect="true" 
						  										 required="false" 
						  										 size="5" 
						  										 rendered="{!isDimension1Picklist && isDimension1MultiPicklist}" disabled="true">
													<apex:selectOptions value="{!dimension1PicklistItems}" />
												</apex:selectList>
											</apex:outputPanel>
										</apex:column>
										
										<apex:column headerValue="{!dimension2Label}"
													 rendered="{!isDimension2Enabled}" >
							        		<apex:outputPanel styleClass="{!IF(entryInfo.Dim2InError, 'errorRow', '')}" layout="block" >
							        			<apex:outputField value="{!entryInfo.entrySO.Apttus_DealMgr__Dimension2Value__c}" 
							        							 rendered="{!NOT(isDimension2Picklist)}"/>
							        			<apex:selectList value="{!entryInfo.entrySO.Apttus_DealMgr__Dimension2Value__c}" 
						  										 multiselect="false"   
						  										 required="false" 
						  										 size="1" 
						  										 rendered="{!isDimension2Picklist && NOT(isDimension2MultiPicklist)}" disabled="true">
													<apex:selectOptions value="{!dimension2PicklistItems}" />
												</apex:selectList>
												<apex:selectList value="{!entryInfo.Dimension2Values}" 
						  										 multiselect="true"  
						  										 required="false" 
						  										 size="5" 
						  										 rendered="{!isDimension2Picklist && isDimension2MultiPicklist}" disabled="true">
													<apex:selectOptions value="{!dimension2PicklistItems}" />
												</apex:selectList>
											</apex:outputPanel>
										</apex:column>
										
								   		<apex:column headerValue="{!dimension3Label}" 
								   					 rendered="{!isDimension3Enabled}" >
							        		<apex:outputPanel styleClass="{!IF(entryInfo.Dim3InError, 'errorRow', '')}" layout="block" >
							        			<apex:outputField value="{!entryInfo.entrySO.Apttus_DealMgr__Dimension3Value__c}" 
							        							 rendered="{!NOT(isDimension3Picklist)}"/>
							        			<apex:selectList value="{!entryInfo.entrySO.Apttus_DealMgr__Dimension3Value__c}" 
						  										 multiselect="false"  
						  										 required="false" 
						  										 size="1" 
						  										 rendered="{!isDimension3Picklist && NOT(isDimension3MultiPicklist)}" disabled="true">
													<apex:selectOptions value="{!dimension3PicklistItems}" />
												</apex:selectList>
												<apex:selectList value="{!entryInfo.Dimension3Values}" 
						  										 multiselect="true"  
						  										 required="false" 
						  										 size="5" 
						  										 rendered="{!isDimension3Picklist && isDimension3MultiPicklist}" disabled="true">
													<apex:selectOptions value="{!dimension3PicklistItems}" />
												</apex:selectList>
											</apex:outputPanel>
										</apex:column>
										
										<apex:column headerValue="{!dimension4Label}"
													 rendered="{!isDimension4Enabled}" >
							        		<apex:outputPanel styleClass="{!IF(entryInfo.Dim4InError, 'errorRow', '')}" layout="block" >
							        			<apex:outputField value="{!entryInfo.entrySO.Apttus_DealMgr__Dimension4Value__c}" 
							        							 rendered="{!NOT(isDimension4Picklist)}"/>
							        			<apex:selectList value="{!entryInfo.entrySO.Apttus_DealMgr__Dimension4Value__c}" 
						  										 multiselect="false"  
						  										 required="false" 
						  										 size="1" 
						  										 rendered="{!isDimension4Picklist && NOT(isDimension4MultiPicklist)}" disabled="true">
													<apex:selectOptions value="{!dimension4PicklistItems}" />
												</apex:selectList>
												<apex:selectList value="{!entryInfo.Dimension4Values}" 
						  										 multiselect="true"  
						  										 required="false" 
						  										 size="5" 
						  										 rendered="{!isDimension4Picklist && isDimension4MultiPicklist}" disabled="true">
													<apex:selectOptions value="{!dimension4PicklistItems}" />
												</apex:selectList>
											</apex:outputPanel>
										</apex:column>
										
										<apex:column headerValue="{!dimension5Label}"
													 rendered="{!isDimension5Enabled}" >
							        		<apex:outputPanel styleClass="{!IF(entryInfo.Dim5InError, 'errorRow', '')}" layout="block" >
							        			<apex:outputField value="{!entryInfo.entrySO.Apttus_DealMgr__Dimension5Value__c}" 
							        							 rendered="{!NOT(isDimension5Picklist)}"/>
							        			<apex:selectList value="{!entryInfo.entrySO.Apttus_DealMgr__Dimension5Value__c}" 
						  										 multiselect="false"  
						  										 required="false" 
						  										 size="1" 
						  										 rendered="{!isDimension5Picklist && NOT(isDimension5MultiPicklist)}" disabled="true">
													<apex:selectOptions value="{!dimension5PicklistItems}" />
												</apex:selectList>
												<apex:selectList value="{!entryInfo.Dimension5Values}" 
						  										 multiselect="true"  
						  										 required="false" 
						  										 size="5" 
						  										 rendered="{!isDimension5Picklist && isDimension5MultiPicklist}" disabled="true">
													<apex:selectOptions value="{!dimension5PicklistItems}" />
												</apex:selectList>
											</apex:outputPanel>
										</apex:column>
										
										<apex:column headerValue="{!dimension6Label}"
													 rendered="{!isDimension6Enabled}" >
							        		<apex:outputPanel styleClass="{!IF(entryInfo.Dim6InError, 'errorRow', '')}" layout="block" >
							        			<apex:outputField value="{!entryInfo.entrySO.Apttus_DealMgr__Dimension6Value__c}" 
							        							 rendered="{!NOT(isDimension6Picklist)}"/>
							        			<apex:selectList value="{!entryInfo.entrySO.Apttus_DealMgr__Dimension6Value__c}" 
						  										 multiselect="false"  
						  										 required="false" 
						  										 size="1" 
						  										 rendered="{!isDimension6Picklist && NOT(isDimension6MultiPicklist)}" disabled="true">
													<apex:selectOptions value="{!dimension6PicklistItems}" />
												</apex:selectList>
												<apex:selectList value="{!entryInfo.Dimension6Values}" 
						  										 multiselect="true"  
						  										 required="false" 
						  										 size="5" 
						  										 rendered="{!isDimension6Picklist && isDimension6MultiPicklist}" disabled="true">
													<apex:selectOptions value="{!dimension6PicklistItems}" />
												</apex:selectList>
											</apex:outputPanel>
										</apex:column>
					
										<apex:column rendered="{!isBand1Enabled}">
											<apex:facet name="header">
												<div Class="elem" Style="background-color:{!Band1ColorCode}">
													{!Band1Label}
												</div>
											</apex:facet>													 
							        		<apex:outputPanel styleClass="{!IF(entryInfo.Dim1InError, 'errorRow', '')}" layout="block" >
							        			<apex:outputField value="{!entryInfo.entrySO.Apttus_DealMgr__Band1Value__c}"/>
											</apex:outputPanel>
										</apex:column>
										<apex:column rendered="{!isBand2Enabled}">
											<apex:facet name="header">
												<div Class="elem" Style="background-color:{!Band2ColorCode}">
													{!Band2Label}
												</div>
											</apex:facet>													 
							        		<apex:outputPanel styleClass="{!IF(entryInfo.Dim2InError, 'errorRow', '')}" layout="block" >
							        			<apex:outputField value="{!entryInfo.entrySO.Apttus_DealMgr__Band2Value__c}"/>
											</apex:outputPanel>
										</apex:column>
										<apex:column rendered="{!isBand3Enabled}">
											<apex:facet name="header">
												<div Class="elem" Style="background-color:{!Band3ColorCode}">
													{!Band3Label}
												</div>
											</apex:facet>													 
							        		<apex:outputPanel styleClass="{!IF(entryInfo.Dim3InError, 'errorRow', '')}" layout="block" >
							        			<apex:outputField value="{!entryInfo.entrySO.Apttus_DealMgr__Band3Value__c}"/>
											</apex:outputPanel>
										</apex:column>
										<apex:column rendered="{!isBand4Enabled}">
											<apex:facet name="header">
												<div Class="elem" Style="background-color:{!Band4ColorCode}">
													{!Band4Label}
												</div>
											</apex:facet>															 
							        		<apex:outputPanel styleClass="{!IF(entryInfo.Dim4InError, 'errorRow', '')}" layout="block" >
							        			<apex:outputField value="{!entryInfo.entrySO.Apttus_DealMgr__Band4Value__c}"/>
											</apex:outputPanel>
										</apex:column>
										<apex:column rendered="{!isBand5Enabled}">
											<apex:facet name="header">
												<div Class="elem" Style="background-color:{!Band5ColorCode}">
													{!Band5Label}
												</div>
											</apex:facet>													 
							        		<apex:outputPanel styleClass="{!IF(entryInfo.Dim5InError, 'errorRow', '')}" layout="block" >
							        			<apex:outputField value="{!entryInfo.entrySO.Apttus_DealMgr__Band5Value__c}"/>
											</apex:outputPanel>
										</apex:column>
										<apex:column rendered="{!isBand6Enabled}">
											<apex:facet name="header">
												<div Class="elem" Style="background-color:{!Band6ColorCode}">
													{!Band6Label}
												</div>
											</apex:facet>
							        		<apex:outputPanel styleClass="{!IF(entryInfo.Dim6InError, 'errorRow', '')}" layout="block" >
							        			<apex:outputField value="{!entryInfo.entrySO.Apttus_DealMgr__Band6Value__c}"/>
											</apex:outputPanel>
										</apex:column>
					
					
									   
							        </apex:pageBlockTable>

									<apex:pageblocksectionItem rendered="{!HasRuleEntriesViewMode=false}">
										<apex:panelGrid columns="1">
						                    <apex:outputText value="{!$Label.Apttus_DealMgr__NoRecordsToDisplay}" />
						                </apex:panelGrid>			
					                </apex:pageblocksectionItem> 							      
					    </apex:pageBlockSection>
								
								</div>
					</div>
					
				</apex:outputPanel>
		
				</div>
			</apex:pageBlock>
            
        </apex:pageBlock>
         	
	</div>

		<!-- action function to invoke javascript to update field list -->
     	<apex:actionFunction name="doUpdateFieldList" 
                             action="{!doUpdateFieldList}"
                             reRender="idCriteriaBlock,idDealGuidanceRuleBlock" 
                             status="idBOStatusWait"/>
                             
		<apex:actionFunction name="doDeleteRule" 
								action="{!doDelete}"
								rerender="wizardForm"
								/>
		
		<div id="dialog-confirm" title="{!$Label.RemoveConfirmation}">
			<p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>{!$Label.RemoveMessage}</p>
		</div>

	<apex:actionFunction name="doUpdateDependentPickListJs"
						action="{!doUpdateDependentPickList}" 
						immediate="true" 
						rerender="idCriteriaBlock,idDealGuidanceRuleBlock"
						status="idBOStatusWait2">
		<apex:param name="dependentPickListValues" value="" />
		<apex:param name="selectedGuidanceType" value="" />
		
	</apex:actionFunction>
		    			        		
</apex:form>

</apex:page>