<!-- 
    Apttus Config & Pricing
    ConstraintRuleConditionCriteriaEdit
     
    @2010-2011 Apttus Inc. All rights reserved.

 -->
<apex:page standardController="Apttus_Config2__ConstraintRuleCondition__c"
           extensions="Apttus_Config2.ConstraintRuleConditionCritController" 
           showHeader="true"
           sidebar="{!ShowAdminSidebar}"
           cache="false"   
           tabStyle="Apttus_Config2__ConstraintRuleCondition__c">   
           
    <apex:includeScript value="{!URLFOR($Resource.Apttus_Config2__jQuery, 'js/jquery-1.11.3.min.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.Apttus_Config2__jQuery, 'js/jquery-ui-1.11.4.min.js')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.Apttus_Config2__jQuery, 'css/jquery-ui-1.11.4.min.css')}"/>

    <apex:includeScript value="{!URLFOR($Resource.Apttus_Config2__ConstraintRule,'ConstraintRule.js')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.Apttus_Config2__ConstraintRule,'ConstraintRule.css')}"/>

    <apex:stylesheet value="{!$Resource.Apttus_Config2__ConfigStyles}" />
    
     <apex:includeScript value="{!URLFOR($Resource.Apttus_Config2__IncentivesPageResources,'js/jquery-ui.multipickSearch-1.0.js')}" />
     <link rel="stylesheet" href="{!URLFOR($Resource.IncentivesPageResources, 'css/font-awesome.min.css')}" />
      <link type="text/css" href="{!URLFOR($Resource.IncentivesPageResources, 'css/jquery-ui.multipickSearch-1.0.css')}" rel="stylesheet" />
    <apex:sectionHeader title="{!$ObjectType.Apttus_Config2__ConstraintRuleCondition__c.Label}" subtitle="{!Apttus_Config2__ConstraintRuleCondition__c.Name}"/>
    
    <script type="text/javascript">
      var j$ = jQuery.noConflict();
      j$.APTTUS = {};
      j$.APTTUS.RemoteController = {};
      j$.APTTUS.RemoteController.getSimilarFields = '{!$RemoteAction.ConstraintRuleConditionCritController.getSimilarFields}';
      j$.APTTUS.AVAILABLE_ITEMS = "{!$Label.AvailableItems}";
      j$.APTTUS.SELECTED_ITEMS = "{!$Label.SelectedItems}";
      j$.APTTUS.CLOSE = "{!$Label.Close}";
      j$.APTTUS.NO_RESULTS = "{!$Label.NoResultsAvailable}";
    </script>

    <apex:form id="idEditCriteria">
        <!--  required fields -->
        <apex:outputText value="{!Apttus_Config2__ConstraintRuleCondition__c.Apttus_Config2__Sequence__c}" rendered="false" />
        <apex:outputText value="{!Apttus_Config2__ConstraintRuleCondition__c.Apttus_Config2__ConditionCriteria__c}" rendered="false" />
        
        <apex:pageBlock id="idEditCriteriaBlock" title="{!$Label.Apttus_Config2__EditRuleConditionCriteria}" mode="edit">
            <apex:pageMessages />

            <apex:pageBlockButtons location="both">
                <apex:commandButton value="{!$Label.Apttus_Config2__Ok}" 
                                    action="{!doOk}"
                                    style="width: 70px"  />
                                    
                <apex:commandButton value="{!$Label.Apttus_Config2__Cancel}" 
                                    action="{!doCancelAction}" 
                                    immediate="true"
                                    style="width: 70px"  />
            </apex:pageBlockButtons>
            
            <apex:pageBlockSection id="idPredicatesSection" 
                                   title="{!$Label.Apttus_Config2__Filter}" 
                                   columns="2" 
                                   collapsible="false" >
                <apex:pageBlockTable value="{!predicates}" 
                                     var="predicate"  
                                     columns="8" 
                                     rowClasses="oddRow,evenRow" >
                    <apex:column width="5%" rendered="{!isAdvancedOptionsMode}" >
                        <apex:outputText id="idRowNum" value="{!predicate.RowNum}. " />
                    </apex:column>
                    <apex:column headerValue="{!$Label.Apttus_Config2__Field}" width="25%" >
                        <apex:outputPanel styleClass="{!IF(predicate.FieldInError, 'errorRow', '')}" layout="block" >
                                  <apex:inputText id="searchBoxId" value="{!searchTermList[predicate.RowNum-1]}" styleClass="placeHolder searchBoxClass" html-placeholder="Field Name"/>
                                  <apex:inputHidden id="idField" value="{!predicate.FieldName}"/>
                                  <apex:inputHidden id="idLabel" value="{!predicate.FieldLabel}"/>
                                 
                        </apex:outputPanel>
                    </apex:column>
                    <apex:column headerValue="{!$Label.Apttus_Config2__Operator}" width="25%" >
                        <apex:outputPanel styleClass="{!IF(predicate.CompOperInError, 'errorRow', '')}" layout="block" >
                            <apex:selectList id="idCompOper" size="1" value="{!predicate.CompOper}" >
                                <apex:selectOptions value="{!compOperItems}"></apex:selectOptions>
                            </apex:selectList>
                        </apex:outputPanel>
                    </apex:column>
                    <apex:column headerValue="{!$Label.Apttus_Config2__Value}" width="25%" >
                        <apex:outputPanel styleClass="{!IF(predicate.FieldValueInError, 'errorRow', '')}" layout="block" >
                            <apex:inputText id="idFieldValue" size="25" value="{!predicate.FieldValue}" />
                        </apex:outputPanel>
                    </apex:column>
                    <apex:column width="5%" >
                        <apex:outputText id="idBoolOper" 
                                         value="{!predicate.BoolOper}" 
                                         rendered="{!NOT(isAdvancedOptionsMode) && NOT(ISBLANK(predicate.BoolOper))}" />
                                         
                        <apex:commandLink action="{!doAddRow}" 
                                          value="{!$Label.Apttus_Config2__Add}" 
                                          reRender="idPredicatesSection, idAdvancedOptionsSection" 
                                          rendered="{!NOT(isAdvancedOptionsMode) && ISBLANK(predicate.BoolOper)}" />
                    </apex:column>
                    <apex:column width="5%" >
                    <apex:commandLink id="idDeleteRow" 
                                      action="{!doDeleteRow}" 
                                      value="{!$Label.Apttus_Config2__Del}" 
                                      reRender="idPredicatesSection, idAdvancedOptionsSection">
                        <apex:param name="rowNum" value="{!predicate.RowNum}" />          
                    </apex:commandLink>
                    </apex:column>
                    <apex:column width="10%" >
                        <apex:outputText value="{!predicate.ErrorMsg}" style="color:red;" />
                    </apex:column>
                   
                </apex:pageBlockTable>
                <script type="text/javascript">
                  fieldAutocomplete(null);
                </script>
            </apex:pageBlockSection>
                    
            <apex:pageBlockSection id="idAdvancedOptionsSection" columns="1" collapsible="false" >
            
                <apex:commandLink id="idShowAdvancedOptions" 
                                  action="{!doShowAdvancedOptions}" 
                                  value="{!$Label.Apttus_Config2__AdvancedOptions}" 
                                  reRender="idAdvancedOptionsSection, idPredicatesSection" 
                                  rendered="{!NOT(isAdvancedOptionsMode)}" />
                
                <apex:outputPanel rendered="{!isAdvancedOptionsMode}">
                    <apex:commandLink id="idAddRow" 
                                      action="{!doAddRow}" 
                                      value="{!$Label.Apttus_Config2__AddRow}" 
                                      reRender="idAdvancedOptionsSection, idPredicatesSection" />
                    <span>  </span>
                    <apex:commandLink id="idRemoveRow" 
                                      action="{!doRemoveRow}" 
                                      value="{!$Label.Apttus_Config2__RemoveRow}" 
                                      reRender="idAdvancedOptionsSection, idPredicatesSection" 
                                      rendered="{!OkToRemoveRow}" />
                    <apex:outputPanel id="idRemoveRow2" styleClass="greyedLink" rendered="{!NOT(OkToRemoveRow)}" >{!$Label.Apttus_Config2__RemoveRow}</apex:outputPanel>
                    <p/>    
                    <apex:commandLink id="idHideAdvancedOptions" 
                                      action="{!doHideAdvancedOptions}" 
                                      value="{!$Label.Apttus_Config2__ClearAdvancedOptions}" 
                                      reRender="idAdvancedOptionsSection, idPredicatesSection" />
                    <br/>
                    <apex:outputText value="{!$Label.Apttus_Config2__AdvancedFilterCondition}" />
                    <br/>
                    <apex:inputText id="idAdvancedOptions" size="80" value="{!advancedOptions}" />
                </apex:outputPanel>
                
            </apex:pageBlockSection>
            
        </apex:pageBlock>
        
    </apex:form>
    
</apex:page>