<apex:page standardController="Account" extensions="CommunityAddUsers">
   <apex:form id="form1">
   
  <script type='text/javascript' src= '//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js'>
        </script>
        <script language="javascript">
                   $(document).ready(function() {        
                $("select > option[value*='User']").remove()            });
        </script> 
   <apex:pageBlock title="Add Community Users" mode="edit"  >
  
  
       <apex:pageblockButtons >
          <apex:commandButton title="Save" id="SaveButton" action="{!Save}" value="Save"  />
          <apex:commandButton title="Next" id="NextButton" action="{!Next}" value="Next" reRender="table,form1"/>
          <apex:commandButton title="Cancel" id="CancelButton" action="{!Cancel}" value="Cancel"/>
          
       </apex:pageblockButtons>
      
       <apex:pageBlockSection >
       <apex:pageBlockTable value="{!AddUserLst}" var="HCU" id="table">
               <apex:column HeaderValue="Hospital Community"><apex:inputField id="Account" label="Account" value="{!HCU.Hospital_Community__c}"/></apex:column>
              <apex:column HeaderValue="User"><apex:inputField id="SFDCUser" label="User" value="{!HCU.SFDC_User__c}" /></apex:column> 
             <apex:column HeaderValue="User Login"><apex:inputField id="HospitalCommunityUser" label="Hospital Community User" value="{!HCU.Hospital_Community_User__c}"/></apex:column>
              <apex:column HeaderValue="Rolodex"><apex:inputField id="Rolodex" label="Rolodex" value="{!HCU.Rolodex__c}"/></apex:column>
              
       </apex:pageBlockTable>
       </apex:pageBlockSection>
       
   </apex:pageBlock>   
  </apex:form> 
</apex:page>