<apex:page controller="ConcurConnect.AdminToolsController" sidebar="false" tabstyle="AdminTools__tab">
    <apex:sectionHeader title="Access Tokens" />  
    <apex:form >               
                <apex:commandbutton value="Click to Remove Administrator's Access Token" action="{!removeToken}" />
                <br/>
                <br/> 
                <br/>                
        <apex:pageBlock title="{!$Label.ConcurConnect__setup_authsection_seckey_text}" rendered="True">    
            <apex:outputPanel >                     
                <apex:inputText id="seckeyText" maxlength="200" size="60" value="{!SECKEY}" />
                <apex:commandButton value="{!$Label.ConcurConnect__admin_update_sec_key}" action="{!updateSecKey}" />
                <br/>     
                <br/>                                 
            </apex:outputPanel>
        </apex:pageBlock>  
                
        <apex:pageBlock title="{!$Label.ConcurConnect__admin_searchattendeeconfig_title}" rendered="True" >    
            <apex:outputPanel >                  

              <b style="margin-right:23px;">{!$Label.ConcurConnect__admin_searchattendeeconfig_attendee_type}</b>
              <apex:selectList style="width:40em;" id="AttendeeType" value="{!selectedAttendeeType}" size="1" >
                  <apex:selectOptions value="{!ConnectorAttendeeTypes}"/>   
                  <apex:actionSupport event="onchange" action="{!DetermineSelectedSalesforceObject}" rerender="SalesforceObject,SearchAttendeeFormFieldTableBlock,saveAttendeeFieldMappingButton,AttendeeSearchErrorArea" status="AttendeeTypeSelectionProcessingStatus"  />                      
                  <apex:actionSupport rerender="AttendeeSearchErrorArea" status="AttendeeTypeSelectionProcessingStatus"  />                      
              </apex:selectList> 
              <apex:ActionStatus id="AttendeeTypeSelectionProcessingStatus" >
                <apex:facet name="start">
                    <apex:image value="/img/loading.gif" />
                </apex:facet>
              </apex:ActionStatus><br/>                
              
              
              <b style="margin-right:5px;">{!$Label.ConcurConnect__admin_searchattendeeconfig_sf_object_to_map}</b>              
              <apex:selectList style="width:40em;" id="SalesforceObject" value="{!selectedSalesforceObject}" size="1"  >
                  <apex:selectOptions value="{!SalesforceObjects}"/>   
                  <apex:actionSupport event="onchange" action="{!SalesforceObjectListControlChanged}" rerender="SearchAttendeeFormFieldTableBlock,saveAttendeeFieldMappingButton,AttendeeSearchErrorArea" status="SalesforceObjectSelectionProcessingStatus"  />                      
              </apex:selectList>              
              <apex:ActionStatus id="SalesforceObjectSelectionProcessingStatus" >
                  <apex:facet name="start">
                      <apex:image value="/img/loading.gif" />
                  </apex:facet>
              </apex:ActionStatus>               
                            
                <br/><br/>                                         
                <apex:pageBlockSection id="SearchAttendeeFormFieldTableBlock" rendered="True">                 
                    <apex:pageblockTable columnsWidth="50%, 50%" id="AttendeeSearchFormFieldTable" value="{!SearchAttendeeFormFields}" var="field" >                                           
                        <apex:column style="{!field.htmlStyle}" headerValue="{!$Label.ConcurConnect__admin_searchattendeeconfig_concur_attendee_form_field}" value="{!field.concurFormFieldLabelWithRequiredFlag}" />
                        <apex:column headerValue="{!$Label.ConcurConnect__admin_searchattendeeconfig_sf_object_field}"  >                          
                            <apex:selectList id="SFObjectFieldList" value="{!field.salesforceObjectFieldName}" size="1">  
                                <apex:selectOptions value="{!saleforceObjectFields}" />                                                                              
                            </apex:selectList>                
                       </apex:column>                       
                    </apex:pageblockTable>                                                                                                 
                </apex:pageBlockSection>                              
                <br/>       

                <b style="margin-right:10px;" />  
                <apex:commandButton id="saveAttendeeFieldMappingButton" disabled="{!IsSaveDisabled}" value="{!$Label.ConcurConnect__admin_searchattendeeconfig_save_mapping}" action="{!saveFieldMapping}" immediate="true" rerender="AttendeeSearchErrorArea" status="SaveAttendeeFieldMappingStatus" />
                <apex:ActionStatus id="SaveAttendeeFieldMappingStatus" >
                    <apex:facet name="start"><apex:image value="/img/loading.gif" /></apex:facet>
                </apex:ActionStatus>                     
                <br/>

                <apex:pageBlockSection id="AttendeeSearchErrorArea" rendered="true" >                                     
                    <apex:outputText style="color:red;"  value="{!$Label.ConcurConnect__admin_searchattendeeconfig_msg_required_fields_not_mapped}" rendered="{!displayErrorForMissingMappingOfRequiredFields}" />
                    <apex:outputText style="color:red;" value="{!$Label.ConcurConnect__admin_searchattendeeconfig_msg_same_sf_field_mapped_multiple_times}" rendered="{!displayErrorForMappingSameFieldMultipleTimes}" />                    
                    <apex:outputText style="color:red;" value="{!$Label.ConcurConnect__admin_searchattendeeconfig_errmsg_failed_saving}" rendered="{!displayErrorForSearchAttendeeConfigWhenSaving}" />  
                    <apex:outputText style="color:red;" value="{!$Label.ConcurConnect__admin_searchattendeeconfig_errmsg_failed_reading}" rendered="{!displayErrorForSearchAttendeeConfigWhenReading}" />  
                    <br/><apex:outputText style="color:red;" value="{!$Label.ConcurConnect__errmsg_provide_the_following_info_to_support}" rendered="{!HasErrorInfoToProvideToConcurForReadingOrSavingAttendeeConfig}" />              
                    <apex:outputText style="color:red;" value="{!latestErrorInfoToProvideToConcurForReadingAttendeeConfig}" rendered="{!HasErrorInfoToProvideToConcurForReadingAttendeeConfig}"  /> 
                    <apex:outputText style="color:red;" value="{!latestErrorInfoToProvideToConcurForSavingAttendeeConfig}" rendered="{!HasErrorInfoToProvideToConcurForSavingAttendeeConfig}"  />                    
                </apex:pageBlockSection>    
                                                                                        
            </apex:outputPanel>
        </apex:pageBlock>  
                
    </apex:form>
<!--
    <script>
          window.onload=function()
          {
              var obj = document.getElementById('{!$Component.SalesforceObject}');
               obj.style.display='none';          
              obj.style.display='block';
              //***alert( obj.value );
          }
    </script>
-->
</apex:page>