<apex:page showHeader="true" sidebar="true" standardController="Apttus_Proposal__Proposal__c" extensions="CPQ_SSG_Controller_SendToCustomerService">
	<apex:form >
		<apex:pageBlock >
			<apex:pageBlockButtons location="bottom">
				<apex:commandButton value="Send To Customer Service" action="{!sendToCustomerService}"/>
			</apex:pageBlockButtons>
			<apex:pageBlockSection columns="1">
				<apex:outputField value="{!prop.Name}"/>
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="Select Attachments" for="attachmentOptions"/>
					<apex:selectList value="{!selectedAttachments}" multiselect="true" size="10" id="attachmentOptions">
						<apex:selectOptions value="{!attachmentOptions}"/>
					</apex:selectList>
				</apex:pageBlockSectionItem>
			</apex:pageBlockSection>
		</apex:pageBlock>
	</apex:form>
</apex:page>