<apex:page standardController="Apttus_Proposal__Proposal__c" sidebar="false" showHeader="false" extensions="CPQ_Controller_ProposalFormulaButtons" id="thePage" >
    <apex:outputPanel layout="block" rendered="false">
        <apex:outputText value="{!Apttus_Proposal__Proposal__c.RecordType.DeveloperName}"/>
        <apex:outputText value="{!Apttus_Proposal__Proposal__c.Apttus_QPComply__MasterAgreementId__r.RecordType.DeveloperName}"/>
    </apex:outputPanel>
    
    <apex:outputPanel id="script">
    <script>
        function closeWindow() {
            var c = '{!HasErrors}';
            
            if (c == 'true')
                return false;
            
            window.close();
        }
        
        function onChanging(inProcess) {
            var x = document.getElementsByTagName("input");
            for (i =0; i < x.length; i++) {
                x[i].disabled=inProcess;
            }
            
            var y = document.getElementById("{!$Component.thePage.theForm.theBlock.theButtons.cmdSave}");
            y.disabled=inProcess;
            if (inProcess == true)
                y.value = 'Saving...';
            else 
                y.value = 'Save';
        }
    </script>
    </apex:outputPanel>
    
    <apex:sectionHeader subtitle="{!Apttus_Proposal__Proposal__c.Name}" title="What is being amended?"/>
    <apex:form id="theForm" >
    
    <apex:pageBlock id="theBlock"  >
        <apex:pageMessages id="pgMsg"></apex:pageMessages>
        <apex:pageBlockButtons location="bottom" id="theButtons" >
            <apex:commandButton action="{!doAction}" value="Save" reRender="pgMsg, script" status="status" id="cmdSave" />
            <apex:commandButton onclick="window.close();" value="Cancel" id="cmdCancel"/>
        </apex:pageBlockButtons>
        
        <apex:repeat value="{!IF(isRSCOOP, $ObjectType.Apttus_Proposal__Proposal__c.FieldSets.RSCOOP_Amended_Areas, $ObjectType.Apttus_Proposal__Proposal__c.FieldSets.Amended_Areas)}" var="f"> 
            <apex:panelGrid columns="2">
                <apex:inputField value="{!Apttus_Proposal__Proposal__c[f]}" />
                <apex:outputLabel value="{!f.Label}" style="font-size: 91%;font-weight: bold;color: #4a4a56;" ></apex:outputLabel>
            </apex:panelGrid>
        </apex:repeat>
    </apex:pageBlock>
    
    <apex:actionStatus id="status" onstart="onChanging(true);" onstop="onChanging(false);closeWindow();"></apex:actionStatus>

    </apex:form>
</apex:page>