<apex:page standardController="Prod_Preference_Card_Product__c" recordSetVar="products" tabStyle="Prod_Preference_Card_Product__c" 
			extensions="CreateOppWithProductsFromPPCExt" action="{!CreateOppFromPPC}"> 
			
<apex:pagemessages />

<apex:form >
		<apex:pageBlock dir="LTR">
			<apex:selectList multiselect="false" size="1" value="{!pricebookId}" rendered="{!hasMultiplePB}">
				<apex:selectOptions value="{!pricebooks}"/> 
      		</apex:selectList>
	    	<apex:pageBlockTable value="{!prodPb}" var="item" rowClasses="odd,even" rendered="{!hasInvalidRecords}">
				<apex:column >
					<apex:facet name="header">{!$ObjectType.Product2.fields.Name.label}</apex:facet>
					<apex:outputText value="{!item.product}"/>
				</apex:column>
				<apex:column >
					<apex:facet name="header">{!$ObjectType.PricebookEntry.fields.Pricebook2Id.label}</apex:facet>
					<apex:outputText value="{!item.pricebook}"/>
				</apex:column>
	    	</apex:pageBlockTable> 
            <apex:pageBlockButtons location="Bottom">
				<apex:commandButton action="{!createOpp}"  value="{!$Label.Create_Opportunity}" id="btnCreate" rendered="{!hasMultiplePB}"/>
				<apex:commandButton action="{!Cancel}"  value="{!$Label.Cancel}" id="btnCancel"/>
            </apex:pageBlockButtons>
		</apex:pageBlock> 
</apex:form>
 
</apex:page>