<apex:page standardController="Case" showHeader="true" extensions="EmailActionWidgetController">
	<apex:emailPublisher autoCollapseBody="true" bccVisibility="editableWithLookup" ccVisibility="editableWithLookup" emailBodyFormat="textAndHTML" enableQuickText="true" entityId="{!Case.Id}" expandableHeader="true" 
	fromVisibility="selectable" showAttachments="true" showSendButton="true" showTemplates="true" subjectVisibility="hidden" toVisibility="editableWithLookup" verticalResize="true" toAddresses="{!recipients}" />
</apex:page>