<apex:page standardController="EMS_Event__c" extensions="EMS_Controller_Exportcsv" sidebar="false"  showheader="false" standardStylesheets="false" contenttype="application/x-excel#filename.xls;charset=UTF-8">{!bom}
<style>
.headerRow .headerclass{text-align: right;}

</style>
    <apex:dataTable value="{!LEventBfTransactions}" var="a" headerClass="headerclass" rowClasses="odd,even" styleClass="tableClass" border="1">
        <apex:column rendered="{!IF(filetype=='External',true,false)}">
                <apex:facet name="header">Organization Native Name</apex:facet>
            <apex:outputText value="{!a.Contact__r.Account.Name}" rendered="{!IF(a.Contact__c!=null,true,false)}"/>
            <apex:outputText value="{!a.Organization__r.Name}" rendered="{!IF(a.Organization__c!=null,true,false)}"/>
        </apex:column>
        <apex:column rendered="{!IF(filetype=='External',true,false)}">
                <apex:facet name="header">Organization Phonetic  Name</apex:facet>
            <apex:outputText value="{!a.Contact__r.Account.Phonetic_Name__c}" rendered="{!IF(a.Contact__c!=null,true,false)}"/>
            <apex:outputText value="{!a.Organization__r.Phonetic_Name__c}" rendered="{!IF(a.Organization__c!=null,true,false)}"/>
        </apex:column>
        <apex:column >
                <apex:facet name="header">Contact Name</apex:facet>
            <apex:outputText value="{!a.Beneficiary_Text__c}" />
        </apex:column>
        <apex:column rendered="{!IF(filetype=='External',true,false)}">
                <apex:facet name="header"  >Contact Phonetic First Name</apex:facet>
            <apex:outputText value="{!a.Contact__r.Phonetic_Name__c}" rendered="{!IF(a.Contact__c!=null,true,false)}"/>
        </apex:column>
        <apex:column rendered="{!IF(filetype=='External',true,false)}">
                <apex:facet name="header"  >Contact Phonetic Last Name</apex:facet>
            <apex:outputText value="{!a.Contact__r.Phonetic_Last_Name__c}" rendered="{!IF(a.Contact__c!=null,true,false)}"/>
        </apex:column>
        <apex:column rendered="{!IF(filetype=='External',true,false)}">
                <apex:facet name="header">Country</apex:facet>
            <apex:outputText value="{!a.Contact__r.Account.BillingCountry}" rendered="{!IF(a.Contact__c!=null,true,false)}"/>
            <apex:outputText value="{!a.Organization__r.BillingCountry}" rendered="{!IF(a.Organization__c!=null,true,false)}"/>
        </apex:column>
        
        
        <apex:column rendered="{!IF(filetype=='Internal',true,false)}">
                <apex:facet name="header">Title</apex:facet>
            <apex:outputText value="{!a.Employee__r.Title__c}"/>
        </apex:column>
        
        <apex:column rendered="{!IF(filetype=='Internal',true,false)}">
                <apex:facet name="header">Department</apex:facet>
            <apex:outputText value="{!a.Employee__r.Department__c}"/>
        </apex:column>
        
        <apex:column rendered="{!IF(filetype=='Internal',true,false)}">
                <apex:facet name="header">Country</apex:facet>
            <apex:outputText value="{!a.Employee__r.Country__c}"/>
        </apex:column>
        
        
        <apex:column rendered="{!IF(filetype=='Internal',false,true)}">
                <apex:facet name="header">Meal Amount</apex:facet>
                <apex:outputText value="{!a.Meal__c}"/>
        </apex:column>
        <apex:column rendered="{!IF(filetype=='Internal',false,true)}">
                <apex:facet name="header">Total Lodging Amount</apex:facet>
                <apex:outputText value="{!a.Lodging_Amount__c}"/>
        </apex:column>
        <apex:column rendered="{!IF(filetype=='Internal',false,true)}">
                <apex:facet name="header">Total Local Ground Transportation</apex:facet>
                <apex:outputText value="{!a.Total_Ground_Transportation__c}"/>
        </apex:column>
       
        <apex:column rendered="{!IF(filetype=='Internal',false,true)}">
                <apex:facet name="header">Air Travel</apex:facet>
                <apex:outputText value="{!a.Air_Travel__c}"/>
        </apex:column>
        <apex:column rendered="{!IF(filetype=='Internal',false,true)}">
                <apex:facet name="header">Consultancy Fees</apex:facet>
                <apex:outputText value="{!a.Consultancy_fees__c}"/>
        </apex:column>
        <apex:column rendered="{!IF(filetype=='Internal',false,true)}">
                <apex:facet name="header">Gifts</apex:facet>
                <apex:outputText value="{!a.Gifts__c}"/>
        </apex:column>
        <apex:column rendered="{!IF(filetype=='Internal',false,true)}">
                <apex:facet name="header">Others</apex:facet>
                <apex:outputText value="{!a.Others_Others__c}"/>
        </apex:column>
       
        <apex:column rendered="{!IF(filetype=='Internal',false,true)}">
                <apex:facet name="header">Aggregate Amount of Benefit</apex:facet>
                <apex:outputText value="{!a.Total_Beneficiary_Expenses__c}"/>
        </apex:column>
         <apex:column rendered="{!IF(filetype=='Internal',false,true)}">
                <apex:facet name="header">Aggregate Amount of Benefit in USD</apex:facet>
                <apex:outputText value="${!FLOOR((a.Total_Beneficiary_Expenses__c)/(c.Conversionrate))}"/>
                        
                
        </apex:column>
        <apex:column rendered="{!IF(filetype=='Internal',false,true)}">
                <apex:facet name="header">Period Of Benefit</apex:facet>
                <apex:outputText value="{!a.Period_of_Benefit__c}"/>
        </apex:column>
          <!--<apex:column rendered="{!IF(filetype=='Internal',false,true)}">
                <apex:facet name="header">DD Name/Requestor</apex:facet>
                <apex:outputText value="{!ConcatenatedDivManager}"/>
        </apex:column>-->
    </apex:dataTable>
     <apex:datatable value="{!currentEMSRecord}" var="currentEMSRecord" headerClass="headerclass" rowClasses="odd,even" styleClass="tableClass" border="1">
     
    <apex:column rendered="{!IF(filetype=='Internal',false,true)}"> 
    </apex:column>
    <apex:column rendered="{!IF(filetype=='Internal',false,true)}"> 
    </apex:column>
    
    <apex:column rendered="{!IF(filetype=='Internal',false,true)}"> 
    </apex:column>
    <apex:column rendered="{!IF(filetype=='Internal',false,true)}"> 
    </apex:column>
    
    <apex:column rendered="{!IF(filetype=='Internal',false,true)}"> 
    </apex:column>
    <apex:column rendered="{!IF(filetype=='Internal',false,true)}"> 
    <b><apex:outputText style="align:right" Value="Subtotal"/></b>
    </apex:column>
    <apex:column rendered="{!IF(filetype=='Internal',false,true)}"> 
    <apex:outputText style="align:right" value="{!currentEMSrecord.Total_Meal_Amount__c}"/>
    </apex:column> 
    <apex:column rendered="{!IF(filetype=='Internal',false,true)}"> 
    <apex:outputText style="align:right" value="{!currentEMSrecord.Total_LodA__c}"/>
    </apex:column> 
    <apex:column rendered="{!IF(filetype=='Internal',false,true)}"> 
    <apex:outputText style="align:right" value="{!currentEMSrecord.Total_Local_GTA__c}"/>
    </apex:column> 
    <apex:column rendered="{!IF(filetype=='Internal',false,true)}"> 
    <apex:outputText value="{!currentEMSrecord.Total_Air_Travel__c}"/>
    </apex:column>
    <apex:column rendered="{!IF(filetype=='Internal',false,true)}"> 
    <apex:outputText style="align:right" value="{!currentEMSrecord.Total_Consultancy_Fee__c}"/>
    </apex:column>
    <apex:column rendered="{!IF(filetype=='Internal',false,true)}"> 
    <apex:outputText value="{!currentEMSrecord.Total_Gifts_amount__c}"/>
    </apex:column>
    <apex:column rendered="{!IF(filetype=='Internal',false,true)}"> 
    <apex:outputText style="align:right" value="{!currentEMSrecord.Total_Others_Amount__c}"/>
    </apex:column> 
    <apex:column rendered="{!IF(filetype=='Internal',false,true)}"> 
    <apex:outputText value="{!currentEMSrecord.Total_HCP_Expenses__c}"/>
    </apex:column> 
    <apex:column rendered="{!IF(filetype=='Internal',false,true)}"> 
    <apex:outputtext style="align:right" value="${!FLOOR((currentEMSrecord.Total_HCP_Expenses__c)/(c.ConversionRate))}"/>
    </apex:column> 
   </apex:datatable>

</apex:page>