<apex:page standardController="EMS_Event__c" extensions="EMS_Controller_AddSKUSamples" sidebar="false" showHeader="false" >
<style type="text/css">
.myClass{color:white !important;background:#00CC00 !important;}
</style>
<apex:form id="mainform">
    <c:LoadingStatusSpinner />
    <!--<apex:pageBlock title="{!CurrentEMSRecord.name}">
        <center><apex:commandbutton style="left:0px;position:relative;" value="Back to Medical Event" action="{!back}"/> </center>      
    </apex:pageBlock>-->
    
    <apex:actionFunction name="aSelectItem" action="{!doSelectItem}"   status="LoadingStatusSpinner" rerender="">
        <apex:param name="contextItem" value="" assignTo="{!contextItem}" />
    </apex:actionFunction>
     
            <!-- handle deselected item -->
   <apex:actionFunction name="aDeselectItem" action="{!doDeselectItem}" status="LoadingStatusSpinner" rerender="">
       <apex:param name="contextItem" value="" assignTo="{!contextItem}"/>
   </apex:actionFunction>
        <apex:pageBlock id="searchCt">

            <apex:pageBlockSection title="Search SKU Samples">    
                <apex:pageBlockSectionItem >
                <apex:outputlabel value="Show results where" style="font-weight:bold"/>
                
          </apex:pageBlockSectionItem><br></br> 
                <apex:inputText value="{!SKUSampleCode}" label="Sample Code" />
                <apex:inputText value="{!SKUSampleName}" label="Sample Name" />
          <apex:pageBlockSectionItem >
                <apex:outputLabel value="Country"/>                
                <apex:selectList id="countries" value="{!Country}" size="1" required="true">
                    <apex:selectOptions value="{!countries}"/>
                </apex:selectList>
         </apex:pageBlockSectionItem>

                           
            </apex:pageBlockSection>
                           <center> <apex:commandbutton value="Search"  action="{!SearchContacts}" status="LoadingStatusSpinner" rerender="searchresults,messages" disabled="{!IF(((currentEMSRecord.Event_Status__c=='Submitted for eCPA Approval')||(currentEMSRecord.Event_Status__c=='Concluded')||(currentEMSRecord.Event_Status__c=='Cancelled')),true,false)}"/> </center>     

            <center></center>
        </apex:pageBlock>
       
        <!--------------------------------------------------------------------------------------------------------------->
       
        <apex:outputPanel id="searchresults"  >

        <apex:pageBlock title="Search Results" rendered="{!if(Contacts.size>0,true,false)}">   
                <apex:pageBlockTable value="{!Contacts}" var="eachContact" >
                    <apex:column >
                        <apex:facet name="header">Action</apex:facet>
                        <apex:inputCheckbox value="{!eachContact.isSelected}" onchange="doCheckboxChange(this,'{!eachContact.PSKU.Id}')" />
                    </apex:column>
                    <apex:column value="{!eachContact.PSKU.SKU__c}"/>
                    <apex:column value="{!eachContact.PSKU.Name}"/>
                    <apex:column value="{!eachContact.PSKU.Sales_Class__c}"/>
                    <apex:column value="{!eachContact.PSKU.EMS_Sku_Price__c }"/>
                </apex:pageBlockTable> 
                <br/>
                <!-- next, previous and page info -->
                <apex:commandLink action="{!doPrevious}" rendered="{!hasPrevious}" value="Previous" rerender="searchresults"/>
                <apex:outputLabel rendered="{!NOT(hasPrevious)}" value="Previous" />
                <apex:outputLabel value=" (Page {!pageNumber} of {!totalPages}) " />
                <apex:commandLink action="{!doNext}" rendered="{!hasNext}" value="Next" rerender="searchresults"/>
                <apex:outputLabel rendered="{!NOT(hasNext)}" value="Next" />   
                <center><apex:commandButton value="Add" action="{!AddCCISamples}" id="addContactsbutton" rendered="{!if(Contacts.size>0,true,false)}"  status="LoadingStatusSpinner" rerender="messages,refresh,benftable,theIframe,benftablepgblk" disabled="{!IF(((currentEMSRecord.Event_Status__c=='Submitted for eCPA Approval')||(currentEMSRecord.Event_Status__c=='Concluded')||(currentEMSRecord.Event_Status__c=='Cancelled')),true,false)}"/></center>
                    </apex:pageBlock>
            </apex:outputPanel>
            <apex:iframe src="{!sourceUrl}" scrolling="true" id="theIframe" frameborder="false"/>

        </apex:form>  
        <!------------------------------------------------------------------------------------------------------------------>
        
    <apex:outputPanel id="refresh" rendered="true">
        <apex:outputPanel id="refresh1" rendered="{!refreshPage}">
            <script>
                window.top.location='apex/EMS_SamplesCCIPage?Eventid={!EventId}'+'&step=7';
            </script>
        </apex:outputPanel>
    </apex:outputPanel>
 
     
    
    <script type="text/javascript">
     
            /*
            *    function to handle checkbox selection
            */
            function doCheckboxChange(cb,itemId){
     
                if(cb.checked==true){
                    aSelectItem(itemId);
                }
                else{
                    aDeselectItem(itemId);
                }
     
            }
     
  </script>
  
</apex:page>