<apex:page standardController="EMS_Event__c" extensions="EMS_ActualRecipients" sidebar="false" title="{!CurrentEMSRecord.name}">
<apex:form id="mainform">
<c:LoadingStatusSpinner />

<apex:actionFunction name="aSelectItem" action="{!doSelectItem}"   status="LoadingStatusSpinner" rerender="">
            <apex:param name="contextItem" value="" assignTo="{!contextItem}" />
        </apex:actionFunction>
 
        <!-- handle deselected item -->
        <apex:actionFunction name="aDeselectItem" action="{!doDeselectItem}" status="LoadingStatusSpinner" rerender="">
            <apex:param name="contextItem" value="" assignTo="{!contextItem}"/>
        </apex:actionFunction>
    <apex:pageBlock title="Enter Actual Expenses" id="searchCt">
        <apex:iframe src="{!sourceflowUrl}" id="theIframe" frameborder="false" height="60px"/>

        <!--<center><apex:commandbutton style="left:0px;position:relative;" value="Back to Medical Event" action="{!back}"/> </center>-->
        <apex:pageBlockSection title="Enter Search Criteria">    
            <apex:pageBlockSectionItem >
            <apex:outputlabel value="Search by"/>
           <apex:actionregion >
            <apex:selectlist value="{!selectedsearchcriteria}" multiselect="false" size="1" >
             <apex:selectOption itemValue="1" itemLabel="Contact"/>
              <apex:selectOption itemValue="2" itemLabel="Organization"/>
            
        <apex:actionSupport event="onchange" action="{!rendersearchfields}" rerender="searchresults,searchCt"  status="LoadingStatusSpinner" />
            
            </apex:selectList>
          </apex:actionregion>
            
            
            </apex:pageBlockSectionItem><br></br>    
            <apex:inputText value="{!firstName}" label="Contact First Name" rendered="{!selectedsearchcriteria==1}"/>
            <apex:inputText value="{!lastname}" label="Contact Last Name" rendered="{!selectedsearchcriteria==1}"/> 
            <apex:inputtext value="{!Organization}" label="Organization Name" rendered="{!selectedsearchcriteria==2}"/>            
        </apex:pageBlockSection>
        <center><apex:commandbutton value="Search"  action="{!SearchContacts}" status="LoadingStatusSpinner" rerender="searchresults,mainform,messages"/></center>
    </apex:pageBlock>
    <apex:outputPanel id="searchresults">
    <apex:pageBlock title="Search Results"  rendered="{!if(Contacts.size>0 && iscriteriachanged==false,true,false)}">
    
    <apex:pageBlockTable value="{!Contacts}" var="eachContact" >
        
        <apex:column rendered="{!if(Contacts.size>0,true,false)}">
        <apex:facet name="header">Action</apex:facet>
            <apex:inputCheckbox value="{!eachContact.isSelected}" onchange="doCheckboxChange(this,'{!if(selectedsearchcriteria==1,eachContact.c.Id,eachContact.a.Id)}')" />
        </apex:column>
        <apex:column value="{!eachContact.c.Name}" rendered="{!if(Contacts.size>0 && selectedsearchcriteria==1,true,false)}"/>
        <apex:column value="{!eachContact.a.Name}" rendered="{!if(Contacts.size>0 && selectedsearchcriteria==2,true,false)}"/>

    </apex:pageBlockTable> 
    
    <!--<apex:outputLabel value="[{!selectedCount} records selected]" />-->
 
            <br/>
 
            <!-- next, previous and page info -->
            <apex:commandLink action="{!doPrevious}" rendered="{!hasPrevious}" value="Previous" />
            <apex:outputLabel rendered="{!NOT(hasPrevious)}" value="Previous" />
 
            <apex:outputLabel value=" (Page {!pageNumber} of {!totalPages}) " />
 
            <apex:commandLink action="{!doNext}" rendered="{!hasNext}" value="Next"/>
            <apex:outputLabel rendered="{!NOT(hasNext)}" value="Next" />   
    <center><apex:commandButton value="Add" action="{!AddContacts}" id="addContactsbutton" rendered="{!if(Contacts.size>0,true,false)}"  status="LoadingStatusSpinner" rerender="benftable,benftablepgblk"/></center>
    </apex:pageBlock>
    </apex:outputPanel>
     <!--<apex:image id="plusimage" value="{!$Resource.Plus_Image}" width="20" height="20"/>-->
    <apex:pageBlock title="Actual Event Beneficiaries" id="benftable">
    <apex:pagemessages id="messages"/>
    <center><apex:commandButton value="Save Expenses"  action="{!SaveTransactions}" status="LoadingStatusSpinner" rerender="messages,benftablepgblk"/></center><br></br>
    
    <apex:pageBlockTable value="{!lstActualRecipients}" var="a" id="benftablepgblk">
        <apex:column headerValue="Delete" width="4%">
        <apex:commandButton value="Delete" action="{!deleteContact}" status="LoadingStatusSpinner" rerender="benftablepgblk,messages,addContactsbutton">
        <apex:param name="eventId" value="{!a.Id}" assignTo="{!ReciepientId}"/>
        </apex:commandbutton>
        </apex:column>
        <apex:column headerValue="Name" width="15%">
        <apex:outputField value="{!a.Beneficiary__c}"/>
        </apex:column>
        <apex:column headervalue="Speaker" width="3%" rendered="{!$ObjectType.Event_Beneficiaries__c.fields.Speaker__c.Accessible}">
            <apex:inputField value="{!a.Speaker__c}" rendered="{!IF(a.Type__c='Individual Beneficiary',true,false)}"/>
            <apex:outputField value="{!a.Speaker__c}" rendered="{!IF(a.Type__c='Organization',true,false)}"/>
        </apex:column>
        <apex:column headervalue="Meal Amount" width="6%" rendered="{!$ObjectType.Event_Beneficiaries__c.fields.Meal__c.Accessible}">
            <apex:inputField value="{!a.Meal__c}" rendered="{!IF(a.Type__c='Individual Beneficiary',true,false)}"/>
            <apex:outputField value="{!a.Meal__c}" rendered="{!IF(a.Type__c='Organization',true,false)}"/>
        </apex:column>
        <apex:column value="{!a.Lodging_Amount__c}" width="10%" rendered="{!$ObjectType.Event_Beneficiaries__c.fields.Lodging_Amount__c.Accessible}"/>
       <apex:column rendered="{!IF(IsLodgingExpandable==false,true,false)}" width="2%">
                <apex:facet name="header">
                <apex:image url="{!($Resource.Plus_Image)}" height="20px" width="20px" style="cursor:pointer;">
                        <apex:actionSupport event="onclick" action="{!expandLodgingcolumns}"  status="LoadingStatusSpinner" rerender="benftablepgblk">
                        </apex:actionsupport>
                </apex:image>                
                </apex:facet>
            </apex:column>
             <apex:column rendered="{!IF(IsLodgingExpandable==true,true,false)}">
                <apex:facet name="header" >
                <apex:image url="{!($Resource.Minus_image)}" height="20px" width="20px" style="cursor:pointer;">
                 <apex:actionSupport event="onclick" action="{!collapseLodgingColumns}" status="LoadingStatusSpinner" rerender="benftablepgblk">
                        
                    </apex:actionsupport>
                </apex:image>                
                </apex:facet>
            </apex:column>
        <apex:column headerValue="Check-In Date" rendered="{!IF(IsLodgingExpandable==true && $ObjectType.Event_Beneficiaries__c.fields.Check_In_Date__c.Accessible,true,false)}">
            <apex:inputField value="{!a.Check_In_Date__c}" rendered="{!IF(a.Type__c='Individual Beneficiary',true,false)}"/>
            <apex:outputField value="{!a.Check_In_Date__c}" rendered="{!IF(a.Type__c='Organization',true,false)}"/>
        </apex:column>
        <apex:column headerValue="Check-Out Date" rendered="{!IF(IsLodgingExpandable==true && $ObjectType.Event_Beneficiaries__c.fields.Check_Out_Date__c.Accessible,true,false)}">
            <apex:inputField value="{!a.Check_Out_Date__c}" rendered="{!IF(a.Type__c='Individual Beneficiary',true,false)}"/>
            <apex:outputField value="{!a.Check_Out_Date__c}" rendered="{!IF(a.Type__c='Organization',true,false)}"/>
        </apex:column>
        <apex:column headervalue="Rate/Night" rendered="{!IF(IsLodgingExpandable==true && $ObjectType.Event_Beneficiaries__c.fields.Rate_per_Night__c.Accessible,true,false)}">
            <apex:inputField value="{!a.Rate_per_Night__c}" rendered="{!IF(a.Type__c='Individual Beneficiary',true,false)}"/>
            <apex:outputField value="{!a.Rate_per_Night__c}" rendered="{!IF(a.Type__c='Organization',true,false)}"/>
        </apex:column>
       
        <apex:column headerValue="Bed Type" rendered="{!IF(IsLodgingExpandable==true && $ObjectType.Event_Beneficiaries__c.fields.Bed_Type__c.Accessible,true,false)}">  
            <apex:inputField value="{!a.Bed_Type__c}" rendered="{!IF(a.Type__c='Individual Beneficiary',true,false)}"/>
            <apex:outputField value="{!a.Bed_Type__c}" rendered="{!IF(a.Type__c='Organization',true,false)}"/>
        </apex:column> 
        <apex:column headervalue="Total Local Ground Transportation" width="7%" rendered="{!$ObjectType.Event_Beneficiaries__c.fields.Total_Ground_Transportation__c.Accessible}">
         <apex:outputField value="{!a.Total_Ground_Transportation__c}"/>
        </apex:column>
       <apex:column rendered="{!IF(IsLTExpandable==false,true,false)}" width="2%">
                <apex:facet name="header">
                <apex:image url="{!($Resource.Plus_Image)}" height="20px" width="20px" style="cursor:pointer;">
                        <apex:actionSupport event="onclick" action="{!expandLTcolumns}" status="LoadingStatusSpinner" rerender="benftablepgblk">
                        </apex:actionsupport>
                </apex:image>                
                </apex:facet>
            </apex:column>
             <apex:column rendered="{!IF(IsLTExpandable==true,true,false)}">
                <apex:facet name="header" >
                <apex:image url="{!($Resource.Minus_image)}" height="20px" width="20px" style="cursor:pointer;">
                 <apex:actionSupport event="onclick" action="{!collapseLTColumns}" status="LoadingStatusSpinner" rerender="benftablepgblk">
                        
                    </apex:actionsupport>
                </apex:image>                
                </apex:facet>
            </apex:column>

        <apex:column headerValue="Taxi" rendered="{!IF(IsLTExpandable==true && $ObjectType.Event_Beneficiaries__c.fields.Taxi__c.Accessible,true,false)}">
            <apex:inputField value="{!a.Taxi__c}" rendered="{!IF(a.Type__c='Individual Beneficiary',true,false)}"/>
            <apex:outputField value="{!a.Taxi__c}" rendered="{!IF(a.Type__c='Organization',true,false)}"/>
        </apex:column>
        <apex:column headerValue="Train" rendered="{!IF(IsLTExpandable==true && $ObjectType.Event_Beneficiaries__c.fields.Train__c.Accessible,true,false)}">
            <apex:inputField value="{!a.Train__c}" rendered="{!IF(a.Type__c='Individual Beneficiary',true,false)}"/>
            <apex:outputField value="{!a.Train__c}" rendered="{!IF(a.Type__c='Organization',true,false)}"/>
        </apex:column>
        <apex:column headervalue="Coach" rendered="{!IF(IsLTExpandable==true && $ObjectType.Event_Beneficiaries__c.fields.Coach__c.Accessible,true,false)}">
            <apex:inputField value="{!a.Coach__c}" rendered="{!IF(a.Type__c='Individual Beneficiary',true,false)}"/>
            <apex:outputField value="{!a.Coach__c}" rendered="{!IF(a.Type__c='Organization',true,false)}"/>
        </apex:column>
               
        <apex:column headerValue="Pickup" rendered="{!IF(IsLTExpandable==true && $ObjectType.Event_Beneficiaries__c.fields.Pickup__c.Accessible,true,false)}">  
            <apex:inputField value="{!a.Pickup__c}" rendered="{!IF(a.Type__c='Individual Beneficiary',true,false)}"/>
            <apex:outputField value="{!a.Pickup__c}" rendered="{!IF(a.Type__c='Organization',true,false)}"/>
        </apex:column>       
         <apex:column headerValue="Others" rendered="{!IF(IsLTExpandable==true && $ObjectType.Event_Beneficiaries__c.fields.Others__c.Accessible,true,false)}">  
            <apex:inputField value="{!a.Others__c}" rendered="{!IF(a.Type__c='Individual Beneficiary',true,false)}"/>
            <apex:outputField value="{!a.Others__c}" rendered="{!IF(a.Type__c='Organization',true,false)}"/>
        </apex:column>
        <apex:column headerValue="Air Travel" width="2%" rendered="{!$ObjectType.Event_Beneficiaries__c.fields.Air_Travel__c.Accessible}">
        <apex:inputField value="{!a.Air_Travel__c}" rendered="{!IF(a.Type__c='Individual Beneficiary',true,false)}"/>
        <apex:outputField value="{!a.Air_Travel__c}" rendered="{!IF(a.Type__c='Organization',true,false)}"/>
        </apex:column>
        <apex:column rendered="{!IF(IsATExpandable==false,true,false)}" width="2%">
                <apex:facet name="header">
                <apex:image url="{!($Resource.Plus_Image)}" height="20px" width="20px" style="cursor:pointer;">
                        <apex:actionSupport event="onclick" action="{!expandATcolumns}" status="LoadingStatusSpinner" rerender="benftablepgblk">
                        </apex:actionsupport>
                </apex:image>                
                </apex:facet>
            </apex:column>
             <apex:column rendered="{!IF(IsATExpandable==true,true,false)}">
                <apex:facet name="header" >
                <apex:image url="{!($Resource.Minus_image)}" height="20px" width="20px" style="cursor:pointer;">
                 <apex:actionSupport event="onclick" action="{!collapseATColumns}" status="LoadingStatusSpinner" rerender="benftablepgblk">
                        
                    </apex:actionsupport>
                </apex:image>                
                </apex:facet>
            </apex:column>
        <apex:column headerValue="Ticket Type" rendered="{!IF(IsATExpandable==true && $ObjectType.Event_Beneficiaries__c.fields.Ticket_Type__c.Accessible,true,false)}">
        <apex:inputField value="{!a.Ticket_Type__c}" rendered="{!IF(a.Type__c='Individual Beneficiary',true,false)}"/>
        <apex:inputField value="{!a.Ticket_Type__c}" rendered="{!IF(a.Type__c='Organization',true,false)}"/>
        </apex:column>
        <apex:column headerValue="Consultancy Fees" rendered="{!$ObjectType.Event_Beneficiaries__c.fields.Consultancy_fees__c.Accessible}">
        <apex:inputField value="{!a.Consultancy_fees__c}" rendered="{!IF(a.Type__c='Individual Beneficiary',true,false)}"/>
        <apex:outputField value="{!a.Consultancy_fees__c}" rendered="{!IF(a.Type__c='Organization',true,false)}"/>
        </apex:column>
        <apex:column headerValue="Gifts" width="6%" rendered="{!$ObjectType.Event_Beneficiaries__c.fields.Gifts__c.Accessible}">
        <apex:inputField value="{!a.Gifts__c}" rendered="{!IF(a.Type__c='Individual Beneficiary',true,false)}"/>
        <apex:outputField value="{!a.Gifts__c}" rendered="{!IF(a.Type__c='Organization',true,false)}"/>
        </apex:column>
        <apex:column headerValue="Others" width="8%" rendered="{!$ObjectType.Event_Beneficiaries__c.fields.Others_Others__c.Accessible}">
        <apex:outputField value="{!a.Others_Others__c}"/>
        </apex:column>
       <apex:column rendered="{!IF(IsOthersExpandable==false,true,false)}" width="2%">
                <apex:facet name="header">
                <apex:image url="{!($Resource.Plus_Image)}" height="20px" width="20px" style="cursor:pointer;">
                        <apex:actionSupport event="onclick" action="{!expandOtherscolumns}" status="LoadingStatusSpinner" rerender="benftablepgblk">
                        </apex:actionsupport>
                </apex:image>                
                </apex:facet>
            </apex:column>
             <apex:column rendered="{!IF(IsOthersExpandable==true,true,false)}">
                <apex:facet name="header" >
                <apex:image url="{!($Resource.Minus_image)}" height="20px" width="20px" style="cursor:pointer;">
                 <apex:actionSupport event="onclick" action="{!collapseOthersColumns}" status="LoadingStatusSpinner" rerender="benftablepgblk">                        
                    </apex:actionsupport>
                </apex:image>                
                </apex:facet>
            </apex:column>
        <apex:column headerValue="Sponsor" rendered="{!IF(IsOthersExpandable==true && $ObjectType.Event_Beneficiaries__c.fields.Sponsor__c.Accessible,true,false)}">
        <apex:inputField value="{!a.Sponsor__c}"/>
        </apex:column>
        <apex:column headerValue="Internal Order Fee" rendered="{!IF(IsOthersExpandable==true && $ObjectType.Event_Beneficiaries__c.fields.Internal_Order_Fee__c.Accessible,true,false)}">
        <apex:inputField value="{!a.Internal_Order_Fee__c}"/>
        </apex:column>
        <apex:column headerValue="Meeting Package" rendered="{!IF(IsOthersExpandable==true && $ObjectType.Event_Beneficiaries__c.fields.Meeting_Package__c.Accessible,true,false)}">
        <apex:inputField value="{!a.Meeting_Package__c}"/>
        </apex:column>
        <apex:column headerValue="Meeting Room Rental" rendered="{!IF(IsOthersExpandable==true && $ObjectType.Event_Beneficiaries__c.fields.Meeting_Room_Rental__c.Accessible,true,false)}">
        <apex:inputField value="{!a.Meeting_Room_Rental__c}"/>
        </apex:column>
        <apex:column headerValue="Booth Space" rendered="{!IF(IsOthersExpandable==true,true,false)}">
        <apex:inputField value="{!a.Booth_Space__c}"/>
        </apex:column>
        <apex:column headerValue="Advertisement " rendered="{!IF(IsOthersExpandable==true && $ObjectType.Event_Beneficiaries__c.fields.Advertisement__c.Accessible,true,false)}">
        <apex:inputField value="{!a.Advertisement__c}"/>
        </apex:column>
        <apex:column headerValue="Miscellaneous" rendered="{!IF(IsOthersExpandable==true && $ObjectType.Event_Beneficiaries__c.fields.Miscellaneous__c.Accessible,true,false)}">
        <apex:inputField value="{!a.Miscellaneous__c}"/>
        </apex:column>
    </apex:pageBlockTable>
    </apex:pageBlock>
    
    <apex:pageBlock title="Perform Apportionments">
        <apex:commandButton value="Meal Apportionment" action="{!showPopup}" rerender="popup" />  
             <apex:outputPanel id="popup">
                <apex:outputPanel id="popInnerOutputPnl" styleClass="customPopup" layout="block" rendered="{!displayPopUp}">
                     <apex:commandButton value="X" title="Close the popup" action="{!closePopup}" styleClass="closeButton" rerender="popup"/>                     
                     <apex:pageblockSection columns="2">
                         <apex:pageblockSectionItem >
                              <apex:outputLabel value="Meal Lump Sum Approval" />
                              <apex:inputText value="{!MealtotalLumpsum}"/>  
                         </apex:pageblockSectionItem>
                         <br></br>
                         <apex:pageblockSectionItem >
                              <apex:outputLabel value="Total Event Beneficiaries" />
                              <apex:outputText value="{!lstActualRecipients.size}"/>  
                         </apex:pageblockSectionItem>
                     </apex:pageblockSection>
                         <apex:commandButton value="Apportion" action="{!redirectPopup}" styleClass="closeButton" rerender="popup,benftable"/>                    
                </apex:outputPanel>
            </apex:outputPanel>            
        <br></br>
          <apex:commandButton value="Local Transport Apportionment" action="{!showPopuplodging}" rerender="popuplodging" />  
             <apex:outputPanel id="popuplodging">
                <apex:outputPanel id="popInnerOutputPnllodging" styleClass="customPopup" layout="block" rendered="{!displaypopuplodging}">
                     <apex:commandButton value="X" title="Close the popup" action="{!closePopup}" styleClass="closeButton" rerender="popuplodging"/>                     
                     <apex:pageblockSection columns="2">
                         <apex:pageblockSectionItem >
                              <apex:outputLabel value="Taxi" />
                              <apex:inputText value="{!Taxi}"/>                               
                         </apex:pageblockSectionItem>
                         <br></br>
                         <apex:pageblockSectionItem >
                              <apex:outputLabel value="Train"/>
                              <apex:inputText value="{!Train}"/>  
                         </apex:pageblockSectionItem>
                         <br></br>
                         <apex:pageblockSectionItem >
                              <apex:outputLabel value="Coach" />
                              <apex:inputText value="{!Coach}"/>  
                         </apex:pageblockSectionItem>
                         <br></br>
                         <apex:pageblockSectionItem >
                              <apex:outputLabel value="Pickup" />
                              <apex:inputText value="{!Pickup}"/>  
                         </apex:pageblockSectionItem>
                         <br></br>
                         <apex:pageblockSectionItem >
                              <apex:outputLabel value="Others" />
                              <apex:inputText value="{!Others}"/>  
                         </apex:pageblockSectionItem>
                         <br></br>
                         <apex:pageblockSectionItem >
                              <apex:outputLabel value="Total Event Beneficiaries" />
                              <apex:outputText value="{!lstActualRecipients.size}"/>  
                         </apex:pageblockSectionItem>
                     </apex:pageblockSection>
                         <apex:commandButton value="Apportion" action="{!redirectpopuptransport}" styleClass="closeButton" rerender="popuplodging,benftable"/>                    
                </apex:outputPanel>
            </apex:outputPanel>   
            
            <br></br>
<apex:commandButton value="Gifts Apportionment" action="{!showGifts}" rerender="giftspanel" /> 
<apex:outputPanel id="giftspanel">
                <apex:outputPanel id="popInnerOutputPnlgifts" styleClass="customPopup" layout="block" rendered="{!displaygiftspanel}">
                     <apex:commandButton value="X" title="Close the popup" action="{!closePopup}" styleClass="closeButton" rerender="giftspanel"/>                     
                     <apex:pageblockSection columns="2">
                         <apex:pageblockSectionItem >
                              <apex:outputLabel value="Gifts" />
                              <apex:inputText value="{!Gifts}"/>                               
                         </apex:pageblockSectionItem>
                         <br></br>
                         <apex:pageblockSectionItem >
                              <apex:outputLabel value="Total Event Beneficiaries" />
                              <apex:outputText value="{!lstActualRecipients.size}"/>  
                         </apex:pageblockSectionItem>
                         </apex:pageBlockSection>
                          <apex:commandButton value="Apportion" action="{!redirectpopupgifts}" styleClass="closeButton" rerender="giftspanel,benftable"/>                    
                </apex:outputPanel>
            </apex:outputPanel>          
        </apex:pageBlock>
</apex:form>    
<style type="text/css">
#ui-datepicker-div
    {
        z-index: 9999999;
    }
.customPopup {
    background-color: white;
    border-style: solid;
    border-width: 2px;
    left: 20%;
    padding: 10px;
    position: absolute;
    z-index: 9999;   
    width: 500px;
    top: 20%;
}

.disabledTextBox {
    background-color: white;
    border: 1px solid;
    color: black;
    cursor: default;
    width: 90px;
    display: table;
    padding: 2px 1px;
    text-align:right;
}   

.closeButton {
    float: right;
}
</style>
<script type="text/javascript">
 
        /*
        *    function to handle checkbox selection
        */
        function doCheckboxChange(cb,itemId){
 
            if(cb.checked==true){
                aSelectItem(itemId);
            }
            else{
                aDeselectItem(itemId);
            }
 
        }
 
    </script>
</apex:page>