<apex:page standardController="EMS_Event__c" extensions="EMS_Controller_ProcessFlow" showHeader="false" sidebar="false">
 <apex:form >
     <apex:outputPanel layout="block"  id="ankit">
     <center>
    <table border="0" vallign="middle">

<tr>
<td><apex:commandbutton title="Please click here to enter Basic Information about Event." onclick="return confirm('Are you sure you want to proceed? \nAny unsaved changes on the current page will be discarded.\nPress Cancel to remain on this same page.');" style="background-image:url('{!$Resource.EMSBasicInfo}');width:50px;height:50px;border-width:0px;background-repeat:no-repeat;background-position: 0 0;" action="{!redirectmainpage}" rendered="{!IF(chosenstep!='0',true,false)}"/>
  <apex:commandbutton title="Please click here to enter Basic Information about Event." onclick="return confirm('Are you sure you want to proceed? \nAny unsaved changes on the current page will be discarded.\nPress Cancel to remain on this same page.');" style="background-image:url('{!$Resource.EMSBasicInfo}');width:50px;height:50px;border-width:2px;border-color:#00FF33background-repeat:no-repeat;background-position: 0 0;border-color:#00FF33;border-width:2px;" action="{!redirectmainpage}" rendered="{!IF(chosenstep=='0',true,false)}"/></td>
<td><apex:image value="{!$Resource.EMS_BlueImage}" width="80" height="28"/></td>
<td><apex:commandbutton title="Please click here to enter GBU/Division Expense Apportionment." onclick="return confirm('Are you sure you want to proceed? \nAny unsaved changes on the current page will be discarded.\nPress Cancel to remain on this same page.');" style="background-image:url('{!$Resource.EMSGBUDivisionImage}');width:50px;height:50px;border-width:0px;background-repeat:no-repeat;background-position: 0 0;" action="{!redirectGBU}" rendered="{!IF(chosenstep!='1',true,false)}"/>
  <apex:commandbutton title="Please click here to enter GBU/Division Expense Apportionment." onclick="return confirm('Are you sure you want to proceed? \nAny unsaved changes on the current page will be discarded.\nPress Cancel to remain on this same page.');" style="background-image:url('{!$Resource.EMSGBUDivisionImage}');width:50px;height:50px;border-width:2px;border-color:#00FF33;background-repeat:no-repeat;background-position: 0 0;" action="{!redirectGBU}" rendered="{!IF(chosenstep=='1',true,false)}" /></td>
<td><apex:image value="{!$Resource.EMS_BlueImage}" width="80" height="28"/></td>
<td><apex:commandbutton title="Please click here to enter HCP Beneficiaries for the Event." onclick="return confirm('Are you sure you want to proceed? \nAny unsaved changes on the current page will be discarded.\nPress Cancel to remain on this same page.');" style="background-image:url('{!$Resource.EMSBeneficiaries}');width:50px;height:50px;background-repeat:no-repeat;cursor:pointer;overflow:hidden;background-position: 0 0;" action="{!redirectBeneficiaries}" rendered="{!IF(chosenstep!='2',true,false)}"/>
         <apex:commandbutton title="Please click here to enter HCP Beneficiaries for the Event." onclick="return confirm('Are you sure you want to proceed? \nAny unsaved changes on the current page will be discarded.\nPress Cancel to remain on this same page.');"  style="background-image:url('{!$Resource.EMSBeneficiaries}');width:50px;height:50px;border-color:#00FF33;border-width:2px;background-repeat:no-repeat;cursor:pointer;overflow:hidden;background-position: 0 0;" action="{!redirectBeneficiaries}" rendered="{!IF(chosenstep=='2',true,false)}"/></td>
<td><apex:image value="{!$Resource.EMS_BlueImage}" width="80" height="28"/></td>
<td> <apex:commandbutton title="Please click here to enter Non HCP Expenses" onclick="return confirm('Are you sure you want to proceed? \nAny unsaved changes on the current page will be discarded.\nPress Cancel to remain on this same page.');" style="background-image:url('{!$Resource.EMSNonHCPExpenses}');width:50px;height:50px;border-width:0px;background-repeat:no-repeat;cursor:pointer;overflow:hidden;background-position: 0 0;" action="{!redirectNonHCP}" rerender="" rendered="{!IF(chosenstep!='3',true,false)}"/>
          <apex:commandbutton title="Please click here to enter Non HCP Expenses" onclick="return confirm('Are you sure you want to proceed? \nAny unsaved changes on the current page will be discarded.\nPress Cancel to remain on this same page.');" style="background-image:url('{!$Resource.EMSNonHCPExpenses}');width:50px;height:50px;border-width:2px;border-color:#00FF33;background-repeat:no-repeat;cursor:pointer;overflow:hidden;background-position: 0 0;" action="{!redirectNonHCP}" rerender="" rendered="{!IF(chosenstep=='3',true,false)}"/></td>
<td><apex:image value="{!$Resource.EMS_BlueImage}" width="80" height="28"/></td>
<td><apex:commandbutton title="Please click here to add Samples/CCI Samples" onclick="return confirm('Are you sure you want to proceed? \nAny unsaved changes on the current page will be discarded.\nPress Cancel to remain on this same page.');" style="background-image:url('{!$Resource.EMSCCISamples}');width:50px;height:50px;border-width:0px;background-repeat:no-repeat;cursor:pointer;overflow:hidden;background-position: 0 0;" action="{!redirectSKUSamplesCCI}" rendered="{!IF(chosenstep!='7',true,false)}" rerender=""/>
           <apex:commandbutton title="Please click here to add Samples/CCI Samples" onclick="return confirm('Are you sure you want to proceed? \nAny unsaved changes on the current page will be discarded.\nPress Cancel to remain on this same page.');" style="background-image:url('{!$Resource.EMSCCISamples}');width:50px;height:50px;border-width:4px;border-color:#00FF33;background-repeat:no-repeat;cursor:pointer;overflow:hidden;background-position: 0 0;" action="{!redirectSKUSamplesCCI}" rendered="{!IF(chosenstep=='7',true,false)}" rerender=""/></td>
           <td><apex:image value="{!$Resource.EMS_BlueImage}" width="80" height="28"/></td>
<td><apex:commandbutton title="Please click here to attach Documents" onclick="return confirm('Are you sure you want to proceed? \nAny unsaved changes on the current page will be discarded.\nPress Cancel to remain on this same page.');" style="background-image:url('{!$Resource.EMSDocuments}');width:50px;height:50px;border-width:0px;background-repeat:no-repeat;cursor:pointer;overflow:hidden;background-position: 0 0;" action="{!redirectAttachDocuments}" rendered="{!IF(chosenstep!='6',true,false)}" rerender=""/>
           <apex:commandbutton title="Please click here to attach Documents" onclick="return confirm('Are you sure you want to proceed? \nAny unsaved changes on the current page will be discarded.\nPress Cancel to remain on this same page.');" style="background-image:url('{!$Resource.EMSDocuments}');width:50px;height:50px;border-width:4px;border-color:#00FF33;background-repeat:no-repeat;cursor:pointer;overflow:hidden;background-position: 0 0;" action="{!redirectAttachDocuments}" rendered="{!IF(chosenstep=='6',true,false)}" rerender=""/></td>
</tr>
<tr>
<td><h2 style="font-family:callibri;color:black;font-size:12px;text-align:center;">Enter Basic Info</h2>
</td>
<td></td>
<td><h2 style="font-family:callibri;color:black;font-size:12px;">Enter GBU/Division</h2></td>
<td></td>
<td><h2 style="font-family:callibri;color:black;font-size:12px;text-align:center;">Beneficiaries Management</h2></td>
<td></td>
<td><h2 style="font-family:callibri;color:black;font-size:12px;text-align:center;">Non-HCP Expenses</h2></td>
<td></td>
<td rendered="false"><h2 style="font-family:callibri;color:black;font-size:12px;text-align:center;" >{!SamplesString}</h2>
    </td>
<td></td>
<td><h2 style="font-family:callibri;color:black;font-size:12px;text-align:center;">Attach Documents</h2></td>
</tr>

</table>
</center>

     

     
     
    <!-- <apex:commandbutton title="Please click here to enter Fund Request Description" style="background-image:url('{!$Resource.EMSFRDescriptions}');width:50px;height:50px;background-repeat:no-repeat;cursor:pointer;overflow:hidden;background-position: 0 0;" action="{!redirectFRDescription}"  rendered="{!IF(chosenstep!='4',true,false)}" rerender=""/>-->
     <!--<apex:commandbutton title="Please click here to enter Fund Request Description" style="background-image:url('{!$Resource.EMSFRDescriptions}');width:50px;height:50px;background-repeat:no-repeat;cursor:pointer;overflow:hidden;background-position: 0 0;" action="{!redirectFRDescription}" rendered="{!IF(chosenstep!='4',true,false)}" rerender=""/>
     <apex:commandbutton title="Please click here to enter Fund Request Description" style="background-image:url('{!$Resource.EMSFRDescriptions}');width:50px;height:50px;background-repeat:no-repeat;cursor:pointer;overflow:hidden;background-position: 0 0;border-color:#00FF33;border-width:2px;" action="{!redirectFRDescription}" rendered="{!IF(chosenstep=='4',true,false)}" rerender=""/>

     <apex:image value="{!$Resource.EMS_BlueImage}" width="80" height="28"/>  
     <apex:commandbutton title="Please click here to enter Covidien Staff" style="background-image:url('{!$Resource.EMSEmployees}');width:50px;height:50px;border-width:0px;background-repeat:no-repeat;cursor:pointer;overflow:hidden;background-position: 0 0;" action="{!redirectCovidien}" rendered="{!IF(chosenstep!='5',true,false)}" rerender=""/>
           <apex:commandbutton title="Please click here to enter Covidien Staff" style="background-image:url('{!$Resource.EMSEmployees}');width:50px;height:50px;border-width:2px;border-color:#00FF33;background-repeat:no-repeat;cursor:pointer;overflow:hidden;background-position: 0 0;" action="{!redirectCovidien}" rendered="{!IF(chosenstep=='5',true,false)}" rerender=""/>

     <apex:image value="{!$Resource.EMS_BlueImage}" width="80" height="28"/>-->
    
 
     <!--<apex:image value="{!$Resource.EMS_BlueImage}" width="80" height="28"/>
     <apex:commandbutton title="Please click here to enter Samples" style="background-image:url('{!$Resource.EMSSKUSamples}');width:50px;height:50px;border-width:0px;background-repeat:no-repeat;cursor:pointer;overflow:hidden;background-position: 0 0;" action="{!redirectSKUSamplesCCI}" rendered="{!IF(chosenstep!='7',true,false)}" rerender=""/>
     <apex:commandbutton title="Please click here to enter Samples" style="background-image:url('{!$Resource.EMSSKUSamples}');width:50px;height:50px;border-width:2px;border-color:#00FF33;background-repeat:no-repeat;cursor:pointer;overflow:hidden;background-position: 0 0;" action="{!redirectSKUSamplesCCI}" rendered="{!IF(chosenstep=='7',true,false)}" rerender=""/>

     <apex:image value="{!$Resource.EMS_BlueImage}" width="80" height="28"/>
     <apex:commandbutton title="Please click here to enter CCI Expenses" style="background-image:url('{!$Resource.EMSCCISamples}');width:50px;height:50px;border-width:0px;background-repeat:no-repeat;cursor:pointer;overflow:hidden;background-position: 0 0;" action="{!redirectCCIExpenses}" rendered="{!IF(chosenstep!='8',true,false)}" rerender=""/>
     <apex:commandbutton title="Please click here to enter CCI Expenses" style="background-image:url('{!$Resource.EMSCCISamples}');width:50px;height:50px;border-width:2px;border-color:#00FF33;background-repeat:no-repeat;cursor:pointer;overflow:hidden;background-position: 0 0;" action="{!redirectCCIExpenses}" rendered="{!IF(chosenstep=='8',true,false)}" rerender=""/>-->

   <!--  <apex:image value="{!$Resource.EMS_BlueImage}" width="80" height="28"/>
     ﻿<apex:commandbutton title="Please click here to enter Actuals" style="background-image:url('{!$Resource.EMSActuals}');width:50px;height:50px;border-width:0px;background-repeat:no-repeat;cursor:pointer;overflow:hidden;background-position: 0 0;" action="{!redirectActualRecipients}" rendered="{!IF(chosenstep!='9',true,false)}" rerender=""/>
     ﻿<apex:commandbutton title="Please click here to enter Actuals" style="background-image:url('{!$Resource.EMSActuals}');width:50px;height:50px;border-width:2px;border-color:#00FF33;background-repeat:no-repeat;cursor:pointer;overflow:hidden;background-position: 0 0;" action="{!redirectActualRecipients}" rendered="{!IF(chosenstep=='9',true,false)}" rerender=""/>
-->

     
     </apex:outputPanel>
     <apex:outputPanel id="redirectPanel" >
            <apex:outputText rendered="{!shouldRedirect}">
                <script type="text/javascript">
                    window.top.location.href = '{!redirectUrl}';
                </script>
            </apex:outputText>
        </apex:outputPanel>
 </apex:form>
</apex:page>