<apex:page standardcontroller="EMS_Event__c" extensions="EMS_CreateCPA" sidebar="false" showHeader="false" renderAs="pdf">

    <head>
    <style type="text/CSS">
        @page{
            //size: landscape;
            size: 29.7cm 21.0cm ; margin-top: 1.0cm; margin-left: 0.2cm; margin-right: 0.2cm; margin-bottom: 1.0cm;
        }
        .tg-center {
            text-align: center;
        }
        table {
            border-collapse: collapse;
        }
        
        table, th, td {
            border: 1px solid black;
        }
       
        .headerRow .TableTitle {
            background-color: #ADD8E6; !important; 
        }
   
    </style>
    </head>
    <body>
    <apex:form >    
        <table border="0" style="font-size:10pt;font-family: Arial;">      
          <tbody>
          <tr >
              <td style="border:0"><p><b>REQUEST FOR PRE-APPROVAL OF BUSINESS EXPENDITURES FOR GOVERNMENT OFFICIALS,<br/>
                        HEALTHCARE PROFESSIONALS AND CUSTOMERS</b></p></td>
              <td style="border:0;text-align:center"><apex:image value="{!$Resource.EMS_Covidienlogo}" width="80%"  style="vertical-align:right"/></td>
          </tr>
          <tr>
              <td style="border:0;display: {!IF(AND(currentEMSRecord.Owner_Country__c!='AU',currentEMSRecord.Owner_Country__c!='NZ'),'table-row','none')};" colspan="2"><b>eCPA FORM(Asia)</b></td>
              <td style="border:0;display: {!IF(OR(currentEMSRecord.Owner_Country__c=='AU',currentEMSRecord.Owner_Country__c=='NZ'),'table-row','none')};" colspan="2"><b>eCPA FORM(AUSTRALIA AND NEW ZEALAND)</b></td>
          </tr>
          <tr>
              <td style="border:0;display: {!IF(AND(currentEMSRecord.Owner_Country__c!='AU',currentEMSRecord.Owner_Country__c!='NZ'),'table-row','none')};">This form must be submitted in advance of and for any benefits with an aggregate value of more than USD 1,000
                    per recipient per day or per event,whichever is first met.No gift with a value greater than USD25 may be
                    given to any third party, including healthcare professionals, government officials and institutions.  </td>
            <td style="border:0;display: {!IF(OR(currentEMSRecord.Owner_Country__c=='AU',currentEMSRecord.Owner_Country__c=='NZ'),'table-row','none')};">This form must be submitted in advance of and for Benefits(Other than gifts) totalling over  USD 100
            and or gifts over USD 50 per Recipient per event/per day,whichever is first met.Copies of all supporting documents must be attached to this form for it to be processed  </td>
              <th style="border:2px solid blue;text-align:center">Request Date<br/><apex:outputText value="{!CurrentEMSRecord.CPA_Request_Date__c}"/></th>    
          </tr>
          <tr>
              <td style="border:0"><b>Submit this completed form for approvals 21 days prior to incurring any expenses and/or entering into any agreement.</b>
                    </td>
              <th style="border:2px solid blue;text-align:center">Reference No<br/><apex:outputText value="{!CurrentEMSRecord.CPA_Ref__c}" /></th> 
          </tr>
          <tr>
              <td style="border:0;text-align:center"><b>Process Status:</b>  {!CurrentEMSRecord.CPA_Status__c}</td>
              <th style="border:2px solid blue;text-align:center">Covidien Event ID<br/><apex:outputText value="{!CurrentEMSRecord.Event_Id__c}"/></th>             
          </tr>
          <tr style="display: {!IF(currentEMSRecord.In_Country_CPA_Routing_USD_1000__c,'table-row','none')};">
              <td style="border:0" align="center"></td>
              <th style="text-align:center;color:green;font-size:200%">In-Country eCPA</th>             
          </tr>          
          </tbody>
        </table> 

        <br></br><br></br>
        <apex:pageBlock >
  
  
 
<br></br><br></br>
<apex:outputPanel Id="section1" >
<div style="page-break-after:always;">
<table border="1 solid black" cellspacing="0" cellpadding="0" width="100%" >      
      <tbody>
          <tr>
              <th style="background-color:#ADD8E6">Covidien Event Id</th>
              <td><apex:outputField value="{!CurrentEMSRecord.Event_Id__c}" style="width:100%;height:100%"/></td>              
          </tr>
          <tr>
                 

        <th style="background-color:#ADD8E6">EVENT NAME</th>
              <td><apex:outputField value="{!CurrentEMSRecord.Name}" style="width:100%;height:100%"/></td>                
          </tr>
          <tr>
          <th style="background-color:#ADD8E6">Benefits Summary</th>
              <td><apex:outputField value="{!CurrentEMSRecord.Benefit_Summary__c}" style="width:100%;height:100%"/></td>              
          </tr>          
      </tbody>
  </table>
  

    <br></br>
    <table border="1" cellspacing="0" cellpadding="0" width="100%">
      <thead>
          <td colspan="4" style="background-color:#ADD8E6"><b>LOCATION OF BENEFIT</b></td>                     
          
      </thead>
          <tr>
              <th>Benefit Date</th>
              <td><apex:outputField value="{!CurrentEMSRecord.Start_Date__c}" style="width:100%;height:100%"/></td>  
              <th>Country</th>
              <td><apex:outputField value="{!CurrentEMSRecord.Location_Country__c}" style="width:100%;height:100%"/></td>            
          </tr>
          <tr>
              <th>State</th>
              <td><apex:outputField value="{!CurrentEMSRecord.Location_State__c}" style="width:100%;height:100%"/></td>  
              <th>Venue</th>
              <td><apex:outputField value="{!CurrentEMSRecord.Venue__c}" style="width:100%;height:100%"/></td>            
          </tr>
   </table>   
   
   <br></br>
    <table border="1px solid black" cellspacing="0" cellpadding="0" border-collapse="collapse" width="100%">
        <colgroup>
            <col span="1" style="width: 10%;"/>
            <col span="1" style="width: 40%;"/>
            <col span="1" style="width: 10%;"/>
            <col span="1" style="width: 40%;"/>
        </colgroup>
      <thead>
          <td colspan="4" style="background-color:#ADD8E6;font-size:11pt;font-family: Arial;"><b>SECTION 1-EVENT REQUESTER/OWNER INFORMATION</b></td>                     
      </thead>
      <tr>
              <th style="text-align:right">Country:</th>
              <td><apex:outputField value="{!CurrentEMSRecord.Owner_Country__c}" style="width:100%;height:100%"/></td>
              <th style="text-align:right">Business Unit:</th>
              <td><apex:outputField value="{!CurrentEMSRecord.GBU_Primary__c}" style="width:100%;height:100%"/></td>            
          </tr>
          <tr style="display: {!IF((AND(currentEMSRecord.Owner_Country__c!='AU',currentEMSRecord.Owner_Country__c!='NZ')),'table-row','none')};">
              <th style="text-align:right">CCI:</th>
              <td><apex:outputField value="{!currentEMSRecord.CCI__c}" style="width:100%;height:100%"/></td>
              <th style="text-align:right">KMDIA:</th>
              <td colspan="3" ><apex:outputField value="{!CurrentEMSRecord.KMDIA__c}" style="width:100%;height:100%"/></td>              
          </tr> 
          <tr>
              <th style="text-align:right">Department:</th>
              <td><apex:outputField value="{!CurrentEMSRecord.Expense_Type__c}" style="width:100%;height:100%"/></td>
               <th style="text-align:right">Division:</th>
              <td colspan="3" ><apex:outputField value="{!CurrentEMSRecord.Division_Primary__c}" style="width:100%;height:100%"/></td>  
                      
          </tr>
           <tr>
              <th style="text-align:right">Event Type:</th>
              <td colspan="3"><apex:outputField value="{!CurrentEMSRecord.Event_Type__c}" style="width:100%;height:100%"/></td>  
                        
          </tr>
           <tr>
              <th style="text-align:right">Requester Name:</th>
              <td><apex:outputField value="{!CurrentEMSRecord.Requestor_Name_1__c}" style="width:100%;height:100%"/></td>
               <th style="text-align:right">Telephone:</th>
              <td colspan="3" ><apex:outputField value="{!CurrentEMSRecord.Requestor_Name_1__r.Phone}" style="width:100%;height:100%"/></td>  
                      
          </tr>
          <tr>
              <th style="text-align:right">Requester Title:</th>
              <td><apex:outputField value="{!CurrentEMSRecord.Requestor_Name_1__r.Title}" style="width:100%;height:100%"/></td>
               <th style="text-align:right">Fax:</th>
              <td colspan="3" ><apex:outputField value="{!CurrentEMSRecord.Requestor_Name_1__r.Fax}" style="width:100%;height:100%"/></td>  
                      
          </tr>
          <tr>
              <th style="text-align:right">Manager:</th>
              <td colspan="3" ><apex:outputField value="{!CurrentEMSRecord.Manager1__c}" style="width:100%;height:100%"/></td>  
                      
          </tr>
          <tr>
              <th style="text-align:right">Event Owner:</th>
              <td colspan="3" ><apex:outputField value="{!CurrentEMSRecord.Event_Owner_User__c}" style="width:100%;height:100%"/></td>  
                      
          </tr>
          
         
   </table>   
</div>     
</apex:outputPanel>
    
    <br></br>
    <apex:outputPanel id="section2" >
    <div style="page-break-after:always;">
             <table border="1" cellspacing="0" cellpadding="0" style="border-color:#000000;" width="100%">
            <caption style="background-color:#ADD8E6"><b>SECTION - 2 PROPOSED BENEFIT INFORMATION</b></caption> 
            <caption style="background-color:#ADD8E6">DESCRIPTION OF BENEFIT</caption>
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Description</th>
                    <th>Total No of Days</th>
                    <th>NO. OF RECIPIENTS</th>
                    <th>TOTAL ESTIMATED VALUE</th>
                    <th>VALUE PER PERSON</th>
                </tr>
            </thead>
            <tbody>
                <tr>
              <td><table border="1"><tr><td style="display:{!IF(AND(currentEMSRecord.Owner_Country__c!='AU',currentEMSRecord.Owner_Country__c!='NZ'),'table-row','none')};"><b>MEAL(S)</b><br/>List the number and type(s) of meal(s),e.g.<br/>breakfast,lunch,dinner and location(s) of<br/>each meal.<br/>
              <b>Note:</b>Meals may not exceed the following<br/>daily per person dollar limits:<br/>Dinner-USD125<br/>Other meals/refreshments/snacks-USD 50<br/>
              (Total Daily Limit per person is USD 175)
              </td>
              <td style="display: {!IF(OR(currentEMSRecord.Owner_Country__c=='AU',currentEMSRecord.Owner_Country__c=='NZ'),'table-row','none')};">Meals may not exceed the following<br/>daily per dollar limits:<br/>Dinner - AUD 100/NZD 120<br/>Other Meals/refreshments/Snacks AUD 50/NZD 60<br/>Total daily meal limit per person is AUD 150/NZD 160<br/>
              </td></tr></table></td>
                    <!--<td><b>MEAL(S)</b><br/>List the number and type(s) of meal(s),e.g.<br/>breakfast,lunch,dinner and location(s) of<br/>each meal.<br/>
              <b>Note:</b>Meals may not exceed the following <br/>daily per person dollar limits:<br/>Dinner-USD125<br/>Other meals/refreshments/snacks-USD 50<br/>
              (Total Daily Limit per person is USD 175)
              </td>-->
                    <td bgcolor="{!IF(CurrentEMSRecord.Track_Meal_Flag__c==true ,'#FF0000','#FFFFFF')}">{!CurrentEMSRecord.Meal_Summary_Description_Remark__c}</td>
                    <td bgcolor="{!IF(CurrentEMSRecord.Track_Meal_Flag__c==true ,'#FF0000','#FFFFFF')}">{!CurrentEMSRecord.Total_No_of_Days__c}</td>
                    <td bgcolor="{!IF(CurrentEMSRecord.Track_Meal_Flag__c==true ,'#FF0000','#FFFFFF')}">{!CurrentEMSRecord.Total_Meal_Count__c}</td>                    
                    <td bgcolor="{!IF(CurrentEMSRecord.Track_Meal_Flag__c==true ,'#FF0000','#FFFFFF')}">{!CurrentEMSRecord.Total_Meal_Amount__c} </td>                    
                    <td bgcolor="{!IF(CurrentEMSRecord.Track_Meal_Flag__c==true ,'#FF0000','#FFFFFF')}">{!CurrentEMSRecord.Meal_Value_Per_Person__c} </td>
                </tr>
                <tr>
                    <td><b>LODGING</b><br/> List the hotel name or other lodging,location,<br/> and type of room,e.g.,standard room,suite.</td>
                    <td bgcolor="{!IF(CurrentEMSRecord.Track_Lodging__c==true ,'#FF0000','#FFFFFF')}">{!CurrentEMSRecord.Lodging_Description_Remarks__c}</td>
                    <td bgcolor="{!IF(CurrentEMSRecord.Track_Lodging__c==true ,'#FF0000','#FFFFFF')}">{!CurrentEMSRecord.Total_No_of_Days__c}</td>
                    <td bgcolor="{!IF(CurrentEMSRecord.Track_Lodging__c==true ,'#FF0000','#FFFFFF')}">{!CurrentEMSRecord.Total_Lodging_Count__c}</td>
                    <td bgcolor="{!IF(CurrentEMSRecord.Track_Lodging__c,'#FF0000','#FFFFFF')}">{!CurrentEMSRecord.Total_LodA__c} </td>
                    <td bgcolor="{!IF(CurrentEMSRecord.Track_Lodging__c==true ,'#FF0000','#FFFFFF')}">{!CurrentEMSRecord.Lodging_per_Person__c} </td>
                </tr>
                <tr>
                    <td><b>LOCAL GROUND TRANSPORTATION</b><br/>List the transportation type,e.g.,rental car,<br/>company bus,destinations and date of travel</td>
                    <td bgcolor="{!IF(CurrentEMSRecord.Track_LT_Flag__c==true ,'#FF0000','#FFFFFF')}">{!CurrentEMSRecord.Local_Ground_Transportation_Description__c}</td>
                    <td bgcolor="{!IF(CurrentEMSRecord.Track_LT_Flag__c==true ,'#FF0000','#FFFFFF')}">{!CurrentEMSRecord.Total_No_of_Days__c}</td>
                    <td bgcolor="{!IF(CurrentEMSRecord.Track_LT_Flag__c==true ,'#FF0000','#FFFFFF')}">{!CurrentEMSRecord.Total_LGT_Count__c}</td>
                    <td bgcolor="{!IF(CurrentEMSRecord.Track_LT_Flag__c,'#FF0000','#FFFFFF')}">{!CurrentEMSRecord.Total_Local_GTA__c} </td>
                    <td bgcolor="{!IF(CurrentEMSRecord.Track_LT_Flag__c==true ,'#FF0000','#FFFFFF')}">{!CurrentEMSRecord.Local_Transportation_per_Person__c} </td>
                </tr>
                <tr>
                    <td><b>AIR TRAVEL</b><br/>List or attach the itinerary(information must<br/> show place of origin,all stops,type,e.g.,first<br/>
              class,coach,cost and dates of travel).</td>
                    <td bgcolor="{!IF(CurrentEMSRecord.Track_Air_Travel__c==true ,'#FF0000','#FFFFFF')}">{!CurrentEMSRecord.Air_Travel_Description_Remarks__c}</td>
                    <td bgcolor="{!IF(CurrentEMSRecord.Track_Air_Travel__c==true ,'#FF0000','#FFFFFF')}">{!CurrentEMSRecord.Total_No_of_Days__c}</td>
                    <td bgcolor="{!IF(CurrentEMSRecord.Track_Air_Travel__c==true ,'#FF0000','#FFFFFF')}">{!CurrentEMSRecord.Total_Air_Travel_Count__c}</td>
                    <td bgcolor="{!IF(CurrentEMSRecord.Track_Air_Travel__c,'#FF0000','#FFFFFF')}">{!CurrentEMSRecord.Total_Air_Travel__c} </td>
                    <td bgcolor="{!IF(CurrentEMSRecord.Track_Air_Travel__c==true ,'#FF0000','#FFFFFF')}">{!CurrentEMSRecord.Total_Air_travel_per_person__c}</td>
                </tr>
                <tr>
                    <td><b>GIFT(S)</b><br/>Describe the gift(s) and indicate whether<br/>embossed with Covidien logo.</td>
                    <td bgcolor="{!IF(CurrentEMSRecord.Track_Gifts__c==true ,'#FF0000','#FFFFFF')}">{!CurrentEMSRecord.Gifts_Description_Remarks__c}</td>
                    <td bgcolor="{!IF(CurrentEMSRecord.Track_Gifts__c==true ,'#FF0000','#FFFFFF')}">{!CurrentEMSRecord.Total_No_of_Days__c}</td>
                    <td bgcolor="{!IF(CurrentEMSRecord.Track_Gifts__c==true ,'#FF0000','#FFFFFF')}">{!CurrentEMSRecord.Total_Gifts_Count__c}</td>
                    <td bgcolor="{!IF(CurrentEMSRecord.Track_Gifts__c,'#FF0000','#FFFFFF')}">{!CurrentEMSRecord.Total_Gifts_amount__c} </td>
                    <td bgcolor="{!IF(CurrentEMSRecord.Track_Gifts__c==true ,'#FF0000','#FFFFFF')}">{!CurrentEMSRecord.Gifts_value_per_person__c} </td>
                </tr>
                <tr>
                   <td><b>CONSULTANCY FEE(S)</b><br/>Provide name of the consultant(s) and <br/> describe the services e.g. speaker,instructor.</td>
                    <td bgcolor="{!IF(CurrentEMSRecord.Track_Consultancy_Fees__c==true ,'#FF0000','#FFFFFF')}">{!CurrentEMSRecord.Consultation_Fees_Description_Remarks__c}</td>
                    <td bgcolor="{!IF(CurrentEMSRecord.Track_Consultancy_Fees__c==true ,'#FF0000','#FFFFFF')}">{!CurrentEMSRecord.Total_No_of_Days__c}</td>
                    <td bgcolor="{!IF(CurrentEMSRecord.Track_Consultancy_Fees__c==true ,'#FF0000','#FFFFFF')}">{!CurrentEMSRecord.Total_Consultancy_Count__c}</td>
                    <td bgcolor="{!IF(CurrentEMSRecord.Track_Consultancy_Fees__c,'#FF0000','#FFFFFF')}">{!CurrentEMSRecord.Total_Consultancy_Fee__c} </td>
                    <td bgcolor="{!IF(CurrentEMSRecord.Track_Consultancy_Fees__c==true ,'#FF0000','#FFFFFF')}">{!CurrentEMSRecord.Consultancy_Per_person__c} </td>
                </tr>
                <tr>
                    <td><b>OTHER</b><br/>Describe any other proposed gratuity or <br/>benefit not listed above.</td>
                    <td bgcolor="{!IF(CurrentEMSRecord.Track_Others__c==true ,'#FF0000','#FFFFFF')}">{!CurrentEMSRecord.Others_Description_Remarks__c}</td>
                    <td bgcolor="{!IF(CurrentEMSRecord.Track_Others__c==true ,'#FF0000','#FFFFFF')}">{!CurrentEMSRecord.Total_No_of_Days__c}</td>
                    <td bgcolor="{!IF(CurrentEMSRecord.Track_Others__c==true ,'#FF0000','#FFFFFF')}">{!CurrentEMSRecord.Total_Others_Count__c}</td>
                    <td bgcolor="{!IF(CurrentEMSRecord.Track_Others__c,'#FF0000','#FFFFFF')}">{!CurrentEMSRecord.Total_Others_Amount__c} </td>
                    <td bgcolor="{!IF(CurrentEMSRecord.Track_Others__c==true ,'#FF0000','#FFFFFF')}">{!CurrentEMSRecord.Others_per_person__c} </td>
                </tr>
                <tr>
                    <td><b>OTHERS - SAMPLE</b></td>
                    <td>{!CurrentEMSRecord.Others_Sample_Decription_Remarks__c}</td>
                    <td></td>
                    <td></td>
                    <td bgcolor="{!IF(CurrentEMSRecord.Track_LT_Flag__c,'#FF0000','#FFFFFF')}"><apex:outputText value="{0, number, 00.00}">
                  <apex:param value="{!CurrentEMSRecord.Others_SKU_Sample_NCE_Amount__c}"/>
                  </apex:outputText> </td>
                    <td></td>
                </tr>
               <tr>
                  <td></td>
                  <td> </td>              
                  <td> </td>              
                  <td><b>TOTAL</b></td>
                  <td><b>{!CurrentEMSRecord.Total_HCP_Expenses__c}</b>    </td>         
                  <td> </td>              
               </tr>
               <tr>
                   <td></td>
                   <td> </td>              
                   <td> </td>              
                   <td><b>TOTAL USD</b></td>
                   <td><b>${!FLOOR((CurrentEMSRecord.Total_HCP_Expenses__c)/(c.Conversionrate))}</b></td>          
                   <td>Ex-rate :{!c.Conversionrate}</td>              
               </tr>
            </tbody>
        </table>
         <br></br>
    <!--</apex:outputPanel>  -->
    <!--<apex:outputPanel >-->
     <table border="1" cellspacing="0" cellpadding="0" width="100%">
      <thead>
          <td colspan="6" style="background-color:#ADD8E6"><b>CPA Remarks</b></td> 
      </thead>
      <td colspan="6">{!currentEMSRecord.CPA_Remarks__c}</td> 
      </table>
    
  
  <br></br>
      <table border="1" cellspacing="0" cellpadding="0" width="100%">
      <thead>
          <td colspan="6" style="background-color:#ADD8E6"><b>Existing eCPAs for this Event</b></td> 
      </thead>
      </table>
      <br></br>
      <apex:pageBlock >
        <apex:pageBlockTable value="{!eCPAattachments}" var="attachment" border="1" width="100%">
            <apex:column headerValue="Action">
               <apex:outputLink value="{!URLFOR($Action.Attachment.Download, attachment.Id)}" target="_blank">View</apex:outputLink>
            </apex:column>
            <apex:column value="{!attachment.Name}"/>
            <apex:column value="{!attachment.Description}"/>
        </apex:pageBlockTable>
    </apex:pageBlock>

    </div>
    </apex:outputPanel>
</apex:pageBlock>
  
  <apex:outputPanel id="section3">
  <div style="page-break-after:always;">
      <apex:pageBlock >
           <table border="1" cellspacing="0" cellpadding="0" width="100%">
      <thead>
          <td colspan="4" style="background-color:#ADD8E6"><b>SECTION 3 - BUSINESS PURPOSE</b></td>                    
      </thead>      
      </table>  
          
              <apex:outputPanel >
                  <b><u><apex:outputText value="MARKETING/PROMOTIONAL ACTIVITIES"/></u></b> <br></br> 
                  <apex:outputfield value="{!currentEMSRecord.Booth_Space__c}"/> <apex:outputText value="Booth Space"/><br></br> 
                  <apex:outputfield value="{!currentEMSRecord.Workshop_conducted_by_Covidien_sales__c}"/> <apex:outputText value="Workshop conducted by Covidien sales/marketing personnel to promote new products or techniques"/><br></br>                   
                  <apex:outputField value="{!currentEMSRecord.Stand_alone_gift__c}"/> <apex:outputText value="Stand Alone Gift"/><br></br> 
                  <apex:outputField value="{!currentEMSRecord.Advertisement__c}"/> <apex:outputText value="Advertisement"/>
              </apex:outputPanel><br></br><br></br><br></br> 
        
      
              <apex:outputPanel >
                  <b><u><apex:outputText value="GRANT AND COMPLIANCE COMMITTEE ACTIVITIES"/></u></b> <br></br> 
                  <apex:outputfield value="{!currentEMSRecord.Training_conducted_by_HCPs__c}"/> <apex:outputText value="Covidien PACE training"/><br></br> 
                  <apex:outputfield value="{!currentEMSRecord.Education_Grant__c}"/> <apex:outputText value="Education Grant"/><br></br> 
                  <apex:outputfield value="{!currentEMSRecord.CEP__c}"/> <apex:outputText value="CEP"/><br></br> 
                  <apex:outputField value="{!currentEMSRecord.ISR_CSR__c}"/> <apex:outputText value="ISR/CSR"/><br></br> 
                  <apex:outputField value="{!currentEMSRecord.Event_level_sponsorship_of_congresses_co__c}"/> <apex:outputText value="Event-level sponsorship"/><br></br> 
                  <apex:outputField value="{!currentEMSRecord.Product_or_other_forms_of_charitable_don__c}"/>Product or any other forms of charitable donation<br></br>
                  
                  <apex:outputField value="{!currentEMSRecord.Speaker_or_other_consulting_services__c}"/> <apex:outputText value="Speaker or other Consulting Services"/><br></br>
                  &nbsp; &nbsp; &nbsp; <apex:outputText value="Any HCP Invitees from Outside Asia?"/>&nbsp; &nbsp;<b><apex:outputfield value="{!currentEMSrecord.Any_HCP_Invitees_from_Outside_Asia__c}"/><br></br></b>
                  <apex:outputField value="{!currentEMSRecord.Any_benefits_involving_govt_officials__c}"/> <apex:outputText value="Any benefits involving Government Officials(other than HCPs)"/><br></br>
                  <apex:outputField value="{!currentEMSRecord.VOC_interviews_discussions__c}"/><apex:outputText value="VOC interviews/discussions"/><br></br>
                  <apex:outputField value="{!currentEMSRecord.Patient_awareness_public_forum__c}"/><apex:outputText value="Patient awareness/public forum"/><br></br>
                  <apex:outputField value="{!currentEMSRecord.Publication_grant__c}"/><apex:outputText value="Publication Grant"/><br></br>
                  <apex:outputField value="{!currentEMSRecord.Others__c}"/><apex:outputText value="Others"/><br></br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<apex:outputText value="Please specify:"/><br/><apex:outputfield value="{!currentEMSrecord.Others_Please_specify__c}"/><br></br>
              </apex:outputPanel>              

      <table border="1" cellspacing="0" cellpadding="0" width="100%">
      <thead>
          <td colspan="4" style="background-color:#ADD8E6">Name and Location of Event/Activity</td>                    
      </thead>  <tr>
      <td colspan="4" >{!CurrentEMSRecord.Name}/{!CurrentEMSRecord.Venue__c} </td>      </tr>
      </table>  
      <br></br>
      IF APPLICABLE PLEASE PROVIDE THE WEB ADDRESS OF THE EVENT(e.g. www.somesite.com)
      <table border="1" cellspacing="0" cellpadding="0" width="100%">
      <thead><tr>
          <td colspan="2" style="background-color:#ADD8E6"><b>Description</b></td>    
          <td colspan="2" style="background-color:#ADD8E6"><b>WebAddress</b></td> 
          </tr>               
      </thead>  <tr>
      <td colspan="2" >{!CurrentEMSRecord.Name}</td>     
      <td colspan="2" >{!CurrentEMSRecord.Event_URL__c}</td>   </tr>
      </table>
      <br></br>
      <br></br>      
      <table border="1" width="100%">
      <thead>
          <td colspan="4" style="background-color:#ADD8E6"><b>COVIDIEN PERSONNEL-</b> DESCRIPTION OF COVIDIEN PERSONNEL AND ANY OTHER PERSONS(OTHER THAN RECIEPIENTS) WHO WILL BE PRESENT AND RECEIVE OR PARTICIPATE IN THE PROPOSED BENEFIT.</td>    
      </thead>
      <tr>  
       <td><b>Internal Recipient URL</b></td>  
       </tr>
       <tr>
      <td><apex:outputField value="{!CurrentEMSrecord.Budget_Internal_Recipient_URL__c}"/></td>  
      </tr>
      </table>  
   </apex:pageBlock>
   </div>
  </apex:outputPanel>
  <br></br>
  <apex:outputPanel id="section4">
  <div style="page-break-after:always;">
  <table border="1" cellspacing="0" cellpadding="0" width="100%">
      <thead>
          <td colspan="6" style="background-color:#ADD8E6"><b>SECTION 4 - RECIPIENT INFORMATION</b></td> 
      </thead>
       <tr>
          <td colspan="6" style="background-color:#ADD8E6"><b>External Recipient URL</b></td>  
      </tr><tr>
          <td colspan="2"><apex:outputField value="{!CurrentEMSrecord.Budget_External_Recipient_URL__c}"/></td></tr>
          <tr>
          <td colspan="6" style="background-color:#ADD8E6"><b>Internal Recipient URL</b></td>  
          </tr> <tr>   
          <td colspan="2"><apex:outputField value="{!CurrentEMSrecord.Budget_Internal_Recipient_URL__c}"/></td>  
          </tr>
       <tr style="display: {!IF((AND(currentEMSRecord.Owner_Country__c!='AU',currentEMSRecord.Owner_Country__c!='NZ')),'table-row','none')};">
          <td style="font-size:10pt;font-family: Arial;"><b>Any HCP from outside of Asia?</b></td>  
          <td ><apex:outputField value="{!CurrentEMSrecord.Any_HCP_Invitees_from_Outside_Asia__c}"/></td>
      </tr> 
      <tr style="display: {!IF((OR(currentEMSRecord.Owner_Country__c=='AU',currentEMSRecord.Owner_Country__c=='NZ')),'table-row','none')};">
          <td style="font-size:10pt;font-family: Arial;"><b>Any HCP from outside of ANZ?</b></td>  
          <td ><apex:outputField value="{!CurrentEMSrecord.Any_HCP_from_outside_of_ANZ__c}"/></td>
      </tr> 
      
      <tr style="display: {!IF((AND(currentEMSRecord.Owner_Country__c!='AU',currentEMSRecord.Owner_Country__c!='NZ')),'table-row','none')};">
          <td style="font-size:10pt;font-family: Arial;"><b>Any KOL(s)/HCP(s) from mainland China/Korea travelling out of their home region/country?</b></td>  
          <td ><apex:outputField value="{!CurrentEMSrecord.Any_recipient_s_who_are_KOL_s_HCP_s__c}"/></td>
      </tr>  
      </table> 
      <br></br>
      <br></br>
       <table border="1" cellspacing="0" cellpadding="0" width="100%">
      <thead>
          <td colspan="4" style="background-color:#ADD8E6"><b>OTHER RELEVANT INFORMATION(Please indicate original eCPA ID with account changes,samples(used in Covidien Events),other expenses not used included in Section 2,etc)</b></td>                    
      </thead> 
      <tr> 
      <td colspan="4" >Booth Construction Fee: {!CurrentEMSRecord.Booth_Construction_Fee__c}<br></br>
                      <t></t>Printing Fee : {!currentEMSRecord.Printing_Fee__c}<br></br>
                      <t></t>Event Production Fee : {!currentEMSRecord.Event_Production_Fee__c}<br></br> 
                      <t></t>Meeting Video Translation Fee : {!currentEMSRecord.Meeting_Video_Translation__c}<br></br>
                      <t></t>Other Meeting Facility Fee : {!currentEMSRecord.Other_Meeting_Facility_Fee__c}<br></br> 
                      <t></t>Agency Fee :{!currentEMSRecord.Agency_Fee__c}<br></br>
                      <t></t>Other Non Benefit Type fee : {!currentEMSRecord.Other_Non_Benefit_Type_Fee__c}<br></br> 
                      <t></t>Design Fee: {!CurrentEMSRecord.Design_Fee__c}<t></t><br></br> 
                      <b>Total Non HCP Expenses: </b>{!CurrentEMSREcord.Total_Non_HCP_Expenses__c}<br></br>
                      <t></t><b>Covidien Event Samples:</b><apex:outputText value="{0, number, 00.00}">
                        <apex:param value="{!CurrentEMSRecord.Others_SKU_Sample_Covidien_Event_Amount__c}"/>
                         </apex:outputText><br></br>
                      <b>CCI Cost: </b><apex:outputText value="{0, number, 00.00}">
                          <apex:param value="{!CurrentEMSREcord.CCI_Total_Expense__c}" />
                      </apex:outputText><br></br>
                      
                      
                                            
                      </td>      
      </tr>
      <tr>
      <th colspan="1">Covidien Solo Sponsorship?</th>  
      <td colspan="1">{!CurrentEMSRecord.Covidien_Solo_Sponsorship__c}</td> 
      <th colspan="1">Sponsorship pay to Agency?</th>  
      <td colspan="1">{!CurrentEMSRecord.Sponsorship_Pay_To_Agency__c}</td>   
      </tr>
      </table>     
      </div>
  </apex:outputPanel>
  <br></br>
  <apex:outputPanel id="section5">
  <div style="page-break-after:always;">
  <table border="1" cellspacing="0" cellpadding="0" width="100%">
      <thead>
          <td colspan="6" style="background-color:#ADD8E6"><b>SECTION 5 - SUPPORTING DOCUMENT LINKS</b></td> 
      </thead>
      </table>
      <br></br>
      <table border="1" width="100%">
      <thead>
          <td colspan="6" style="background-color:#ADD8E6;font-size:11pt;font-family: Arial;"><b>Checklist of Documents</b></td> 
      </thead>
      </table>
      <apex:pageblock >
          <apex:variable value="{!1}" var="count" > 
            <apex:pageBlockTable value="{!LChecklistDocs}" var="eachChecklistItem" border="1" width="100%" >  
                <apex:column headervalue="S.No." headerclass="TableTitle">
                    {!count}.       
                     <apex:variable value="{!count + 1}" var="count" />   
                </apex:column>         
                <apex:column headervalue="Document Name" headerclass="TableTitle" value="{!eachChecklistItem}"/>
            </apex:pageBlockTable>
            </apex:variable>
      </apex:pageBlock><br></br>
      <apex:pageBlock >
        <apex:pageBlockTable value="{!attachments}" var="attachment" border="1" width="100%">
            <apex:column headerValue="Action" headerclass="TableTitle">
               <apex:outputLink value="{!URLFOR($Action.Attachment.Download, attachment.Id)}" target="_blank">View</apex:outputLink>
            </apex:column>
            <apex:column value="{!attachment.Name}" headerclass="TableTitle"/>
            <apex:column value="{!attachment.Description}" headerclass="TableTitle"/>
        </apex:pageBlockTable>
    </apex:pageBlock>
    </div>
  </apex:outputPanel>
  <br></br>
  <br></br>
  <apex:outputPanel id="section6" style="background-color:#ADD8E6;font-size:11pt;font-family: Arial;">
  <div style="page-break-after:always;">
  <table border="1" width="100%">
      <thead>
          <td colspan="6" style="background-color:#ADD8E6;font-size:11pt;font-family: Arial;"><b>SECTION 6 - CHECKLIST FOR APPROVALS</b></td> 
      </thead>
      <tr>
          <td colspan="6">1. The eCPA Form properly completed and supporting documents attached.<br></br><br></br>
                          2. Breakdown of expenses included and supported by quotations,invoices and/or receipts.<br></br><br></br>
                          3. If supporting document is in language other than English,an English translation of document attached.<br></br><br></br>
                          4. Recipient information completed with required details in Section 4 or List of Recipients(using approved template) attached.<br></br><br></br>
                          5. If any Recipient has recieved benefits in this financial year,reference number of previous pre-approval forms provided <br></br><br></br>
                          6. If the cost of benefit is shared with Covidien Distributor ,the name of Distributor and the cost sharing details provided in space for Other Relevant Information.
                          
                          </td>

      </tr>
      </table><br></br>
      <table border="1" width="100%">
      <thead>
          <td style="background-color:#ADD8E6;font-size:11pt;font-family: Arial;"><b>ADDITIONAL CHECKLIST FOR BENEFITS INVOLVING:</b></td> 
      </thead>
      </table>
      <apex:pageBlock >
      <apex:pageBlockSection title="A. Booth space (not in conjunction with event-level sponsorship)"  rendered="{!IF((currentEMSRecord.Booth_Space__c),true,false)}" columns="1">
      <apex:outputText value="1. Official brochure for the event attached"/>
      <apex:outputText value="2. Official exhibition layout attached"/>
      <apex:outputText value="3. Official meeting agenda attached"/>
      <apex:outputText value="4. If the benefit payee differs from the conference organizer or meeting committee, official documentation issued by the organizer or committee appointing the third party as the payee attached"/>
      <apex:outputText value="5. Draft booth agreement in relation to the booth (for review by the Legal Department)**"/>
      </apex:pageBlockSection>
      
      <apex:pageBlockSection title="B.     1. Workshop conducted by Covidien sales/marketing personnel to promote new products or techniques. 2. Training conducted by HCPs on safe and effective use of Covidien products or on procedures/techniques " rendered="{!IF((currentEMSRecord.Workshop_conducted_by_Covidien_sales__c || currentEMSRecord.Training_conducted_by_HCPs__c),true,false)}" columns="1" >
      <apex:outputText value="1. Official brochure and meeting agenda " rendered="{!IF((currentEMSRecord.Workshop_conducted_by_Covidien_sales__c||currentEMSRecord.Training_conducted_by_HCPs__c),true,false)}"/>
      <apex:outputText value="2. Agenda of the HCPs/distributors activities from the day of departure from the country of residence until the day of return to the country of residence "/>
      <apex:outputText value="3. For items B.2 & B.3, in case of training programs involving usage of lab facilities at CCI (Shanghai), attach a completed Animal Lab Application Form approved by Training Director, CCI "/>
      </apex:pageBlockSection>
       <apex:pageBlockSection title="C.  Stand-alone gift (please describe the recognized gift-giving event) " columns="1" rendered="{!IF((currentEMSRecord.Stand_alone_gift__c),true,false)}">
      <apex:outputText value="1. Quotation and description (including photos if available) of each gift from vendor attached"/>      
      </apex:pageBlockSection>
      
      <apex:pageBlockSection title="D. Advertisement" columns="1" rendered="{!IF((currentEMSRecord.Advertisement__c),true,false)}">
      <apex:outputText value="1. Final product of advertising material attached"/>
      <apex:outputText value="2. The publication material’s circulation number"/>
      <apex:outputText value="3. Publication/issue number"/>
      <apex:outputText value="4. Frequency of the circulation"/>
      <apex:outputText value="5. Compliance with Covidien Global External Communications Policy"/>
      </apex:pageBlockSection>
      <apex:pageBlockSection title="E. 1. Education grant (PACE) 2. Research grant (CA)" columns="1" rendered="{!IF((currentEMSRecord.Education_Grant__c),true,false)}">
      <apex:outputText value="1. Official proposal from the applicant detailing the purpose of the grant"/>
      <apex:outputText value="2. For research grant, curriculum vitae of the healthcare professionals involved in the research "/>
      <apex:outputText value="3. If grant involves the supply of Covidien products for usage in or as samples for education programs, completed and approved Internal Order Form and training agenda"/>
      <apex:outputText value="4. If grant involves clinical research on Covidien products, written approval from the Investigator Sponsored Research Committee (http://na-teamsites/sdisr/default.aspx) "/>
      <apex:outputText value="5. Draft sponsorship agreement (for review by the Legal Department)**"/>
      </apex:pageBlockSection>
      <apex:pageBlockSection title="F.  Event-level sponsorship of congresses/conferences" columns="1" rendered="{!IF((currentEMSRecord.Event_level_sponsorship_of_congresses_co__c),true,false)}">
      <apex:outputText value="1. Official brochure for the event "/>
      <apex:outputText value="2. Official documents from the organiser detailing the types of sponsorship (e.g. platinum, gold etc.)"/>
      <apex:outputText value="3. If the benefit payee differs from the conference organizer or meeting committee, official documentation issued by the organizer or committee appointing the third party as the payee  "/>
      <apex:outputText value="4. Draft sponsorship agreement with the organiser (for review by the Legal Department)** "/>
      <apex:outputText value="5. If Covidien is sponsoring a speaker to the event, draft speaker agreement (for review by the Legal Department)"/>
      </apex:pageBlockSection>
      <apex:pageBlockSection title="G.  Speaker or other consulting services (PACE) " columns="1" rendered="{!IF((currentEMSRecord.Speaker_or_other_consulting_services__c),true,false)}">
      <apex:outputText value="1. Draft speaker agreement or draft consulting agreement (for review by the Legal Department)  "/>
      <apex:outputText value="2. Curriculum vitae of the speaker/consultant"/>
      
      </apex:pageBlockSection>
      <apex:pageBlockSection title="H. Product or other forms of charitable donation" columns="1" rendered="{!IF((currentEMSRecord.Product_or_other_forms_of_charitable_don__c),true,false)}">
      <apex:outputText value="1. Official request from the applicant detailing the purpose of the donation "/>
      <apex:outputText value="2. Note:  Please obtain approval from SVP, Corporate Communications after eCPA Form is approved by the GCC."/>      
      </apex:pageBlockSection>
      <apex:pageBlockSection title="I.   Any benefits involving government officials (other than HCPs)" columns="1" rendered="{!IF((currentEMSRecord.Any_benefits_involving_govt_officials__c),true,false)}">
      <apex:outputText value="1. Written explanation from Requester detailing the proposed benefits and purpose for provision of the benefits"/>
      <apex:outputText value="2. If request for benefits originated from an external party, official request from such external party detailing the purpose of the benefits"/>      
      </apex:pageBlockSection>
      </apex:pageBlock>
      
  </div>    
  </apex:outputPanel>
  <br></br>
   <br></br><br></br><br></br>
   <apex:outputPanel id="section7">
  <div style="page-break-after:always;">
  <table border="1" cellspacing="0" cellpadding="0" width="100%">
      <thead>
          <td colspan="4" style="background-color:#ADD8E6"><b>SECTION 7A - REQUESTER CERTIFICATION</b></td> 
      </thead>
      <tr>
          <td colspan="6"><font color="red" size="3"></font><br></br>
          <apex:inputCheckbox value="{!section7}"/>
          <b>I hereby certify that the information provided above,including attachments hereto ,is true,accurate and complete</b></td>

      </tr>
          <tr>
              <th style="background-color:#ADD8E6"> REQUESTER(NAME)</th>  
             
              <th style="background-color:#ADD8E6">DATE CERTIFIED</th>
             
          </tr>
          <tr>
              <td><apex:outputfield value="{!currentEMSRecord.Requestor_Name_1__c}"/></td>
              <!--<td>Ankit.Singhal</td>  -->
              <td>{!currentEMSRecord.CPA_Request_Date__c}</td>
              <!--<td>Approved</td>-->            
          </tr>
          </table>
          <br></br>
          <table border="1" cellspacing="0" cellpadding="0" width="100%">
          <thead>
          <td colspan="4" style="background-color:#ADD8E6"><b>SECTION 7C - EVENT OWNER CERTIFICATION</b></td> 
      </thead>
      <tr>
          <td colspan="6"><font color="red" size="3"></font><br></br>
          <apex:inputCheckbox value="{!section7}"/>
          <b>I hereby certify that the information provided above,including attachments hereto ,is true,accurate and complete</b></td>

      </tr>
          <tr>
               <th style="background-color:skyblue">EVENT OWNER(NAME)</th>  
              <!--<th style="background-color:skyblue">CERTIFIED BY</th>-->
              <th style="background-color:skyblue">DATE CERTIFIED</th>
              <!--<th style="background-color:skyblue">COMMENTS</th>-->
              
          </tr>
          <tr>
              <td><apex:outputfield value="{!currentEMSrecord.Event_Owner_User__c}" /></td>
              <!--<td>Ankit.Singhal</td>  -->
              <td>{!currentEMSRecord.Event_Owner_Approval_Date__c}</td>
              <!--<td>Approved</td>-->         
          </tr>
   </table> 
   </div>
  </apex:outputPanel>
   </apex:form>
<br></br>
    <table border="1" cellspacing="0" cellpadding="0" width="100%">
        <thead>
            <td colspan="6" style="background-color:#ADD8E6"><b>SECTION 8(A) - APPROVALS</b></td> 
        </thead>
    </table>
    <apex:relatedList list="ProcessSteps" subject="{!currentEMSRecord}" pageSize="50" title="Approval History" ></apex:relatedList>
  </body>
 
</apex:page>