<apex:page standardController="EMS_Event__c" extensions="EMS_Controller_AddCCIExpenses" sidebar="false" showHeader="false">
<style type="text/css">
.myClass{color:white !important;background:#00CC00 !important;}
</style>
<apex:form id="mainCCIform">
    <c:LoadingStatusSpinner />
   
    
    <apex:actionFunction name="aSelectItem" action="{!doSelectItem}"   status="LoadingStatusSpinner" rerender="">
        <apex:param name="contextItem" value="" assignTo="{!contextItem}" />
    </apex:actionFunction>
     
            <!-- handle deselected item -->
   <apex:actionFunction name="aDeselectItem" action="{!doDeselectItem}" status="LoadingStatusSpinner" rerender="">
       <apex:param name="contextItem" value="" assignTo="{!contextItem}"/>
   </apex:actionFunction>
        <apex:pageBlock id="searchCt">

            <apex:pageBlockSection title="CCI Samples - Search">    
                <apex:pageBlockSectionItem >
                <apex:outputlabel value="Search by"/>
                <apex:actionregion >
                    <apex:selectlist value="{!selectedsearchcriteria}" multiselect="false" size="1" >
                        <apex:selectOption itemValue="1" itemLabel="Table"/>
                        <apex:selectOption itemValue="2" itemLabel="Samples"/>
                        <apex:selectOption itemValue="3" itemLabel="Procedures"/>                
                        <apex:actionSupport event="onchange" action="{!rendersearchfields}" rerender="searchresults,searchCt"  status="LoadingStatusSpinner" />
                    </apex:selectList>
              </apex:actionregion> 
          </apex:pageBlockSectionItem><br></br> 
                <apex:inputText value="{!tabletype}" label="Table Type" rendered="{!selectedsearchcriteria==1}"/>
                <apex:inputText value="{!tabledescription}" label="Table Description" rendered="{!selectedsearchcriteria==1}"/>
                <apex:inputText value="{!SampleCode}" label="Sample Code" rendered="{!selectedsearchcriteria==2}"/>
                <apex:inputText value="{!SampleDescription}" label="Sample Name" rendered="{!selectedsearchcriteria==2}"/>
                <apex:inputText value="{!Procedurecode}" label="Procedure Code" rendered="{!selectedsearchcriteria==3}"/>
                <apex:inputText value="{!ProcedureName}" label="Procedure Name" rendered="{!selectedsearchcriteria==3}"/>
                <apex:pageBlockSectionItem >
                <apex:outputLabel value="Country"/>
                <apex:selectlist value="{!Country}" multiselect="false" size="1" >
                        <apex:selectOption itemValue="CN" itemLabel="CN"/>
                        <apex:selectOption itemValue="KR" itemLabel="KR"/>
                    </apex:selectList>
                </apex:pageBlockSectionItem>

    
                           
            </apex:pageBlockSection>
            <center><apex:commandbutton value="Search"  action="{!SearchContacts}" status="LoadingStatusSpinner" rerender="searchresults,messages" disabled="{!IF(((currentEMSRecord.Event_Status__c=='Submitted for eCPA Approval')||(currentEMSRecord.Event_Status__c=='Concluded')||(currentEMSRecord.Event_Status__c=='Cancelled')),true,false)}"/></center>
        </apex:pageBlock>
       
        <!--------------------------------------------------------------------------------------------------------------->
        
        <apex:outputPanel id="searchresults">
    <apex:pageBlock title="Search Results"  rendered="{!if(Contacts.size>0 && iscriteriachanged==false ,true,false)}">
    
    <apex:pageBlockTable value="{!Contacts}" var="eachContact" >
        
        <apex:column rendered="{!if(Contacts.size>0,true,false)}">
        <apex:facet name="header">Action</apex:facet>
            <apex:inputCheckbox value="{!eachContact.isSelected}" onchange="doCheckboxChange(this,'{!if(selectedsearchcriteria==1|| selectedsearchcriteria==2,eachContact.CstElement.Id,eachContact.CP.Id)}')" />
        </apex:column>
        <apex:column value="{!eachContact.CstElement.Table_Type__c}" rendered="{!if(Contacts.size>0 && selectedsearchcriteria==1,true,false)}"/>
        <apex:column value="{!eachContact.CstElement.Code__c}" rendered="{!if(Contacts.size>0 && selectedsearchcriteria==2,true,false)}"/>
        <apex:column value="{!eachContact.CstElement.Name__c}" rendered="{!if(Contacts.size>0 && selectedsearchcriteria==2,true,false)}"/>
        <apex:column value="{!eachContact.CstElement.Description__c}" rendered="{!if(Contacts.size>0 && selectedsearchcriteria==1,true,false)}"/>
        <apex:column value="{!eachContact.CstElement.Unit_Price__c}" rendered="{!if(Contacts.size>0 && (selectedsearchcriteria==1||selectedsearchcriteria==2),true,false)}"/>
        <apex:column value="{!eachContact.CstElement.Country__c}" rendered="{!if(Contacts.size>0 && (selectedsearchcriteria==1||selectedsearchcriteria==2),true,false)}"/>
        <apex:column value="{!eachContact.CP.Procedure_Code__c}" rendered="{!if(Contacts.size>0 && selectedsearchcriteria==3,true,false)}"/>
        <apex:column value="{!eachContact.CP.Name}" rendered="{!if(Contacts.size>0 && selectedsearchcriteria==3,true,false)}"/>
        <apex:column value="{!eachContact.CP.Country__c}" rendered="{!if(Contacts.size>0 && selectedsearchcriteria==3,true,false)}"/>

    </apex:pageBlockTable> 
    
 
            <br/>
 
            <!-- next, previous and page info -->
            <apex:commandLink action="{!doPrevious}" rendered="{!hasPrevious}" value="Previous" rerender="searchresults"/>
            <apex:outputLabel rendered="{!NOT(hasPrevious)}" value="Previous" />
 
            <apex:outputLabel value=" (Page {!pageNumber} of {!totalPages}) " />
 
            <apex:commandLink action="{!doNext}" rendered="{!hasNext}" value="Next" rerender="searchresults"/>
            <apex:outputLabel rendered="{!NOT(hasNext)}" value="Next" />   
    <center><apex:commandButton value="Add" action="{!AddCCISamples}" id="addContactsbutton" rendered="{!if(Contacts.size>0,true,false)}"  status="LoadingStatusSpinner" rerender="messages,refresh,benftable,benftablepgblk" disabled="{!IF(((currentEMSRecord.Event_Status__c=='Submitted for eCPA Approval')||(currentEMSRecord.Event_Status__c=='Concluded')||(currentEMSRecord.Event_Status__c=='Cancelled')),true,false)}"/></center>
    </apex:pageBlock>
    </apex:outputPanel>   
             <apex:iframe src="{!sourceURL}" id="cciframe" frameborder="false" scrolling="true"/>    
   
        <!------------------------------------------------------------------------------------------------------------------>
    </apex:form>    
<apex:outputPanel id="refresh" rendered="true">
        <apex:outputPanel id="refresh1" rendered="{!refreshPage}">
            <script>
                window.top.location='apex/EMS_SamplesCCIPage?Eventid={!EventId}'+'&step=3';
            </script>
        </apex:outputPanel>
    </apex:outputPanel>
 
    <script type="text/javascript">
     
            /*
            *    function to handle checkbox selection
            */
            function doCheckboxChange(cb,itemId){
     
                if(cb.checked==true){
                    aSelectItem(itemId);
                }
                else{
                    aDeselectItem(itemId);
                }
     
            }
     
        </script>
</apex:page>