<apex:page sidebar="false" standardController="VF_Tracking__c" extensions="VFPageviewTracker" action="{!trackVisits}">
<html class="html" lang="en-US">
 <head>
  <script type="text/javascript">
   if(typeof Muse == "undefined") window.Muse = {}; window.Muse.assets = {"required":["jquery-1.8.3.min.js", "museutils.js", "webpro.js", "musewpslideshow.js", "jquery.museoverlay.js", "touchswipe.js", "rms.css"], "outOfDate":[]};
</script>
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
  <meta name="generator" content="2014.3.1.295"/>
  <title>rms</title>
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="{!URLFOR($Resource.HRSalesResource, '/HRSalesResource/css/site_global.css?130878219')}"/>
  <link rel="stylesheet" type="text/css" href="{!URLFOR($Resource.HRSalesResource, '/HRSalesResource/css/master_b-master.css?336435726')}"/>
  <link rel="stylesheet" type="text/css" href="{!URLFOR($Resource.HRSalesResource, '/HRSalesResource/css/master_c-master.css?3901421812')}"/>
  <link rel="stylesheet" type="text/css" href="{!URLFOR($Resource.HRSalesResource, '/HRSalesResource/css/rms.css?73214563')}" id="pagesheet"/>
  <!-- Other scripts -->
  <script type="text/javascript">
   document.documentElement.className += ' js';
</script>
  <!-- JS includes -->
  <!--[if lt IE 9]>
  <script src="scripts/html5shiv.js?4241844378" type="text/javascript"></script>
  <![endif]-->
   </head>
 <body>

  <div class="clearfix" id="page"><!-- column -->
   <div class="position_content" id="page_position_content">
    <div class="clearfix colelem" id="pu5757"><!-- group -->
     <div class="clip_frame grpelem" id="u5757"><!-- image -->
      <img class="block" id="u5757_img" src="{!URLFOR($Resource.HRSalesResource, '/HRSalesResource/images/cov_hrz_rgb_pos.png')}" alt="" width="249" height="76"/>
     </div>
     <div class="clearfix grpelem" id="u5761-5"><!-- content -->
      <p id="u5761-2">Surgical Solutions Sales Career Compass</p>
      <p id="u5761-3">&nbsp;</p>
     </div>
     <div class="clip_frame grpelem" id="u5732"><!-- image -->
      <img class="block" id="u5732_img" src="{!URLFOR($Resource.HRSalesResource, '/HRSalesResource/images/cov_hrz_rgb_pos.png')}" alt="" width="249" height="76"/>
     </div>
     <div class="clearfix grpelem" id="u5731-5"><!-- content -->
      <p id="u5731-2">Surgical Solutions Sales Career Compass</p>
      <p id="u5731-3">&nbsp;</p>
     </div>
    </div>
    <div class="clearfix colelem" id="pu5755"><!-- group -->
     <div class="clip_frame grpelem" id="u5755"><!-- image -->
      <img class="block" id="u5755_img" src="{!URLFOR($Resource.HRSalesResource, '/HRSalesResource/images/hexbased-mat-all-l4.png')}" alt="" width="660" height="360"/>
     </div>
     <div class="clip_frame grpelem" id="u5739"><!-- image -->
      <img class="block" id="u5739_img" src="{!URLFOR($Resource.HRSalesResource, '/HRSalesResource/images/hexbased-mat-all-l4.png')}" alt="" width="660" height="360"/>
     </div>
     <div class="clearfix grpelem" id="u5741-3"><!-- content -->
      <p id="u5741">&nbsp;</p>
     </div>
     <div class="clip_frame grpelem" id="u2979"><!-- image -->
      <img class="block" id="u2979_img" src="{!URLFOR($Resource.HRSalesResource, '/HRSalesResource/images/rms-careerpath.jpg')}" alt="" width="509" height="458"/>
     </div>
     <div class="clearfix grpelem" id="u2985-6"><!-- content -->
      <p id="u2985-4">RMS Sales Opportunities - Key areas of development<br/>and learnings</p>
     </div>
     <div class="grpelem" id="u4175"><!-- rasterized frame --></div>
     <div class="grpelem" id="u4176"><!-- rasterized frame --></div>
     <div class="clearfix grpelem" id="u5763"><!-- group -->
      <div class="clip_frame grpelem" id="u5766"><!-- image -->
       <img class="block" id="u5766_img" src="{!URLFOR($Resource.HRSalesResource, '/HRSalesResource/images/hexbased-mat-button-l2.png')}" alt="" width="78" height="68"/>
      </div>
      <div class="clip_frame grpelem" id="u5764"><!-- image -->
       <img class="block" id="u5764_img" src="{!URLFOR($Resource.HRSalesResource, '/HRSalesResource/images/home.png')}" alt="" width="42" height="38"/>
      </div>
      <a class="nonblock nontext grpelem" id="u5768" href="/apex/HR_Index"><!-- simple frame --></a>
     </div>
     <div class="clearfix grpelem" id="u5742"><!-- group -->
      <div class="clip_frame grpelem" id="u5746"><!-- image -->
       <img class="block" id="u5746_img" src="{!URLFOR($Resource.HRSalesResource, '/HRSalesResource/images/hexbased-mat-button-l2.png')}" alt="" width="78" height="68"/>
      </div>
      <div class="clip_frame grpelem" id="u5743"><!-- image -->
       <img class="block" id="u5743_img" src="{!URLFOR($Resource.HRSalesResource, '/HRSalesResource/images/home.png')}" alt="" width="42" height="38"/>
      </div>
      <a class="nonblock nontext grpelem" id="u5745" href="/apex/HR_Index"><!-- simple frame --></a>
     </div>
     <div class="clearfix grpelem" id="u1964-4"><!-- content -->
      <p>RMS</p>
     </div>
     <div class="clearfix grpelem" id="u2986-4"><!-- content -->
      <p>Respiratory &amp; Monitoring Systems Opportunities</p>
     </div>
     <div class="PamphletWidget clearfix grpelem" id="pamphletu3119"><!-- none box -->
      <div class="popup_anchor" id="u3122popup">
       <div class="ContainerGroup clearfix" id="u3122"><!-- none box -->
        <div class="Container invi rounded-corners clearfix grpelem" id="u3125"><!-- group -->
         <div class="clearfix grpelem" id="u3126-30"><!-- content -->
          <p id="u3126-2">Field Sales</p>
          <p id="u3126-4">•&nbsp; Responsibility for the customer relationships to understand and target customer product needs, and develop and execute a sales strategy around those opportunities</p>
          <p id="u3126-8">•&nbsp; Facilitate and manage every state of the sale cycle, educational support,<br/>customer service, and business analytics</p>
          <p id="u3126-10">•&nbsp; Acts as the general manager for all customer needs within assigned territory</p>
          <p>&nbsp;</p>
          <p id="u3126-13">Clinical Sales</p>
          <p id="u3126-15">•&nbsp; Serves as the clinical expert on Respiratory Solutions or Monitoring products</p>
          <p id="u3126-17">•&nbsp; Serves the selling process by handling product evaluation demands, in-service requirements, clinical education requests, and will aid the sales force in the development of Key Opinion Leaders</p>
          <p id="u3126-19">•&nbsp; Assists Clinical Affairs in the identification, cultivation, and execution of clinical research furthering the body of evidence supporting our products</p>
          <p id="u3126-20">&nbsp;</p>
          <p id="u3126-22">National Accounts</p>
          <p id="u3126-24">•&nbsp; Responsible for developing and maintaining relationships and executing strategic initiatives with executives and decision makers at the corporate level of Integrated Delivery Networks (IDNs), Group Purchasing Organizations (GPOs), and key customers</p>
          <p id="u3126-26">•&nbsp; Develop, negotiate, implement, and evaluate contractual agreements in assigned accounts</p>
          <p id="u3126-28">•&nbsp; Monitor and evaluate financial performance and contractual compliance and conduct regular business reviews designed to identify ongoing growth opportunities</p>
         </div>
        </div>
       </div>
      </div>
      <div class="ThumbGroup clearfix grpelem" id="u3132"><!-- none box -->
       <div class="popup_anchor">
        <div class="Thumb popup_element" id="u3134"><!-- simple frame --></div>
       </div>
      </div>
     </div>
    </div>
    <div class="clearfix colelem" id="pu5759-6"><!-- group -->
     <div class="clearfix grpelem" id="u5759-6"><!-- content -->
      <p>COVIDIEN, COVIDIEN with logo and COVIDIEN logo are U.S. and/or internationally registered trademarks <br/>of Covidien AG. All other brands are trademarks of a Covidien company. © 2015 All rights reserved.</p>
     </div>
     <div class="clearfix grpelem" id="u5730-6"><!-- content -->
      <p>COVIDIEN, COVIDIEN with logo and COVIDIEN logo are U.S. and/or internationally registered trademarks <br/>of Covidien AG. All other brands are trademarks of a Covidien company. © 2015 All rights reserved.</p>
     </div>
    </div>
   </div>
  </div>
  <!-- JS includes -->
  <script type="text/javascript">
   if (document.location.protocol != 'https:') document.write('\x3Cscript src="http://musecdn2.businesscatalyst.com/scripts/4.0/jquery-1.8.3.min.js" type="text/javascript">\x3C/script>');
</script>
  <script type="text/javascript">
    window.jQuery || document.write('\x3Cscript src="{!URLFOR($Resource.HRSalesResource, '/HRSalesResource/scripts/jquery-1.8.3.min.js')}"  type="text/javascript">\x3C/script>');     
</script>
  <script src="{!URLFOR($Resource.HRSalesResource, '/HRSalesResource/scripts/museutils.js?479751881')}"  type="text/javascript"></script>
  <script src="{!URLFOR($Resource.HRSalesResource, '/HRSalesResource/scripts/webpro.js?3930024250')}"  type="text/javascript"></script>
  <script src="{!URLFOR($Resource.HRSalesResource, '/HRSalesResource/scripts/musewpslideshow.js?4014282895')}"  type="text/javascript"></script>
  <script src="{!URLFOR($Resource.HRSalesResource, '/HRSalesResource/scripts/jquery.museoverlay.js?4213181908')}" type="text/javascript"></script>
  <script src="{!URLFOR($Resource.HRSalesResource, '/HRSalesResource/scripts/touchswipe.js?4151298246')}" type="text/javascript"></script>
  <!-- Other scripts -->
  <script type="text/javascript">
   $(document).ready(function() { try {
(function(){var a={},b=function(a){if(a.match(/^rgb/))return a=a.replace(/\s+/g,"").match(/([\d\,]+)/gi)[0].split(","),(parseInt(a[0])<<16)+(parseInt(a[1])<<8)+parseInt(a[2]);if(a.match(/^\#/))return parseInt(a.substr(1),16);return 0};(function(){$('link[type="text/css"]').each(function(){var b=($(this).attr("href")||"").match(/\/?css\/([\w\-]+\.css)\?(\d+)/);b&&b[1]&&b[2]&&(a[b[1]]=b[2])})})();(function(){$("body").append('<div class="version" style="display:none; width:1px; height:1px;"></div>');
for(var c=$(".version"),d=0;d<Muse.assets.required.length;){var f=Muse.assets.required[d],g=f.match(/([\w\-\.]+)\.(\w+)$/),k=g&&g[1]?g[1]:null,g=g&&g[2]?g[2]:null;switch(g.toLowerCase()){case "css":k=k.replace(/\W/gi,"_").replace(/^([^a-z])/gi,"_$1");c.addClass(k);var g=b(c.css("color")),h=b(c.css("background-color"));g!=0||h!=0?(Muse.assets.required.splice(d,1),"undefined"!=typeof a[f]&&(g!=a[f]>>>24||h!=(a[f]&16777215))&&Muse.assets.outOfDate.push(f)):d++;c.removeClass(k);break;case "js":k.match(/^jquery-[\d\.]+/gi)&&
typeof $!="undefined"?Muse.assets.required.splice(d,1):d++;break;default:throw Error("Unsupported file type: "+g);}}c.remove();if(Muse.assets.outOfDate.length||Muse.assets.required.length)c="Some files on the server may be missing or incorrect. Clear browser cache and try again. If the problem persists please contact website author.",(d=location&&location.search&&location.search.match&&location.search.match(/muse_debug/gi))&&Muse.assets.outOfDate.length&&(c+="\nOut of date: "+Muse.assets.outOfDate.join(",")),d&&Muse.assets.required.length&&(c+="\nMissing: "+Muse.assets.required.join(",")),alert(c)})()})();
/* body */
Muse.Utils.transformMarkupToFixBrowserProblemsPreInit();/* body */
Muse.Utils.prepHyperlinks(false);/* body */
Muse.Utils.initWidget('#pamphletu3119', function(elem) { new WebPro.Widget.ContentSlideShow(elem, {contentLayout_runtime:'loose',event:'click',deactivationEvent:'mouseout_both',autoPlay:false,displayInterval:3000,transitionStyle:'fading',transitionDuration:300,hideAllContentsFirst:true,shuffle:false,enableSwipe:true,resumeAutoplay:false,resumeAutoplayInterval:3000,playOnce:false}); });/* #pamphletu3119 */
Muse.Utils.showWidgetsWhenReady();/* body */
Muse.Utils.transformMarkupToFixBrowserProblems();/* body */
} catch(e) { if (e && 'function' == typeof e.notify) e.notify(); else Muse.Assert.fail('Error calling selector function:' + e); }});
</script>
   </body>
</html>
</apex:page>