<apex:page standardStylesheets="false" sidebar="false">
<html>
<head>

<style>
body#bodyArea {
    margin: 0;
}
div#about ol, div#about ul {
    list-style: none;
    padding-left: 0px;
    padding-top: 0px;
    margin-top: 0px;
}
div#about ul li {
    margin-left: 0;
}
div#about blockquote, div#about q {
    quotes: none
}
div#about blockquote:before, div#about blockquote:after, div#about q:before, div#about q:after {
    content: none
}
div#about table {
    border-collapse: collapse;
    border-spacing: 0
}
div#about #header {
    min-width: 800px;
    height: 65px;
}
div#about #nav {
    width: 100%;
    min-width: 1024px;
    background-color: #003878;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    position: relative;
    height: 60px;
}
div#about #nav li {
    list-style: none;
    float: left;
    width: 125px;
    vertical-align: middle;
    line-height: 20px;
    text-align: center;
}
div#about #nav li a {
    color: white;
    text-decoration: none;
    display: block;
    padding-top: 10px;
    font-size: 12;
}
div#about #nav li:hover {
    background-color: #3d94f6;
    height: 60px;
}
div#about #topNav .topNav a, div#about #topNav .topNav a:hover {
    background-color: #FFF;
    color: #000;
    cursor: default;
    height: 30px;
    margin-top: 15px;
    vertical-align: central;
}
div#about #nav li ul {
    position: absolute;
    display: none;
}
div#about #nav li:hover ul {
    display: block;
    padding-left: 0px;
}
div#about #nav li ul li {
    float: none;
    display: inline;
}
div#about #nav li ul li a {
    width: 160px;
    position: relative;
    border-top: 1px solid white;
    background: #003878;
    color: #fff;
}
div#about #nav li ul li a:hover {
    background: #3d94f6;
    color: #fff;
}
div#about .shortHeader {
    margin-top: 15px;
    margin-bottom: 15px;
}
div#about table {
    margin: auto;
    width: 900px;
    font-family: Arial, Helvetica, sans-serif;
}
div#about tbody {
    vertical-align: top;
}
div#about td {
/*   text-align: center; */
}
div#about td ul li {
    padding: 10px;
}
div#about h1 {
    font-weight: bold;
    font-size: 18px;
    width: 290px;
    text-align: center;
    line-height: 35px;
}
div#about .container {
    width: 1024px;
    margin: auto;
}
div#about .homeLinksDarkBlue, div#about .homeLinksBlue, div#about .homeLinksLightBlue, div#about .homeLinksOrange, div#about .homeLinksSkyBlue, div#about .homeLinksGray, div#about .homeLinksWhite {
    border-bottom-left-radius: 0px;
    text-indent: 0;
    border: 1px solid #ccc;
    display: inline-block;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    height: 44px;
    line-height: 44px;
    width: 265px;
    text-decoration: none;
    text-align: center;
}
div#about .homeLinksDarkBlue:hover, div#about .homeLinksBlue:hover, div#about .homeLinksLightBlue:hover, div#about .homeLinksOrange:hover, div#about .homeLinksSkyBlue:hover, div#about .homeLinksGray:hover, div#about .homeLinksWhite:hover {
    background-color: #3d94f6;
}
div#about .homeLinksDarkBlue:active, div#about .homeLinksBlue:active, div#about .homeLinksLightBlue:active, div#about .homeLinksOrange:active, div#about .homeLinksSkyBlue:active, div#about .homeLinksGray:active, div#about .homeLinksWhite:active {
    position: relative;
    top: 1px;
}
div#about .homeLinksDarkBlue {
    background-color: #001E46; /*#003878;*/
}
div#about .homeLinksBlue {
    background-color: #0085CA/*#53b7e8*/;
}
div#about .homeLinksLightBlue {
    background-color: #c7eafb;
}
div#about .homeLinksOrange {
    background-color: #F7A800;
}
div#about .homeLinksSkyBlue {
    background-color: #71C5E8;
}
div#about .homeLinksGray {
    background-color: #696b73;
}
div#about .homeLinksWhite {
    background-color: #ffffff;
}
/* basic positioning */
div#about .legend {
    list-style: none;
}
div#about .legend li {
    float: left;
    margin-right: 10px;
}
div#about .legend span {
    border: 1px solid #ccc;
    float: left;
    width: 12px;
    height: 12px;
    margin: 2px;
}
/* your colors */
div#about .legend .darkblue {
    /*background-color: #003878;*/
    background-color: #001E46;
}
div#about .legend .cobaltblue {
    background-color: #0085CA;
}
div#about .legend .skyblue {
    background-color: #71C5E8;
}
div#about .legend .blue {
    background-color: #53b7e8;
}
div#about .legend .lightblue {
    background-color: #c7eafb;
}
div#about .legend .orange {
    /*background-color: #f7901e;*/
    background-color: #F7A800;
}
div#about .legend .gray {
    background-color: #696b73;
}
div#about .legend .green {
    background-color: #6e9934;
}
sup {
    vertical-align: super;
    font-size: x-small;
}

.tabStrip ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.tabStrip li {
    margin: 0 2px 0 0;
    list-style-type: none;
    float: left;
}
.tabLink {
    display: block;
    text-decoration: none;
    padding: 5px;
    background: #ffffff /*#e8e8e8*/;
    border: #dadada solid;
    border-width: 1px 1px 1px 1px;
    color: #8a8a8a;
}
.tabLinkActive {
    display: block;
    text-decoration: none;
    padding: 5px;
    background: #e0e0e0;
    border: #c0c0c0 solid;
    border-width: 1px 1px 1px 1px;
    color: #0066ff;
}
.tabContent {
    display: none;
}
.tabContentActive {
    display: block;
    clear: both;
    background: #ffffff/*#f0f0f0*/;
    border: 1px #dedede solid;
    border-width: 1px 0px 0px 0px;
    padding: 10px;
}

.auto-style1 {
    margin-left: 9;
}
.auto-style2 {
    margin-left: 42;
}

</style>

<script type="text/javascript">
function go(loc){
    
    showIFrame();
    
    document.getElementById('iFrameLoader').src = loc;  
}


function goHome()
{
    document.getElementById('home').style.display = 'block';
    document.getElementById('dashboards').style.display = 'none';
    document.getElementById('CommercialReviewSubMenu').style.display = 'none';
    document.getElementById('HelpSubMenu').style.display = 'none';
}

function goCommercialReviewSubMenu()
{
    document.getElementById('CommercialReviewSubMenu').style.display = 'block';
    document.getElementById('home').style.display = 'none';
    document.getElementById('dashboards').style.display = 'none';
    document.getElementById('HelpSubMenu').style.display = 'none';
}
function showIFrame()
{
    document.getElementById('dashboards').style.display = 'block';
    document.getElementById('home').style.display = 'none';
    document.getElementById('CommercialReviewSubMenu').style.display = 'none';
    document.getElementById('HelpSubMenu').style.display = 'none';
}
function goHelp() {
    document.getElementById('dashboards').style.display = 'none';
    document.getElementById('home').style.display = 'none';
    document.getElementById('CommercialReviewSubMenu').style.display = 'none';
    document.getElementById('HelpSubMenu').style.display = 'block';
}
</script>
    <script type="text/javascript" language="javascript">
    var activeTab = 1;
    function openTab(tabId) {
        // reset old tab and content
        document.getElementById("tabLink" + activeTab).className = "tabLink";
        document.getElementById("tabContent" + activeTab).className = "tabContent";
        // set new tab and content
        document.getElementById("tabLink" + tabId).className = "tabLinkActive";
        document.getElementById("tabContent" + tabId).className = "tabContentActive";
        activeTab = tabId;
    }
    </script>

</head>

<body>
<div id="about">
  <div id="header">
    <ul id="nav">
      <div class="container" style="width: 1033px">
        <li class="topNav" style="width: 160px">
        <a class="shortHeader" href="#" onClick="goHome()" style="width: 160px"> Home</a></li>
        <li class="topNav" style="width: 160px"><a class="shortHeader" href="#">Sales Rep Analytics</a>
          <ul>
             <li><a href="#" title="Trend and forecasting tool to view quota attainment if Opportunity Pipeline closes" class="homeLinksSkyBlue" onClick="go('https://tableau.medtronic.com/t/LATAM/views/QuotaGapForecastingDashboard/TerritoryQuotaGap?:embed=yes&:display_count=no&:showVizHome=no')"> Quota-Gap Forecasting Dashboard</a></li>
              <li><a href="#" title="Ranking for all Sellers based on YTD Attainment By Region and Business Unit" class="homeLinksSkyBlue" onClick="go('https://tableau.medtronic.com/t/LATAM/views/SalesRankings/SellerRankings?:embed=yes&:display_count=no&:showVizHome=no')"> Rankings</a></li>
              
              <li><a href="#" title="Sellers Performance (MTD, QTD and YTD) by: Customer, Business Unit and Product Item." class="homeLinksOrange" onclick="go('https://tableau.medtronic.com/t/LATAM/views/SalesRepPlaybook/RepPlaybook?:embed=yes&:display_count=no&:showVizHome=no')"> Seller Playbook</a></li>
              <!--<li><a href="#" title="Account playbook rolled up to the territory view. Includes overview of sales trends, potential and maps." class="homeLinksOrange" onClick="go('https://tableau.covidien.com/t/LATAM/views/FY14LatAmAccountPlaybook/Dashboard2?:embed=yes&:toolbar=top')"> Territory Playbook</a></li>-->
              <!--li><a href="#" title="Business review templates to utilize for compliance and conversion conversations with customers" class="homeLinksDarkBlue" onClick="goCommercialReviewSubMenu()"> Business Review Tools</a></li-->
              
              <li><a href="#" title="Sales Rep Territory Performance by Account and COT per week and month - sales updated daily" class="homeLinksBlue" onclick="go('https://tableau.medtronic.com/t/LATAM/views/WeeklySalesTrends/SalesTrend-Sellers?:embed=yes&:display_count=no&:showVizHome=no')"> Monthly Sales Trends </a></li>
              <!--li><a href="#" title="Interactive account targeting tool to help analyze market share, potential and stages of standardization at the account and COT level." class="homeLinksBlue" onClick="go('https://tableau.covidien.com/t/LATAM/views/TerritorySatgesofStandarization/StagesofStandarization?:embed=yes&:toolbar=top')"> Territory Stages of Standardization </a></li-->
              
            </ul>
        </li>
        <!-- <li class="topNav"><a class="shortHeader" href="#">Manager Level</a>
          <ul>
            <li><a href="#" title="Trend and forecasting tool to view quota attainment if Opportunity Pipeline closes "  onClick="go('https://tableau.covidien.com/t/LATAM/views/QuotaGapForecastingDashboard/ManagerQuotaGap?:embed=yes&:toolbar=top')">
             Quota-Gap Forecasting Dashboard</a></li>
             <li><a href="#" title="Ranking for all Managers and Sellers: By Region and Business Unit "  onClick="go('https://tableau.covidien.com/t/LATAM/views/SalesRankings/ManagerRankings?:embed=yes&:toolbar=top')">
             Rankings</a></li>
             <li><a href="#" title="Managers YTD Performance by: Territory, Customer, Business Unit and Product Item. "  onClick="go('https://tableau.covidien.com/t/LATAM/workbooks/ManagerPlaybook?:embed=yes&:toolbar=top')">
             Manager Playbook</a></li>
             <li><a href="#" title="Account playbook - Includes Sales by GBU, COT attainment and Sales Trend and top Items sold. "  onClick="go('https://tableau.covidien.com/t/LATAM/views/ManagerPlaybook/ManagerPlaybook?:embed=yes&:toolbar=top')">
             Account Playbook</a></li>
             <!--<li><a href="#" title="Account playbook rolled up to the territory view. Includes overview of sales trends, potential and maps. "  onClick="go('https://tableau.covidien.com/t/LATAM/views/AccountPlaybook-AllSelltoAccounts/Dashboard2?:embed=yes&:toolbar=top')">
             Territory Playbook</a></li>-->
            <!--
            <li><a href="#" title="Sales performance by account and product with ADS trending and related analytics (Updated Daily) "  onClick="go('https://tableau.covidien.com/t/LATAM/views/WeeklySalesTrends/SalesTrend-Managers?:embed=yes&:toolbar=top')">
             Weekly Sales Trends</a></li>
             <!--li><a href="#" title="Interactive account targeting tool to help analyze market share, potential and stages of standardization at the account and COT level. "  onClick="go('https://tableau.covidien.com/t/LATAM/views/TerritorySatgesofStandarization/TerritoryStages2?:embed=yes&:toolbar=top')">
             Territory Stages of Standardization</a></li-->
          <!--
          </ul>
        </li>
        -->
        <li class="topNav" style="width: 160px"><a class="shortHeader" href="#">Specialist Analytics</a>
          <ul>
             
              <li><a href="#" title="Trend and forecasting tool to view quota attainment if Opportunity Pipeline closes" class="homeLinksSkyBlue" onClick="go('https://tableau.medtronic.com/t/LATAM/views/QuotaGapForecastingDashboard/TerritoryQuotaGap?:embed=yes&:display_count=no&:showVizHome=no')"> Quota-Gap Forecasting Dashboard</a></li>
              <li><a href="#" title="Ranking for all Specialists based on YTD Attainment By Region and Business Unit" class="homeLinksSkyBlue" onClick="go('https://tableau.medtronic.com/t/LATAM/views/SalesRankings/SpecialistRankings?:embed=y&:showShareOptions=true&:display_count=no&:showVizHome=no')"> Rankings</a></li>
              
              <li><a href="#" title="Specialist Performance (MTD, QTD and YTD) by: Customer, Business Unit and Product Item." class="homeLinksOrange" onclick="go('https://tableau.medtronic.com/t/LATAM/views/SalesRepPlaybook/ProductSpecialistPlaybook?:embed=y&:showShareOptions=true&:display_count=no&:showVizHome=no')"> Specialist Playbook</a></li>
              <!--<li><a href="#" title="Account playbook rolled up to the territory view. Includes overview of sales trends, potential and maps." class="homeLinksOrange" onClick="go('https://tableau.covidien.com/t/LATAM/views/FY14LatAmAccountPlaybook/Dashboard2?:embed=yes&:toolbar=top')"> Territory Playbook</a></li>-->
              <!--li><a href="#" title="Business review templates to utilize for compliance and conversion conversations with customers" class="homeLinksDarkBlue" onClick="goCommercialReviewSubMenu()"> Business Review Tools</a></li-->
              
              <li><a href="#" title="Specialist Territory Performance by Account and COT per week and month - sales updated daily" class="homeLinksBlue" onclick="go('https://tableau.medtronic.com/t/LATAM/views/WeeklySalesTrends/SalesTrend-Specialist?:embed=y&:showShareOptions=true&:display_count=no&:showVizHome=no')"> Monthly Sales Trends </a></li>
             </ul>
             
       </li>
        <!--<li class="topNav"><a class="shortHeader" href="#">Marketing - Surgical</a>
          <ul>
            <li><a href="#" title="EGIA Tri Staple Penetration Dashboard by Country, Sales USD, Quantity and Percent of Regional Sales " onClick="go('https://tableau.covidien.com/t/LATAM/views/TriStapleTargetingDashboard/TriStapleDashboard?:embed=yes&:toolbar=yes')"> Tri - Staple Dashboard</a></li>
          </ul>
        </li>-->
        <!--<li class="topNav"><a class="shortHeader" href="#">Marketing - PM&amp;R </a>-->
          <ul>
            <li><!--a href="#" title="" onClick="go('https://tableau.covidien.com/t/LATAM/views/2015-02RMSSPIFFModel/2015-02RMSSPIFF?:embed=yes&:toolbar=top')"> RMS SPIFF</a--></li>
          </ul>
        <!--</li>
          <li class="topNav"><a class="shortHeader" href="#">Marketing - PV/NV</a>
          <ul>
            <li></li>
          </ul>
        </li>-->
        
         <li class="auto-style1" style="width: 160px"><a class="shortHeader" href="#">Regional Level</a>
          <ul>
             
             <!--<li><a href="#" title="YTD Forecast/Budget Attainment by Legal Entity" class="homeLinksBlue" onClick="go('https://tableau.covidien.com/t/LATAM/views/CountryPerformance/CountryPerformance?:embed=yes&:toolbar=top')"> Country Performances</a></li>-->
              <li> <apex:outputLink value="LatamMyIntelSFDCAdoption" id="LatamMyIntelSFDCAdoption" styleClass="homeLinksSkyBlue"> SFDC Adoption </apex:outputLink> </li>
            
              
              <!--<li><a href="#" title="Analyze Sales by Distrbutor and COT" class="homeLinksSkyBlue" onClick="go('https://tableau.covidien.com/t/LATAM/views/DistributorManagement/DistributorManagement?:embed=yes&:toolbar=top')"> Distributor Management</a></li>-->
              <!--li><a href="#" title=" " class="homeLinksDarkBlue" onClick="go('https://tableau.covidien.com/t/LATAM/views/LatAmCommercialHRDashboard/CommercialHRDashboard?:embed=yes&:toolbar=top')"> Turnover HR Dashboard</a></li-->
              <!--<li><a href="#" title="Surgical Procedure volumes for top specialities with growth estimates and Lap vs Open per country." class="homeLinksDarkBlue" onClick="go('https://tableau.covidien.com/t/LATAM/views/ProcedureVolumesDashboard/ProceduralVolumeDashboard?:embed=yes&:toolbar=top')"> Procedure Volume Dashboards</a></li>-->
              <li><a href="#" title="Sales Rep Productivity - Sales/Headcounts." class="homeLinksBlue" onclick=" go ('https://tableau.medtronic.com/t/LATAM/views/CommercialEfficiencyF17/CompleteProductivityTerrandPerson?:embed=y&:showShareOptions=true&:display_count=no&:showVizHome=no')"> Commercial Efficiency</a></li><!-- REPLACE BY THIS: onclick="goCommercialReviewSubMenu()"-->
              <li><a href="#" title="Analyze Channel Performance by Classification - Top Key Accounts and Top Distributors." class="homeLinksDarkBlue" onclick="go('https://tableau.medtronic.com/t/LATAM/views/ChannelManagementDashboard/ChannelManagement?:embed=y&:showShareOptions=true&:display_count=no&:showVizHome=no')"> Channel Management</a></li>
              <li><a href="#" title="Analyze LATAM Product Sales from GBU to SKU in just a few clicks." class="homeLinksDarkBlue" onclick="go('https://tableau.medtronic.com/t/LATAM/views/GBUProductPerformance/GBUPerformance?:embed=y&:showShareOptions=true&:display_count=no&:showVizHome=no')">GBU Performance</a></li>
              <li><a href="#" title="High Level Monthly budget attainment and gap by Business Unit COT Level, plus customer and product performance." class="homeLinksBlue" onclick="go('https://tableau.medtronic.com/t/LATAM/views/BudgetAttainmentDashboard/BudgetAttainmentDashboard?:embed=y&:showShareOptions=true&:display_count=no&:showVizHome=no')"> Budget Attainment</a></li>

            </ul>        
       </li>


          <li class="topNav" style="width: 160px">
              <a class="shortHeader" href="#">Business Unit Analytics</a>
              <ul>
             
              <li><a href="#" title="Shows where, when and what equipment has been Installed/Sold for Patient Monitoring &amp; Recovery products." class="homeLinksBlue" onclick="go('https://tableau.medtronic.com/t/LATAM/views/PMRInstalledBaseReport/PMRInstalledBaseReport?:embed=y&:showShareOptions=true&:display_count=no&:showVizHome=no')">PM&amp;R Capital Installed Base</a></li>
              <li><a href="#" title="Shows where, when and what equipment has been Installed/Sold for Surgical Innovations products." class="homeLinksBlue" onclick="go('https://tableau.medtronic.com/t/LATAM/views/SIInstalledBaseReport/SIInstalledBaseReport?:embed=y&:showShareOptions=true&:display_count=no&:showVizHome=no&:showVizHome=no')">SI Capital Installed Base</a></li>
              <li><a href="#" title="12 Month Sales Divided by Total Number of Force Triad placed - $ Utilization per Triad." class="homeLinksOrange" onclick="go('https://tableau.medtronic.com/t/LATAM/views/ForceTriadUtilization/ForceTriadUtilization?:embed=y&:showShareOptions=true&:display_count=no&:showVizHome=no&:showVizHome=no')">Force Traid Utilization</a></li>
              
              </ul>
          </li>
          
          <li class="auto-style2" style="width: 160px">
              <a class="shortHeader" href="#" onclick="goHelp()" style="width: 160px">Help?</a>
              <ul>
                  <li></li>
              </ul>
          </li>
      </div>
    </ul>
  </div>
  <div class="container">
    <div id="home">
      <table>
        <tr>
          <td><h1 style="width: 280px">Sales Rep Analytics</h1></td>
          <td><h1 style="width: 280px">Specialist Analytics</h1></td>
          <td><h1 style="width: 280px">Regional Level</h1></td>
        </tr>
        <tr>
          <td><ul>
              <li><a href="#" title="Trend and forecasting tool to view quota attainment if Opportunity Pipeline closes" class="homeLinksSkyBlue" onClick="go('https://tableau.medtronic.com/t/LATAM/views/QuotaGapForecastingDashboard/TerritoryQuotaGap?:embed=yes&:display_count=no&:showVizHome=no')"> Quota-Gap Forecasting Dashboard</a></li>
              <li><a href="#" title="Ranking for all Sellers based on YTD Attainment By Region and Business Unit" class="homeLinksSkyBlue" onClick="go('https://tableau.medtronic.com/t/LATAM/views/SalesRankings/SellerRankings?:embed=yes&:display_count=no&:showVizHome=no')"> Rankings</a></li>
              
              <li><a href="#" title="Sellers Performance (MTD, QTD and YTD) by: Customer, Business Unit and Product Item." class="homeLinksOrange" onclick="go('https://tableau.medtronic.com/t/LATAM/views/SalesRepPlaybook/RepPlaybook?:embed=yes&:display_count=no&:showVizHome=no')"> Seller Playbook</a></li>
              <!--<li><a href="#" title="Account playbook rolled up to the territory view. Includes overview of sales trends, potential and maps." class="homeLinksOrange" onClick="go('https://tableau.covidien.com/t/LATAM/views/FY14LatAmAccountPlaybook/Dashboard2?:embed=yes&:toolbar=top')"> Territory Playbook</a></li>-->
              <!--li><a href="#" title="Business review templates to utilize for compliance and conversion conversations with customers" class="homeLinksDarkBlue" onClick="goCommercialReviewSubMenu()"> Business Review Tools</a></li-->
              
              <li><a href="#" title="Sales Rep Territory Performance by Account and COT per week and month - sales updated daily" class="homeLinksBlue" onclick="go('https://tableau.medtronic.com/t/LATAM/views/WeeklySalesTrends/SalesTrend-Sellers?:embed=yes&:display_count=no&:showVizHome=no')"> Monthly Sales Trends </a></li>
              <!--li><a href="#" title="Interactive account 
              ing tool to help analyze market share, potential and stages of standardization at the account and COT level." class="homeLinksBlue" onClick="go('https://tableau.covidien.com/t/LATAM/views/TerritorySatgesofStandarization/StagesofStandarization?:embed=yes&:toolbar=top')"> Territory Stages of Standardization </a></li-->
              
            </ul></td>
          
            <!--
            <td>
          
          <ul>
            <li><a href="#" class="homeLinksSkyBlue" title="Trend and forecasting tool to view quota attainment if Opportunity Pipeline closes "  onClick="go('https://tableau.covidien.com/t/LATAM/views/QuotaGapForecastingDashboard/ManagerQuotaGap?:embed=yes&:toolbar=top')">
             Quota-Gap Forecasting Dashboard</a></li>
             <li><a href="#" class="homeLinksSkyBlue" title="Ranking for all Managers and Sellers: By Region and Business Unit "  onClick="go('https://tableau.covidien.com/t/LATAM/views/SalesRankings/ManagerRankings?:embed=yes&:toolbar=top')">
             Rankings</a></li>
             <li><a href="#" class="homeLinksOrange" title="Managers YTD Performance by: Territory, Customer, Business Unit and Product Item. "  onClick="go('https://tableau.covidien.com/t/LATAM/workbooks/ManagerPlaybook?:embed=yes&:toolbar=top')">
             Manager Playbook</a></li>
             <li><a href="#" class="homeLinksOrange" title="Account playbook - Includes Sales by GBU, COT attainment and Sales Trend and top Items sold. "  onClick="go('https://tableau.covidien.com/t/LATAM/views/ManagerPlaybook/ManagerPlaybook?:embed=yes&:toolbar=top')">
             Account Playbook</a></li>
             <!--<li><a href="#" class="homeLinksOrange" title="Account playbook rolled up to the territory view. Includes overview of sales trends, potential and maps. "  onClick="go('https://tableau.covidien.com/t/LATAM/views/AccountPlaybook-AllSelltoAccounts/Dashboard2?:embed=yes&:toolbar=top')">
             Territory Playbook</a></li>-->
             
            <!--
            <li><a href="#" class="homeLinksSkyBlue" title="Sales performance by account and product with ADS trending and related analytics (Updated Daily) "  onClick="go('https://tableau.covidien.com/t/LATAM/views/WeeklySalesTrends/SalesTrend-Managers?:embed=yes&:toolbar=top')">
             Weekly Sales Trends</a></li>
             <!--li><a href="#" class="homeLinksSkyBlue" title="Interactive account targeting tool to help analyze market share, potential and stages of standardization at the account and COT level. "  onClick="go('https://tableau.covidien.com/t/LATAM/views/TerritorySatgesofStandarization/TerritoryStages2?:embed=yes&:toolbar=top')">
             Territory Stages of Standardization</a></li-->
           <!--
          </ul>
          
          
          </td>
           -->
          <td><ul>
             
              <!--<li><a href="#" title="YTD Forecast/Budget Attainment by Legal Entity" class="homeLinksBlue" onClick="go('https://tableau.covidien.com/t/LATAM/views/CountryPerformance/CountryPerformance?:embed=yes&:toolbar=top')"> Country Performances</a></li>-->
              <li><a href="#" title="Trend and forecasting tool to view quota attainment if Opportunity Pipeline closes" class="homeLinksSkyBlue" onClick="go('https://tableau.medtronic.com/t/LATAM/views/QuotaGapForecastingDashboard/TerritoryQuotaGap?:embed=yes&:display_count=no&:showVizHome=no')"> Quota-Gap Forecasting Dashboard</a></li>
              <li><a href="#" title="Ranking for all Specialists based on YTD Attainment By Region and Business Unit" class="homeLinksSkyBlue" onClick="go('https://tableau.medtronic.com/t/LATAM/views/SalesRankings/SpecialistRankings?:embed=y&:showShareOptions=true&:display_count=no&:showVizHome=no')"> Rankings</a></li>
              
              <li><a href="#" title="Specialist Performance (MTD, QTD and YTD) by: Customer, Business Unit and Product Item." class="homeLinksOrange" onclick="go('https://tableau.medtronic.com/t/LATAM/views/SalesRepPlaybook/ProductSpecialistPlaybook?:embed=y&:showShareOptions=true&:display_count=no&:showVizHome=no')"> Specialist Playbook</a></li>
              <!--<li><a href="#" title="Account playbook rolled up to the territory view. Includes overview of sales trends, potential and maps." class="homeLinksOrange" onClick="go('https://tableau.covidien.com/t/LATAM/views/FY14LatAmAccountPlaybook/Dashboard2?:embed=yes&:toolbar=top')"> Territory Playbook</a></li>-->
              <!--li><a href="#" title="Business review templates to utilize for compliance and conversion conversations with customers" class="homeLinksDarkBlue" onClick="goCommercialReviewSubMenu()"> Business Review Tools</a></li-->
              
              <li><a href="#" title="Specialist Territory Performance by Account and COT per week and month - sales updated daily" class="homeLinksBlue" onclick="go('https://tableau.medtronic.com/t/LATAM/views/WeeklySalesTrends/SalesTrend-Specialist?:embed=y&:showShareOptions=true&:display_count=no&:showVizHome=no')"> Monthly Sales Trends </a></li>
            </ul></td>
           <td><ul>
             
              <!--<li><a href="#" title="YTD Forecast/Budget Attainment by Legal Entity" class="homeLinksBlue" onClick="go('https://tableau.covidien.com/t/LATAM/views/CountryPerformance/CountryPerformance?:embed=yes&:toolbar=top')"> Country Performances</a></li>-->
              <li> <apex:outputLink value="LatamMyIntelSFDCAdoption" id="LatamMyIntelSFDCAdoption2" styleClass="homeLinksSkyBlue"> SFDC Adoption </apex:outputLink> </li>
              
              <!--<li><a href="#" title="Analyze Sales by Distrbutor and COT" class="homeLinksSkyBlue" onClick="go('https://tableau.covidien.com/t/LATAM/views/DistributorManagement/DistributorManagement?:embed=yes&:toolbar=top')"> Distributor Management</a></li>-->
              <!--li><a href="#" title=" " class="homeLinksDarkBlue" onClick="go('https://tableau.covidien.com/t/LATAM/views/LatAmCommercialHRDashboard/CommercialHRDashboard?:embed=yes&:toolbar=top')"> Turnover HR Dashboard</a></li-->
              <!--<li><a href="#" title="Surgical Procedure volumes for top specialities with growth estimates and Lap vs Open per country." class="homeLinksDarkBlue" onClick="go('https://tableau.covidien.com/t/LATAM/views/ProcedureVolumesDashboard/ProceduralVolumeDashboard?:embed=yes&:toolbar=top')"> Procedure Volume Dashboards</a></li>-->
              <li><a href="#" title="Sales Rep Productivity - Sales/Headcounts." class="homeLinksBlue" onclick=" go ('https://tableau.medtronic.com/t/LATAM/views/CommercialEfficiencyF17/CompleteProductivityTerrandPerson?:embed=y&:showShareOptions=true&:display_count=no&:showVizHome=no')"> Commercial Efficiency</a></li><!-- REPLACE BY THIS: onclick="goCommercialReviewSubMenu()"-->
              <li><a href="#" title="Analyze Channel Performance by Classification - Top Key Accounts and Top Distributors." class="homeLinksDarkBlue" onclick="go('https://tableau.medtronic.com/t/LATAM/views/ChannelManagementDashboard/ChannelManagement?:embed=y&:showShareOptions=true&:display_count=no&:showVizHome=no')"> Channel Management</a></li>
              <li><a href="#" title="Analyze LATAM Product Sales from GBU to SKU in just a few clicks." class="homeLinksDarkBlue" onclick="go('https://tableau.medtronic.com/t/LATAM/views/GBUProductPerformance/GBUPerformance?:embed=y&:showShareOptions=true&:display_count=no&:showVizHome=no')">GBU Performance</a></li>
              <li><a href="#" title="High Level Monthly budget attainment and gap by Business Unit COT Level, plus customer and product performance." class="homeLinksBlue" onclick="go('https://tableau.medtronic.com/t/LATAM/views/BudgetAttainmentDashboard/BudgetAttainmentDashboard?:embed=y&:showShareOptions=true&:display_count=no&:showVizHome=no')"> Budget Attainment</a></li>

            </ul></td>
 
        </tr>
      </table>
      <table>
        <tr>
          <!--<td><h1>Marketing - Surgical</h1></td>-->
          <!--<td><h1>Marketing - PM&amp;R </h1></td>
          <td><h1>Marketing - PV/NV </h1></td>-->
        </tr>
        <tr>
          <td><ul>
              <!--<li><a href="#" title="EGIA Tri Staple Penetration Dashboard by Country, Sales USD, Quantity and Percent of Regional Sales " class="homeLinksDarkBlue" onClick="go('https://tableau.covidien.com/t/LATAM/views/TriStapleTargetingDashboard/TriStapleDashboard?:embed=yes&:toolbar=yes')"> Tri - Staple Dashboard</a></li>-->
              
            </ul></td>
          <td><ul>
              <li><!--a href="#" title=""  class="homeLinksDarkBlue" onClick="go('https://tableau.covidien.com/t/LATAM/views/2015-02RMSSPIFFModel/2015-02RMSSPIFF?:embed=yes&:toolbar=top')"> RMS SPIFF</a--></li>
            </ul></td>
          <td><ul>
              <li></li>
            </ul></td>
        </tr>
      </table>
      <table>
          <tr>
              <td style="width: 307px"><h1>Business Unit Analytics</h1></td>
             </tr>
          <tr>
              <td style="width: 307px">
                  <ul>
                      <li>
                      <a href="#" title="Shows where, when and what equipment has been Installed/Sold for Patient Monitoring &amp; Recovery products." class="homeLinksBlue" onclick="go('https://tableau.medtronic.com/t/LATAM/views/PMRInstalledBaseReport/PMRInstalledBaseReport?:embed=y&:showShareOptions=true&:display_count=no&:showVizHome=no')" style="width: 280px">PM&amp;R Capital Installed Base</a></li>
                  </ul>
              </td>
                            <td style="width: 307px">
                  <ul>
                      <li>
                      <a href="#" title="Shows where, when and what equipment has been Installed/Sold for Surgical Innovations products." class="homeLinksBlue" onclick="go('https://tableau.medtronic.com/t/LATAM/views/SIInstalledBaseReport/SIInstalledBaseReport?:embed=y&:showShareOptions=true&:display_count=no&:showVizHome=no&:showVizHome=no')" style="width: 280px">SI Capital Installed Base</a></li>
                  </ul>
              </td>
                            <td>
                  <ul>
                      <li>
                      <a href="#" title="12 Month Sales Divided by Total Number of Force Triad placed - $ Utilization per Triad." class="homeLinksOrange" onclick="go('https://tableau.medtronic.com/t/LATAM/views/ForceTriadUtilization/ForceTriadUtilization?:embed=y&:showShareOptions=true&:display_count=no&:showVizHome=no&:showVizHome=no')" style="width: 280px">Force Traid Utilization</a></li>
                  </ul>
              </td>


          </tr>
        <tr>            
          <td style="width: 307px"><h1>Frequency Guidance:</h1></td>
        </tr>
        <tr>
          <td style="width: 307px"><ul class="legend" style="width: 307px">
              <li><span class="darkblue"></span> Quarterly / As Needed</li>
              <li><span class="cobaltblue"></span> Monthly</li>              
              <li><span class="skyblue"></span> Weekly</li>
              <li style="width: 71px; height: 44px"><span class="orange"></span> Daily</li>
            </ul></td>
        </tr>
      </table>
    </div>
    <div id="CommercialReviewSubMenu" style="display:none;">
      <table>
        <tr>
          <td><h1>Commercial Review</h1></td>
        </tr>
        <tr>
          <td><ul>
              <li>
              <a href="#" title="Montlhy Commercial Operations Review" class="homeLinksSkyBlue"
              onClick="go('https://tableau.covidien.com/t/LATAM/views/CommercialOperationsReview/BrazilReview')"> 
              Brazil</a></li>
              <li>
              <a href="#" title="Montlhy Commercial Operations Review" class="homeLinksSkyBlue"
              onClick="go('https://tableau.covidien.com/t/LATAM/views/CommercialOperationsReview/MexicoReview')"> 
              Mexico</a></li>
              <li>
              <a href="#" title="Montlhy Commercial Operations Review" class="homeLinksSkyBlue"
              onClick="go('https://tableau.covidien.com/t/LATAM/views/CommercialOperationsReview/ColombiaReview')"> 
              Colombia</a></li>
              <li>
              <a href="#" title="Montlhy Commercial Operations Review" class="homeLinksSkyBlue"
              onClick="go('https://tableau.covidien.com/t/LATAM/views/CommercialOperationsReview/PuertoRicoReview')"> 
              Puerto Rico</a></li>
              <li>
              <a href="#" title="Montlhy Commercial Operations Review" class="homeLinksSkyBlue"
              onClick="go('https://tableau.covidien.com/t/LATAM/views/CommercialOperationsReview/PanamaReview')"> 
              Panama</a></li>
              <li>
              <a href="#" title="Montlhy Commercial Operations Review" class="homeLinksSkyBlue"
              onClick="go('https://tableau.covidien.com/t/LATAM/views/CommercialOperationsReview/ChileReview')"> 
              Chile</a></li>
              <li>
              <a href="#" title="Montlhy Commercial Operations Review" class="homeLinksSkyBlue"
              onClick="go('https://tableau.covidien.com/t/LATAM/views/CommercialOperationsReview/ArgentinaReview')"> 
              Argentina</a></li>
               
            </ul></td>
        </tr>
      </table>
    </div>
      <div id="HelpSubMenu" style="display:none; font-family:Arial;">
               <div class="tabStrip">
                  <ul>
                      <li><a href="javascript:openTab(1);" class="tabLinkActive" id="tabLink1">English</a></li>
                      <li><a href="javascript:openTab(2);" class="tabLink" id="tabLink2">Español</a></li>
                      <li><a href="javascript:openTab(3);" class="tabLink" id="tabLink3">Português</a></li>
                  </ul>
              </div>
              <div class="tabContentActive" id="tabContent1">
                  <!--ENGLISH-->

                  <h1 style="width: 642px">Main Menu</h1>
                        <iframe width="640" height="360" src="https://www.youtube.com/embed/0XcJMHl5q3E" frameborder="0" allowfullscreen="true"></iframe>
                  <!--<h1 style="width: 642px">Territory Level - Quota-Gap Forecasting Dashboard</h1>-->
                  <h1 style="width: 642px">Territory Level - Rankings</h1>
                        <iframe width="640" height="360" src="https://www.youtube.com/embed/KMS5ot_la04" frameborder="0" allowfullscreen="true"></iframe>
                  <h1 style="width: 642px">Territory Level - Seller Paybook</h1>
                        <iframe width="640" height="360" src="https://www.youtube.com/embed/MRYGHwwKUjI" frameborder="0" allowfullscreen="true"></iframe>
                  <!--<h1 style="width: 642px">Territory Level - Monthly Sales Trends</h1>
                  <h1 style="width: 642px">Marketing - Surgical - Tri-Staple Dashboard</h1>-->
                  <h1 style="width: 642px">Regional Level - Channel Management</h1>
                        <iframe width="640" height="360" src="https://www.youtube.com/embed/S05nG73sGzc" frameborder="0" allowfullscreen="true"></iframe>
                  <!--<h1 style="width: 642px">Regional Level - Commercial Review Tools</h1>-->
                  <h1 style="width: 642px">Regional Level - Budget Attainment</h1>
                        <iframe width="640" height="360" src="https://www.youtube.com/embed/fzKRAb3OAOw" frameborder="0" allowfullscreen="true"></iframe>
                  <!--<h1 style="width: 642px">Regional Level - GBU Performance</h1>-->
                  
                  
              </div>
          <div class="tabContent" id="tabContent2">
              <!--SPANISH-->

              <h1 style="width: 642px">Main Menu</h1>
                    <iframe width="640" height="360" src="https://www.youtube.com/embed/36E0P5vlySU" frameborder="0" allowfullscreen="true"></iframe>
              <!--<h1 style="width: 642px">Territory Level - Quota-Gap Forecasting Dashboard</h1>-->
              <h1 style="width: 642px">Territory Level - Rankings</h1>
                    <iframe width="640" height="360" src="https://www.youtube.com/embed/xWwEjYrbuCM" frameborder="0" allowfullscreen="true"></iframe>
              <h1 style="width: 642px">Territory Level - Seller Paybook</h1>
                    <iframe width="640" height="360" src="https://www.youtube.com/embed/_7VnOS4MjOo" frameborder="0" allowfullscreen="true"></iframe>
              <!--<h1 style="width: 642px">Territory Level - Monthly Sales Trends</h1>
              <h1 style="width: 642px">Marketing - Surgical - Tri-Staple Dashboard</h1>-->
              <h1 style="width: 642px">Regional Level - Channel Management</h1>
                    <iframe width="640" height="360" src="https://www.youtube.com/embed/rBHqAU0AvgY" frameborder="0" allowfullscreen="true"></iframe>
              <!--<h1 style="width: 642px">Regional Level - Commercial Review Tools</h1>-->
              <h1 style="width: 642px">Regional Level - Budget Attainment</h1>
                    <iframe width="640" height="360" src="https://www.youtube.com/embed/q4sBYtYYCfk" frameborder="0" allowfullscreen="true"></iframe>
              <!--<h1 style="width: 642px">Regional Level - GBU Performance</h1>-->

          </div>
              <div class="tabContent" id="tabContent3">
                  <!--PORTUGUESE-->

                  <h1 style="width: 642px">Main Menu</h1>
                        <iframe width="640" height="360" src="https://www.youtube.com/embed/VFIiP6m9LEc" frameborder="0" allowfullscreen="true"></iframe>
                  <!--<h1>Territory Level - Quota-Gap Forecasting Dashboard</h1>-->
                  <h1 style="width: 642px">Territory Level - Rankings</h1>
                        <iframe width="640" height="360" src="https://www.youtube.com/embed/1XWsnj2UVNA" frameborder="0" allowfullscreen="true"></iframe>
                  <!--<h1 style="width: 642px">Territory Level - Seller Paybook</h1>
                  <h1 style="width: 642px">Territory Level - Monthly Sales Trends</h1>
                  <h1 style="width: 642px">Marketing - Surgical - Tri-Staple Dashboard</h1>-->
                  <h1 style="width: 642px">Regional Level - Channel Management</h1>
                        <iframe width="640" height="360" src="https://www.youtube.com/embed/62kGoy8Tpd8" frameborder="0" allowfullscreen="true"></iframe>
                  <!--<h1 style="width: 642px">Regional Level - Commercial Review Tools</h1>-->
                  <h1 style="width: 642px">Regional Level - Budget Attainment</h1>
                        <iframe width="640" height="360" src="https://www.youtube.com/embed/6QKf2jnCLic" frameborder="0" allowfullscreen="true"></iframe>
                  <!--<h1 style="width: 642px">Regional Level - GBU Performance</h1>-->

              </div>
              <!--
        <table>
            <tr>
                <td><h1>.: Help videos :.</h1></td>
            </tr>
            <tr>
                <td>

                </td>
            </tr>
        </table>
            -->
</div>

    
    <div class="embed-container" id="dashboards" style="display:none;">
      <iframe frameborder="0" height="900" id="iFrameLoader" src="about:blank" width="1024"> </iframe>
    </div>
  </div>
</div>
</body>
</html>
</apex:page>