<apex:page showHeader="false" sideBar="false" controller="PricingQueryToolController" cache="false" >
    
    <script type="text/javascript">
        function fillIn(name, id)    
        {
               var winMain=window.opener;       
               if (null==winMain)       
               {
                         winMain=window.parent.opener;       
               }       
               var ele=winMain.document.getElementById('{!$CurrentPage.parameters.namefield}');       
               ele.value=name;       
               ele=winMain.document.getElementById('{!$CurrentPage.parameters.idfield}');       
               ele.value=id;       
               CloseWindow();    
        }      
        function CloseWindow()    
        {
               var winMain=window.opener;       
               if (null==winMain)       
               {
                         winMain=window.parent.opener;       
               }       
               winMain.closeLookupPopup();    
        } 
    </script> 
    <apex:form >
     <apex:pageMessages />
     <apex:pageBlock title="Location Search" id="searchBlock">
       <!-- searchLocationsapex:pageBlockSection columns="1">
        <apex:pageBlockSectionItem id="searchFormSectionItem">
               <apex:outputLabel for="searchField">Search Locations</apex:outputLabel>
               <apex:panelGroup >
                  <apex:inputText value="{!locSearch}" Id="searchField"/>
                  <apex:commandButton value="Go!" action="{!searchLocations}" 
                                      rerender="results" status="status"/>
               </apex:panelGroup>
         </apex:pageBlockSectionItem>
        </apex:pageBlockSection><hr/-->
        <apex:pageBlockSection columns="1" Id="results">
            <apex:pageBlockTable value="{!locations}" var="l" >
                <apex:column headerValue="{!$Label.LocationLookup_Name}">
                    <apex:outputLink value="#"
                        onclick="fillIn('{!JSENCODE(l.Name)}', '{!l.id}')">{!l.Name}</apex:outputLink>
                </apex:column>
                <apex:column value="{!l.Address_1__c}" />
                <apex:column value="{!l.City__c}" />
                <apex:column value="{!l.Zip_Postal_Code__c}" />
                <apex:column value="{!l.ERP_Source__c}" />
                <apex:column value="{!l.ERP_ID__c}" />
                <apex:column value="{!l.COV_ERP_Total_Sales__c}" />
            </apex:pageBlockTable>
        </apex:pageBlockSection>
    </apex:pageBlock>
 </apex:form>

</apex:page>