<apex:page showHeader="false" sidebar="false" standardStylesheets="false" controller="MHSACommunityController" docType="html-5.0" title="Facility Outcomes">
<link rel="icon" type="image/png" href="{!$Resource.MedtronicBrowserIcon}" />
<div>
  <md-nav-bar md-selected-nav-item="$ctrl.selectedDashboard" nav-bar-aria-label="dashboards">
      <md-nav-item ng-repeat="dashboard in $ctrl.dashboards" md-nav-click="$ctrl.updateChildState(dashboard,$index)" name="{{dashboard.Name}}">{{dashboard.Name}}</md-nav-item>
  </md-nav-bar>
  <ui-view></ui-view>
</div>
  <div ng-if="$ctrl.pageOnly()">
  </div>
  
</apex:page>