<apex:page showHeader="false" sidebar="false" standardStylesheets="false" applyBodyTag="false" applyHtmlTag="false" controller="MHSACommunityController" docType="html-5.0" title="Performance Analyzer - Contact Us">
<link rel="icon" type="image/png" href="{!$Resource.MedtronicBrowserIcon}" />
<div>
  <div class="contact">
      <h2>Contact PerformanceAnalyzer Customer Support</h2>
       <p>Whether you’re looking for answers, would like to solve a problem, or just want to let us know how we did, you can send us an email. Our current email response time is one business day.</p>
       <p>
          <strong>Email Us:  </strong>Send us a message with a compliment, question or concern at <a href="mailto:performanceanalyzer@medtronic.com">performanceanalyzer@medtronic.com</a>.<br></br>
       </p>
    </div>  
</div>
</apex:page>