<!--**********************************************
 Mobile PRS Transit
**********************************************-->

<apex:page title="Mobile PRS Transit"
           docType="html-5.0"
           id="mobileprsdummy"
           controller="MobilePRSOpportunityTransitController"
           sidebar="false"
           showHeader="false"
           standardStylesheets="false"
           applyBodyTag="false">

    <apex:stylesheet value="{!URLFOR($Resource.BootstrapSF1, 'bootstrap-sf1/dist/css/bootstrap.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.BootstrapSF1, 'bootstrap-sf1/dist/css/docs.min.css')}"/>
    <apex:includeScript value="{!URLFOR($Resource.ctu__Bootstrap, 'js/jquery-1.11.0.min.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.BootstrapSF1, 'bootstrap-sf1/js/bootstrap.min.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.BootstrapSF1, 'bootstrap-sf1/js/docs.js')}"/>

    <body>
        <div class="container">
            <div id="event" style="display:none;">
                <div id="errorMsg" class="alert alert-danger" style="display:none;margin-top:10px;"></div>
                <div id="buttonWrapper" class="form-group" style="display:none;margin-top:10px;"></div>
            </div>
        </div>
    </body>
    <body>
        <div class="container">
            <div class="form-group" id="ref" style="display:none;">
                <br/>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                        <button type="button" class="btn btn-default btn-block btn-lg" onclick="sforce.one.navigateToSObject(window.localStorage.getItem('IdStr'));">案件参照</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                        <strong>※ボタンを押して案件参照画面を開いてください。</strong>
                    </div>
                </div>
            </div>
            <div class="form-group" id="edit" style="display:none;">
                <br/>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                        <button type="button" class="btn btn-default btn-block btn-lg" onclick="sforce.one.editRecord(window.localStorage.getItem('IdStr'));">案件を編集</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                        <strong>※ボタンを押して案件編集画面を開いてください。</strong>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <br/>
                <br/>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                        <button type="button" class="btn btn-default btn-block btn-lg" onclick="sforce.one.navigateToURL('/apex/MobilePrsPage',true);">PRSページに戻る</button>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <script type="text/javascript">
        var Id;
        var isEdit;
        var query = window.location.search.substring(1);
        var vars = query.split("&");
        for (var i=0;i<vars.length;i++) {
            var pair = vars[i].split("=");
            if (pair[0] == 'oppId') {
                Id = pair[1];
            }
            else if (pair[0] == 'isEdit') {
                isEdit = pair[1];
            }
        }
        var str15digit = '';
        str15digit = Id.substring(0, 15);
        
        window.localStorage.clear();
        window.localStorage.setItem("IdStr",str15digit);
        
        if(isEdit == 'true'){
            document.getElementById('edit').style.display='block';
        }
        else if (isEdit == 'false') {
            document.getElementById('ref').style.display='block';  
        }
        else {
            document.getElementById('event').style.display='block';
        }
    </script>
    <script type="text/javascript">
    var objectType = "Event";
    var cov =
    {
        init : function(){
            Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.MobilePRSOpportunityTransitController.getRecordTypes}', objectType, function(result, event){
                if (event.status){
                    if(result.length == 0){
                        document.getElementById('errorMsg').style.display='block';
                        $("div#errorMsg").html("<strong>行動を作成する権限がありません。</strong>");
                    }
                    else if(result.length >= 1){
                        document.getElementById('buttonWrapper').style.display='block';
                        $("div#buttonWrapper").prepend("<strong>レコードの種類を選択して、新規行動を作成してください。</strong>");
                        $(result).each(function(){
                            $("div#buttonWrapper").append("<div class='row'>");
                            $("div#buttonWrapper").append("<div id='" + this.Id + "' class='btn btn-default btn-lg col-xs-12 col-sm-12 col-md-12 text-center' style='margin-top:14px;'>" + this.Name + "</div>");
                            $("div#buttonWrapper").append("</div>");
                        });
                    }
                }
                else {
                    document.getElementById('errorMsg').style.display='block';
                    $("div#errorMsg").html("<strong>技術的な問題が発生しています。</strong>");
                }
            }, 
            {escape: true});
            $("div#buttonWrapper").on("click", "div.btn", function(){
                sforce.one.createRecord(objectType, $(this).attr("id"));
            });
        }
    };
    $(document).ready(cov.init);
    </script>
    
</apex:page>