<!-- 
Copyright (c) 2011, salesforce.com, Inc.
All rights reserved.

Redistribution and use in source and binary forms, with or without modification, 
are permitted provided that the following conditions are met:

    * Redistributions of source code must retain the above copyright notice, 
    this list of conditions and the following disclaimer.
    * Redistributions in binary form must reproduce the above copyright notice, 
    this list of conditions and the following disclaimer in the documentation 
    and/or other materials provided with the distribution.
    * Neither the name of the salesforce.com, Inc. nor the names of its contributors 
    may be used to endorse or promote products derived from this software 
    without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND 
ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED 
WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. 
IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, 
INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, 
BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, 
DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF 
LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE 
OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED 
OF THE POSSIBILITY OF SUCH DAMAGE.
-->
<apex:page standardController="MPM4_BASE__Milestone1_Task__c"
           recordSetVar="tasks"
           tabStyle="MPM4_BASE__Milestone1_Task__c"
           extensions="MPM4_BASE.Milestone1_Move_Task_Extension">
<style>
    .moveError { color: red; font-weight: strong;}
</style> 
    <apex:form >
        <apex:messages layout="table" styleClass="moveError" />
        <apex:pageBlock title="{!$Label.mpm4_base__milestone1_movetasks}">
            <apex:pageBlockButtons >
                <apex:commandButton value="{!$Label.mpm4_base__milestone1_movetasksave}"
                                    action="{!moveTasks}"
                                    rendered="{!showSave}"/>
                <apex:commandButton value="{!$Label.mpm4_base__milestone1_movetaskcancel}"
                                    action="{!cancel}"/>
            </apex:pageBlockButtons>
            
            <apex:pageBlockSection columns="1"
                                   rendered="{!showSave}">
                <apex:inputField value="{!dummyTask.MPM4_BASE__Project_Milestone__c}"
                                 required="true"/>
            </apex:pageBlockSection>
            
            <apex:outputLabel value="{!$Label.mpm4_base__milestone1_movetaskrecordstomove}"
                              rendered="{!anySelected == false}"/>
            
            <apex:outputLabel value="One or more of the selected Task records cannot be moved because it has related Time, Expense, or Notes & Attachments records."
                              rendered="{!hasChildren}"/>       
        </apex:pageBlock>
    </apex:form>

</apex:page>