<apex:page docType="html-5.0" standardstylesheets="false" showHeader="false"  sidebar="false" standardController="Opportunity" extensions="Add_Opp_Prod_Ctlr" id="pageId"     showQuickActionVfHeader="false">
<html>
<body>
<title>Add Opportunity Product</title>
<meta charset="utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<!-- jQuery Mobile  -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
<apex:stylesheet value="https://code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.css" />
<apex:includeScript value="https://code.jquery.com/jquery-1.9.1.min.js"/>
<apex:includeScript value="https://code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.js"/>
<script type='text/javascript' src='//code.jquery.com/jquery-1.10.1.js'></script>


 <!-- Salesforce1 -->
<apex:includeScript value="/canvas/sdk/js/publisher.js" />

    <!-- Required to prevent SF1 from grey screening -->
    <script> 
    (function(){try{var a=navigator.userAgent; 
                    if((a.indexOf('Salesforce')!=-1)&&(a.indexOf('iPhone')!=-1||a.indexOf('iPad')!=-1)&&(a.indexOf('OS/8')!=-1||a.indexOf('OS/9')!=-1||a.indexOf('OS/10')!=-1||a.indexOf('OS 8')!=-1||a.indexOf('OS 9')!=-1||a.indexOf('OS 10')!=-1)&&(a.indexOf('Safari')==-1)){ 
                        var s=document.createElement('style'); 
                        s.innerHTML="html,html body{overflow: auto;-webkit-overflow-scrolling:touch;}body{position:absolute;left:0;right:0;top:0;bottom:0;}"; 
                        document.getElementsByTagName('head')[0].appendChild(s);}}catch(e){}})(); 
    </script>


<apex:stylesheet value="{!URLFOR($Resource.opg_style, 'og.css')}"/>  


 <apex:outputPanel id="jspanel"> 
 
        <script>  
    var paths = '/{!ReturnOpp}';
    var MP = '{!Redirect}';
    var FL = '{!flow}';
    var cancelpath = '/{!ReturnOpp}';
    

       function onControllerReturn2() 
       {
       if( (typeof sforce != 'undefined') && (sforce != null) &&  (MP == 'Yes') && (FL == 'Yes')) 
       {
       sforce.one.navigateToURL(paths,true);  
       }
       else if ((MP == 'Yes') && (FL == 'Yes'))
         {
       window.parent.location=paths;
         }
       else if ((MP == 'Yes') && (FL == 'No'))
       {
       onCancelReturn();
       }
       else if ( (typeof sforce != 'undefined') && (sforce != null) &&  (MP == 'No')) 
        {
            $('html,body').animate({
                scrollTop: 0,
                scrollLeft: 0
            }, 800, function(){
                $('html,body').clearQueue();
            });
        }
         else {
             setTimeout(window.scrollTo(0,0),100);
              }
       }
      </script>
 
  
      
      <script>
      var cancelpath = '/{!ReturnOpp}';
       function onCancelReturn() 
            {
                if( (typeof sforce != 'undefined') && (sforce != null) ) 
                {
                   Sfdc.canvas.publisher.publish({name:'publisher.close', payload:{refresh: 'true'}}); 
              <!--    sforce.one.navigateToURL(cancelpath);  -->
                }
                else {window.top.location=cancelpath;
                }
       }
       
  </script>  
    
 
</apex:outputPanel>  


   <apex:form id="frmId">
    
   <apex:actionFunction Action="{!CreateOli}" status="SaveStatus" Name="sv" rerender="jspanel, msgs" oncomplete="onControllerReturn2()" />
   <apex:actionFunction Name="cn" rerender="jspanel" oncomplete="onCancelReturn()" />
   <apex:actionFunction name="fetchProducts" action="{!fetchProducts}" rerender="hello, TheOP" />

   <div data-role="header" data-position="fixed" data-theme="b">
      <div class="cbutton">   
         <apex:commandButton value="Cancel" onclick="cn(); return false"/> 
      </div>
     
      <div class="sbutton"> 
         <apex:actionStatus id="SaveStatus"  >
            <apex:facet name="stop" >
               <apex:commandButton value="Save" disabled="{!isSaveDisabled}" onclick="sv(); return false" status="SaveStatus"/>
            </apex:facet>
            
            <apex:facet name="start" >
               <apex:commandButton value="Saving..." disabled="true" status="SaveStatus"/> 
            </apex:facet>
         </apex:actionStatus>   
      </div> 
   </div> 
        
   <apex:outputPanel id="msgs" rendered="true" >  
   <div class ="ErrMsg">
      <apex:PageMessages > </apex:PageMessages>
   </div>
   </apex:outputPanel>      
        
        
   <apex:selectList id="OPG" value="{!OPG}"  required="true" size="1" disabled="{!isOPGSet}">                         
      <apex:selectOptions value="{!opgList}"/>  
      <apex:actionSupport event="onchange" action="{!fetchProducts}"/>    
   </apex:selectList> 
 

   <apex:outputPanel id="Hello">
      <apex:pageBlock id="BlockID">
      
         <apex:repeat value="{!products}" var="product" Id="TheRepeatId">
            <apex:pageBlockSection id="sectionID" columns="1" collapsible="true"  title="{!product.Name}" > 

               <!-- Facet Creates Style & Twist Hyperlink for Product Names -->

               <apex:facet name="header">
                  <apex:commandLink value="{!product.Name}"  style=" text-decoration: none;" onclick="twistSection(document.getElementById('{!$Component.BlockID.TheRepeatId.sectionID}').getElementsByTagName('img')[0]); return false;" />
               </apex:facet>
        
               <!-- Hidden Fields --------------------------------------->
               <apex:inputHidden value="{!product.Id}" html-data="prodID" /> 
               <apex:inputHidden value="{!o.Id}" html-data="oppID" />
               <apex:inputHidden value="{!product.Name}" html-data="prodName" />  

               <!-- Quantity -------------------------------------------->
            <apex:pageBlockSectionItem dataStyle="text-align:left; width: 100%;">
               <apex:outputLabel value="Quantity:" />
            </apex:pageBlockSectionItem>
       
           <apex:pageBlockSectionItem dataStyle="text-align:left; width: 100%;">
              <apex:actionRegion >
                 <apex:input type="number" value="{!product.Quantity}" onfocus="this.select();" onmouseup="return false;">
                    <apex:actionSupport event="onchange" focus="unit" reRender="total"/>
                 </apex:input>
              </apex:actionRegion>    
           </apex:pageBlockSectionItem>
           
            <!-- Units ---------------------------------------------->
           <apex:pageBlockSectionItem dataStyle="text-align:left; width: 100%;">
              <apex:outputLabel value="Unit Price:" />
           </apex:pageBlockSectionItem>
       
           <apex:pageBlockSectionItem dataStyle="text-align:left; width: 100%;">
              <apex:actionRegion >
           <apex:input type="number" id="unit" value="{!product.UnitPrice}" onfocus="this.select();" onmouseup="return false;">
                 <apex:actionSupport event="onchange" reRender="total"/>
                 </apex:input>
              </apex:actionRegion>    
           </apex:pageBlockSectionItem>
                
            <!-- Total Calculated on the fly --------------------------->
           <apex:pageBlockSectionItem dataStyle="text-align:left; width: 100%;">
              <apex:outputText id="total" value="{0, number, 0.00}" styleClass="Total"> 
                 Total:     <apex:param value="{!product.Quantity * product.UnitPrice}"/>
              </apex:outputText>
           </apex:pageBlockSectionItem>  
           
           <apex:pageBlockSectionItem dataStyle="text-align:left; width: 100%;"> 
             <apex:outputLabel value="Competitor:" />
           </apex:pageBlockSectionItem>
           
          <apex:selectList id="Competitor" value="{!product.Competitor}"  size="1">                         
             <apex:selectOptions value="{!CompetitorList}"/>    
          </apex:selectList> 

          <apex:pageBlockSectionItem dataStyle="text-align:left; width: 100%;"> 
             <apex:outputLabel value=" Line Description:" />
          </apex:pageBlockSectionItem>
       
           <apex:pageBlockSectionItem dataStyle="text-align:left; width: 100%;">
              <apex:inputText id="aa" value="{!product.Description}"/> 
           </apex:pageBlockSectionItem>           

           </apex:pageBlockSection>

           <script>  
           twistSection(document.getElementById('{!$Component.BlockID.TheRepeatId.sectionID}').getElementsByTagName('img')[0]) 
          </script> 

     </apex:repeat>
   </apex:pageBlock>
</apex:outputPanel> 




    </apex:form>
    
    
 
    
    
</body>
</html>
</apex:page>