<apex:page id="ThePage" docType="html-5.0" applyBodyTag="false" applyHtmlTag="false" cache="true" showHeader="false" showQuickActionVfHeader="false" standardStylesheets="true"
           controller="RepSearch" action="{!trackVisits}">
    
    <title>MDT Rep Search - By Account</title>
    <meta charset="utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- jQuery Mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <apex:stylesheet value="{!URLFOR($Resource.RepStyle, 'rs.css')}"/> 
    <apex:stylesheet value="https://code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.css" />
    <apex:includeScript value="https://code.jquery.com/jquery-1.9.1.min.js"/>
    <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" />
    <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js" />
    <apex:styleSheet value="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/themes/smoothness/jquery-ui.css" />
    <apex:includeScript value="https://code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.js"/>
    
    
    <!-- Required to prevent SF1 from grey screening -->
    <script> 
    (function(){try{var a=navigator.userAgent; 
                    if((a.indexOf('Salesforce')!=-1)&&(a.indexOf('iPhone')!=-1||a.indexOf('iPad')!=-1)&&(a.indexOf('OS/8')!=-1||a.indexOf('OS/9')!=-1||a.indexOf('OS/10')!=-1||a.indexOf('OS 8')!=-1||a.indexOf('OS 9')!=-1||a.indexOf('OS 10')!=-1)&&(a.indexOf('Safari')==-1)){ 
                        var s=document.createElement('style'); 
                        s.innerHTML="html,html body{overflow: auto;-webkit-overflow-scrolling:touch;}body{position:absolute;left:0;right:0;top:0;bottom:0;}"; 
                        document.getElementsByTagName('head')[0].appendChild(s);}}catch(e){}})(); 
    </script>
    
    
    
    <apex:actionStatus id="status">
        <apex:facet name="start">
            <div style="position: fixed; top: 0; left: 0; right: 0; bottom: 0; opacity: 0.25; z-index: 1000; background-color: black;">
                &nbsp;
            </div>
            <div style="position: fixed; left: 0; top: 0; bottom: 0; right: 0; z-index: 1001; margin: 20% 25%">
                <div style="display: inline-block; padding: 2px; background-color: #fff; width: 125px;">
                    <img src="/img/loading.gif" style="float: left; margin: 8px;" />
                    <span style="display: inline-block; padding: 10px 0px;">Please Wait...</span>
                </div>
            </div>
        </apex:facet>
    </apex:actionStatus>
    
    
    
    
    <apex:form id="TheForm" >
        
        <div id="myProgress" style="display: none">
            <div id="myBar"></div>
        </div> 
        
        <!-- Header Bar ********************************************************************************* -->
        <div data-role="header" data-position="fixed" data-theme="b">
            <div class="cbutton">   
                <apex:commandButton value="Menu" onclick="Navigation('/apex/RepSearchMain'); return false"/> 
            </div>
            
            <div class="sbutton"> 
                <apex:commandButton value="Close" onclick="Navigation('/_ui/core/chatter/ui/ChatterPage'); return false"/>
            </div> 
        </div>    
        
        
        <apex:actionFunction name="ShowReps" rerender="op, FullResults" status="status" action="{!RenderResults}" />
        <apex:actionFunction name="p9" oncomplete="MgrLink(); return false"/> 
        
        <apex:actionFunction name="re" rerender="op" />
        
        <apex:pageBlock id="searchBlock" >
            
            <apex:outputPanel > 
                
                <apex:selectList id="Org" value="{!selectedOrg}" size="1">  
                    <apex:selectOptions value="{!Orgs}"/>  
                    <apex:actionSupport event="onchange"  action="{!ResetPage}" /> 
                </apex:selectList>                
                
                
                <h3>Account Name:</h3> <br></br>
            <apex:inputText id="AccountTextBox" value="{!searchTerm}" styleclass="sf1input" />
            
            <apex:inputhidden id="searchAccountId" value="{!selectedAct2}" />
            <apex:inputhidden id="searchAccountExternalId" value="{!selectedAccountId}" />
            <apex:inputHidden id="searchAccountName" value="{!selectedAccountName}" />
            <apex:inputHidden id="searchAccountCity" value="{!selectedAccountCity}" />
            <apex:inputHidden id="searchAccountState" value="{!selectedAccountState}" />
            <apex:inputHidden id="searchZip" value="{!selectedZip}" />
            
        </apex:outputPanel>
        
        <apex:outputPanel id="op" >
            <Div Class="SearchResultsFrame">
                <Div Class ="Contacts">
                    <div id="container">
                        <div class="container">
                            <div class="column1">
                                <div class="flag pam">
                                    <div class="flag--image prm">
                                        <apex:image url="/img/social/unknown_company_pic.png"  width="35" height="35"/>
                                    </div>
                                    <div class="flag--body">
                                        <apex:outputPanel rendered="{!ShowAccountBox}">
                                            <div class="flag--text1">    
                                                <h1><b>{!selectedAccountName}</b></h1>
                                            </div>   
                                            <div class="flag--text2">   
                                                ( {!selectedAccountId} )
                                            </div>  
                                            <div class="flag--text2">   
                                                {!selectedAccountCity} {!selectedAccountState} {!selectedZip}
                                            </div> 
                                        </apex:outputPanel>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <p></p>
                </div>
            </div>
        </apex:outputPanel>   
        
        
    </apex:pageBlock> 
    
    <!--******************************************************************************
Results
****************************************************************************** --> 
    <apex:outputPanel id="FullResults" >      
        <apex:outputPanel id="Results" rendered="{!ShowResults}" >
            <apex:pageBlock id="BlockID">
                <apex:repeat value="{!MyTherapy}" var="UniqueTherapy" Id="TheRepeatId">     
                    <apex:pageBlockSection id="sectionID" columns="1" collapsible="true"  title="{!UniqueTherapy}" > 
                        
                        <!-- Facet Creates Style & Twist Hyperlink for Therapy Names -->
                        <apex:facet name="header">
                            <apex:commandLink value="{!UniqueTherapy}"  style="text-decoration: none;" onclick="twistSection(document.getElementById('{!$Component.BlockID.TheRepeatId.sectionID}').getElementsByTagName('img')[0]); return false;" />
                        </apex:facet>
                        
                        <!--Nested Repeat to display Reps under Therapy Bucket -->
                        <apex:repeat value="{!AccountTeams}" var="z" id="TheRepeatId2"> 
                            <apex:outputPanel rendered="{!IF(UniqueTherapy = z.Therapy,true,false)}">
                                <Div Class="SearchResultsFrame">
                                    <div id="container">
                                        <div class="container">
                                            <div class="column1">
                                                <div class="flag pam">
                                                    <div class="flag--image prm">
                                                        <apex:image style="border-radius:30px" id="profileImage" url="{!z.Photo}" width="50" height="50" />
                                                    </div>
                                                    <div class="flag--body">
                                                        <div class="flag--text1">  
                                                            {!z.Name}
                                                        </div>   
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>   
                                    
                                    
                                    <Div Class ="Contacts">
                                        <h3><i>{!z.Title}</i></h3> 
                                        
                                        <!-- Cell Phone --> 
                                        <apex:outputpanel style="display: table" id="cell" rendered="{!IF(z.cellphone == NULL,false,true)}">
                                            <Div Class="vertcentertext">
                                                <h3>Cell: <a href="tel:{!z.cellphone}" target="_blank">{!z.cellphone}</a> 
                                                    <a href="sms:{!z.cellphone}" target="_blank">[Send Text]</a> </h3>
                                            </div>
                                        </apex:outputpanel>       
                                        
                                        <!-- Work Phone -->        
                                        <apex:outputpanel style="display: table" id="work" rendered="{!IF(z.workphone == NULL,false,true)}">  
                                            <Div Class="vertcentertext">
                                                <h3> Work: <a href="tel:{!z.workphone}" target="_blank">{!z.workphone}</a>
                                                    <apex:outputLink value="sms:{!z.workphone}" target="_blank" rendered="{!IF(z.cellphone == NULL,true,false)}">[Send Text]</apex:outputLink></h3>
                                            </div>
                                        </apex:outputpanel>
                                        
                                        <h3>Email:   <a href="mailto:{!z.email}" target="_blank">{!z.email}</a></h3>
                                        
                                        <!--Mobile Manager Link -->
                                        <apex:outputpanel style="display: table" id="mgr" rendered="{!IF(z.mgrguid == NULL || CurrentPlatform = 'Desktop',false,true)}">
                                            <Div Class="vertcentertext">
                                                <h3> Manager:
                                                    <apex:commandLink value="{!z.mgrname}"  onclick="sforce.one.navigateToSObject('{!z.mgrguid}'); return false"/></h3> <p></p>
                                            </div>               
                                        </apex:outputpanel> 
                                        
                                        <!--Desktop Manager Link -->
                                        <apex:outputpanel style="display: table" id="mgr_dsk" rendered="{!IF(z.mgrguid == NULL || CurrentPlatform = 'Mobile',false,true)}">
                                            <Div Class="vertcentertext">
                                                <h3> Manager:
                                                    <apex:commandLink value="{!z.mgrname}" onclick="window.parent.location='/{!z.mgrguid}'; return false"/></h3> <p></p>
                                            </div>               
                                        </apex:outputpanel> 
                                        <p></p>
                                    </div></div>          
                            </apex:outputPanel>
                        </apex:repeat>
                    </apex:pageBlockSection>
                    
                    <script>  
                    twistSection(document.getElementById('{!$Component.BlockID.TheRepeatId.sectionID}').getElementsByTagName('img')[0]) 
                    </script> 
                    
                </apex:repeat>
            </apex:pageBlock>
        </apex:outputPanel> 
    </apex:outputPanel>
    
    
    
    
    <script type="text/javascript">
    var PLACEHOLDER = 'Enter Account Name Here'; 
    var AccountObjects;
    var queryTerm;
    var Org;
    
    $('[id$=AccountTextBox]').autocomplete({
        minLength: 2,
        source: function(request, response) {
            queryTerm = request.term;
            Org = document.getElementById('ThePage:TheForm:searchBlock:Org').value;
            RepSearch.searchAccount(queryTerm, Org, function(result, event){
                if(event.type == 'exception') {
                    alert(event.message);
                } else {
                    AccountObjects = result;
                    response(AccountObjects);
                }
            });
        },
        focus: function( event, ui ) {
            $('[id$=AccountTextBox]').val( ui.item.Cust_Name__c);
            return false;
        },
        select: function( event, ui) {
            Org = document.getElementById('ThePage:TheForm:searchBlock:Org').value;
            
            <!-- This will use Account External ID for MDT and Account GUID for MITG -->
                $('[id$=AccountTextBox]').val( ui.item.Cust_Name__c );
            if(Org == 'MITG') {
                $('[id$=searchAccountId]').val( ui.item.ID );
            }  
            else {
                $('[id$=searchAccountId]').val( ui.item.Cust_Num__c );
            }
            $('[id$=searchAccountExternalId]').val( ui.item.Cust_Num__c );
            $('[id$=searchAccountName]').val( ui.item.Cust_Name__c );
            $('[id$=searchAccountCity]').val( ui.item.City__c );
            $('[id$=searchAccountState]').val( ui.item.State__c );
            $('[id$=searchZip]').val( ui.item.Postal_Code_5_Digit__c );
            
            
            ShowReps();return false;
            
            
        },
    })
    .data( "autocomplete" )._renderItem = function( ul, item ) {
        var entry = "<a>" + item.Cust_Name__c + " - " + item.City__c + "," + item.State__c + " " + item.Postal_Code_5_Digit__c + " (" + item.Cust_Num__c + ")"  ;
        
        entry = entry + "</a>";
        entry = entry.replace(queryTerm, "<b>" + queryTerm + "</b>");
        return $( "<li></li>" )
        .data( "item.autocomplete", item )
        .append( entry )
        .appendTo( ul );
    };
    
    // Add or remove placeholder values
    $('[id$=AccountTextBox]').val(PLACEHOLDER);
    $('[id$=AccountTextBox]').on("focus",  function(event){
        $tgt = $(event.target);
        if($tgt.val() === PLACEHOLDER ){
            $tgt.val('');
            $tgt.removeClass('placeHolder');
        }
    });
    $('[id$=AccountTextBox]').on( "blur",  function(event){
        $tgt = $(event.target);
        if($tgt.val() === '' ){
            $tgt.val(PLACEHOLDER);
            $tgt.addClass('placeHolder');
        }
    });
    </script>
    
    
    <script>
    function Navigation(path) {
        document.getElementById('myProgress').style.display = 'block';
        move();
        if ((typeof sforce != 'undefined') && (sforce != null)) {
            sforce.one.navigateToURL(path);
        } else {
            window.location = path;
        }
    }
    
    
    function move() {
        var elem = document.getElementById("myBar"); 
        var width = 1;
        var id = setInterval(frame, 10);
        function frame() {
            if (width >= 100) {
                clearInterval(id);
            } else {
                width++; 
                elem.style.width = width + '%'; 
            }
        }
    }        
    
    
    </script> 
    
    
</apex:form>
</apex:page>