<apex:page standardController="Sales_Navigator_Stage__c" extensions="SalesNavStage_View_Extension" docType="html-5.0" showHeader="false" sidebar="false" standardStylesheets="false">
<html>
	
<head>

	<meta charset="utf-8" />
	<title>{!Sales_Navigator_Stage__c.Name}</title>
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1,	minimum-scale=1, maximum-scale=1" />
	<apex:stylesheet value="{!URLFOR($Resource.Mobile_Design_Templates,'Mobile-Design-Templates-master/common/css/app.min.css')}"/>
	<apex:includeScript value="{!URLFOR($Resource.Mobile_Design_Templates,'Mobile-Design-Templates-master/common/js/jQuery2.0.2.min.js')}"/>
	<apex:includeScript value="{!URLFOR($Resource.Mobile_Design_Templates,'Mobile-Design-Templates-master/common/js/zebra_datepicker.min.js')}"/>
	<apex:includeScript value="{!URLFOR($Resource.Mobile_Design_Templates,'Mobile-Design-Templates-master/common/js/jquery.nouislider.min.js')}"/>
	<apex:includeScript value="{!URLFOR($Resource.Mobile_Design_Templates,'Mobile-Design-Templates-master/common/js/main.min.js')}"/>

</head>

<body>

<div class="app-wrapper">
	
	<header>
		<div class="main-menu-button main-menu-button-left"><a class="left-arrow">&nbsp;</a></div>
		<div class="main-menu-button main-menu-button-right"><a class="gear">&nbsp;</a></div>
		<h1>{!Sales_Navigator_Stage__c.Opportunity__r.Name} ({!Sales_Navigator_Stage__c.Name})</h1>
	</header>
	<div class="app-content">

	<form>

	<section class="border-bottom">
		<div class="content">
			<h3><b>Sales Navigator Stage Detail</b></h3>
			<h3>
				<table>
					<tr>
						<td>Stage Probability %</td>
						<td>&nbsp;&nbsp;&nbsp;{!Sales_Navigator_Stage__c.Stage_Probability__c}</td>
					</tr>
					<tr>
						<td>Critical Steps Complete</td>
						<td>&nbsp;&nbsp;&nbsp;{!Sales_Navigator_Stage__c.Critical_Steps_Complete_Ratio__c}</td>
					</tr>
					<tr>
						<td>Opportunity Probability %</td>
						<td>&nbsp;&nbsp;&nbsp;{!Sales_Navigator_Stage__c.Opportunity_Probability__c}</td>
					</tr>
				</table>
				<h3>Stage Start Date</h3>
				<div class="form-control-group">
					<div class="form-control form-control-date">
						<input type="date" name="date" value="{!Sales_Navigator_Stage__c.Stage_Start_Date__c}" />
					</div>
				</div>
			</h3>
		</div><!--.content-->
	</section>

	<section class="border-bottom">
		<div class="content">
			<h3>Inspection Date</h3>
			<div class="form-control-group">
				<div class="form-control form-control-date">
					<input type="date" name="date"/>
				</div>
			</div>
		</div><!--.content-->
	</section>

	<section class="border-bottom">
		<div class="content">
			<h3>Passed</h3>
			<div class="form-control-group">
				<div class="form-control form-control-toggle" data-on-label="yes" data-off-label="no">
					<input type="checkbox" name="toggle"/>
				</div>
			</div>
		</div><!--.content-->
	</section>

	<section class="border-bottom">
		<div class="content">
			<h3>Remarks</h3>
			<div class="form-control-group">
				<div class="form-control form-control-textarea">
					<textarea></textarea>
				</div>
			</div>
		</div><!--.content-->
	</section>

	<section class="border-bottom">
		<div class="content">
			<h3>Room Types</h3>
			<div class="span-50 form-control-group">
				<div class="form-control form-control-checkbox">
				<input type="checkbox"><label>Single</label></input>
				</div>
				<div class="form-control form-control-checkbox">
				<input type="checkbox"><label>Double</label></input>
				</div>
			</div>
			<div class="span-50 form-control-group">
				<div class="form-control form-control-checkbox">
				<input type="checkbox"><label>Suite</label></input>
				</div>
			</div>
		</div><!--.content-->
	</section>

	<section class="border-bottom">
		<div class="content">
			<h3>Hotel Type</h3>
			<div class="form-control-group">
				<div class="form-control form-control-select">
					<select>
						<option>Owner Operated</option>
						<option>Co-op</option>
						<option>Pure Anarchy</option>
					</select>
				</div>
			</div>
		</div><!--.content-->
	</section>

	<section >
		<div class="content">
			<h3>Number of Rooms</h3>
			<div class="form-control-group">
				<div class="form-control form-control-number">
				<input type="number" />
				</div>
			</div>
		</div><!--.content-->
	</section>

	<section class="data-capture-buttons one-buttons">
		<div class="content">
	    	<a href="#">submit</a>
	    </div>
	</section><!--.data-capture-buttons-->

	</form>

	</div><!--#app-content-->
</div><!--#app-wrapper-->

</body>

</html>
</apex:page>