<apex:page id="loginPage" showHeader="false" title="{!$Label.site.site_login}">

<style type="text/css">
 .privacy {text-align:center;
 clear:both;
 margin-top:10px;}

 #left_side  {float:left; /*width:302px;*/}
 #right_side {float:right; width:521px;}
 
 #pagewrapper {margin-top:40px;}
 #loginwrapper{
    margin-left: auto;
    margin-right: auto;
    max-width: 840px;
 /*   padding-top: 40px;*/
   /* background: -moz-linear-gradient(center top , #FAFAFA 0%, #E5E5E5 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);*/
    border-radius: 3px 3px 3px 3px;
    border-top: 2px solid #999999;
    border-bottom: 2px solid #999999;
    border-left: 2px solid #999999;
    border-right: 2px solid #999999;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4);
    min-height: 366px;
    /*filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#e5e5e5',GradientType=0 );*/
}

#loginwidget {margin-left:10px;
margin-top:40px;}

.logo {display:block;
margin-top:100px;
margin-left:80px;}

body table .btn{    
background: none repeat scroll 0 0 #003B7B;
    border: 1px solid #003B7B;
     color: #FFFFFF;
    
    font-size: 13pt;
    font-weight: 300;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    border-radius: 3px 3px 3px 3px;
    display: inline-block;
    line-height: 22px;
    padding: 7px 20px;}
    
 input  {
    background-color: #F3F5F6;

    font-size: 13px;
    width: 200px;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 0 0;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2) inset;
        padding: 6px 0 6px 0px;
}



</style>

<div id="pagewrapper">
<div id="loginwrapper">   

 <div id="right_side">
       <apex:image url="{!$Resource.DIS_Login_Page_Image}"/>
     </div>
     <div id="left_side">
       <div id="loginwidget">
         <c:SiteLogin id="siteLogin"/>
       </div>
       <div class="logo">
         <apex:image url="{!$Resource.logo}"/>
       </div>
     </div>
    


</div>
<div class="privacy">{!$Label.Footer} <a href="http://www.covidien.com/covidien/privacy">{!$Label.Privacy_Policy}</a>.</div>
</div>
</apex:page>