<apex:page controller="SVMXC.DCON_DispatchConsole"  title=" " standardStylesheets="false">

    <script src="https://servicemax.secure.force.com/NPS/services/apexrest/NPS?user-name={!$User.FirstName}&user-id={!UserID}&org-id={!UserOrgID}&user-locale={!UserLocaleKey}"></script>
     <style type="text/css"> 
            html, body { height:100%; }  
            .outer, .oRight{ height:100%;}
            body { margin:0; padding:0; overflow:auto;
                   background-color: #ffffff; }   
            object:focus { outline:none; }
     </style>
     
       <script type="text/javascript">
        //window.opener.parent used instead of window.opener to fix issue #10435
        var parentwindow = window.opener.parent;
        var __sfdcSessionId = '{!JSENCODE(GETSESSIONID())}';
        var usrTimeFormat = UserContext.timeFormat;
        var usrDateTimeFormat = UserContext.dateTimeFormat;
        var url;
        var myWindow;
        var t;
        var oldurl = '';
        
        //Added to track Google maps api usage by DC
        window.BOOTSTRAP_PARAMS = "includeChannel";
        
        function getDCConfig()
        {
            var flashvars = {};
            flashvars.local = "false";
            flashvars.mapclientid = "gme-servicemaxinc";
            flashvars.sessionId = "{!$Api.Session_ID}";
            flashvars.serverURL = "{!$Api.Partner_Server_URL_90}";
            flashvars.workOrderID = "{!JSENCODE(workorderId)}";
            flashvars.workOrder = "{!JSENCODE(workorderNo)}";
            flashvars.LTags = "{!TAG026}";
            flashvars.LUISettings = "{!TAG028}";
            flashvars.LFSettings = "{!TAG029}";
            flashvars.LWO = "{!TAG030}";
            flashvars.LTeam = "{!TAG031}";
            flashvars.LTech = "{!TAG032}";
            flashvars.LEvent = "{!TAG033}";
            flashvars.LStatus = "{!TAG245}";
            flashvars.DStatus = "{!TAG246}";
            flashvars.FStatus = "{!TAG247}";
            flashvars.LogText = "{!TAG252}";
            flashvars.CopyClip = "{!TAG253}";
            flashvars.loglevel = "{!userxml}";
            flashvars.mapURL = "SVMXC__Dcon_DispatchConsole_Map_JS?isdtp=mn";
            flashvars.SVMX_UserTimeFormat = usrTimeFormat;
            flashvars.eventSubjectLength = "80";
            flashvars.SVMX_LoadEnglishFont = "{!strLoadEnglishFont}";
            flashvars.ns = "SVMXC";
            flashvars.sitePrefix =  "{!$Site.Prefix}";//Added to fix issue #12425
            return {flashvars : flashvars, url : "{!URLFOR($Resource.DCON_Dispatch_Console,'DispatchConsole.swf')}"}
        }
        
        function changeTitle(title)
        {
            document.title = title; 
        }
        
        function getTimeFormat()
        {
            return usrTimeFormat; 
        }
        
        function getDateTimeFormat()
        {
            return usrDateTimeFormat; 
        }
        
        function getStaticResourceURL(name)
        {
            var url = "";
            
            if(name == "en_US")
            {
                url = "{!$Resource.DCON_LANG_Default}";
            }
                        
            return url;
        }
        
        function openPopUp(url)
        {
            //Added prefix check to fix issue #21408
            var prefix = "{!$Site.Prefix}";
            if(prefix)
                url = prefix + url;
            
            window.open(url,"_blank","width=800,height=600,resizable=1,status=0,scrollbars=1");
            return false; 
        }
        
        function openMapPopup(url)
        {
            //Added prefix check to fix issue #21408
            var prefix = "{!$Site.Prefix}";
            if(prefix)
                url = prefix + url;
            
            myWindow = window.open(url,"_blank","width=800,height=600,resizable=1,status=0,scrollbars=1");
            checkMyWindow();
            return false; 
        }
          
        function checkMyWindow()
        {
            t = setTimeout("checkMyWindow()",1000);
            if(myWindow.closed == true)
            {
                clearTimeout(t);
                enableMap();
            }
        }
          
        function enableMap()
        {
            var app = (navigator.appName.indexOf ("Microsoft") !=-1)  ? document.getElementById('DispatchConsole') : document['DispatchConsole'];
            app.enableMap();
        }    
        
        function getURL() {
            return document.location.href;
        }
    </script>
    
    <script src="../../soap/ajax/21.0/connection.js" type="text/javascript"></script>
    <script type="text/javascript"> var x = screen.height;</script>
    <script type="text/javascript">
        function checksession() {
          //function contains all code to execute after page is rendered
          var state = {output : document.getElementById("output"), startTime : new Date().getTime()};
          var callback = {onSuccess: SuccessResult, onFailure: queryFailed, source: state};
          sforce.connection.query("Select Id from User Limit 1",callback);
        }
        function queryFailed(error, source) {

            //alert("{!$Label.DCON001_TAG242}");
            window.close();
        }
        function SuccessResult(queryResult, source){
        }
        
        function checkParentWindow()
        {   
            if(parentwindow == null)
    
            {   
                // Parent does not exist and DC is launched in same page with sidebar
                var app = (navigator.appName.indexOf ("Microsoft") !=-1)  ? document.getElementById('DispatchConsole') : document['DispatchConsole'];
                var innerHeight = window.innerHeight || document.documentElement.clientHeight || document.body.clientheight;
                if(app)app.height = innerHeight;
                return;
            }  
            else if(parentwindow.closed)
            {
                alert("{!$Label.DCON001_TAG242}");
                window.close();
            } 
            t = setTimeout("checkParentWindow()",120000);
            checksession();
        }
        
        checkParentWindow()
    </script>
    
    <div id="output"> </div>
    
    <div id="DC" style="height: 100%;width: 100%;">
    </div>
    
    <script type="text/javascript">
        if("{!JSEncode(workorderNo)}" == '')
            changeTitle("{!$Label.DCON001_TAG183}");
        else
            changeTitle("{!$Label.DCON001_TAG183}" + ' - ' +'{!JSENCODE(workorderNo)}');
        
        function loadBootstrap()
        {
            var head = document.getElementsByTagName("head")[0];
            var url = "{!URLFOR($Resource.DCON_Dispatch_Console,'app/bootstrap.js')}";
            var s = document.createElement("script");
            s.src = url;
            s.async = false;
            head.appendChild(s);
            
            if(flashElement);
            flashElement.parentNode.removeChild(flashElement);
        }
        
        function selfTerminate()
        {
            window.close();
        }
    </script>
        
    <apex:flash id="DCSession" src="{!URLFOR($Resource.SVMXC__DCON_Dispatch_Console,'session.swf')}" height="0%" width="0%" flashvars="sessionId={!$Api.Session_ID}&serverURL={!$Api.Partner_Server_URL_90}&workOrderID={!workorderId}&workOrder={!workorderNo}"></apex:flash>
</apex:page>