<apex:page standardController="Account" extensions="TerritoryUserListCtl" cache="false">
    <style>
        .hdr {
            background-color: #b0c4de;
            border-collpase: collapse;
            text-align: left;
            line-height: 1.5;
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc
        }
        .odd {
            background-color: #EFEFEF;
            text-align: left;
            padding: 5px;
            margin-left: 5px
        }
        .even {
            background-color: #FFFFFF;
            text-align: left;
            padding: 5px;
            margin-left: 5px
        }
    </style>
    <apex:pageMessages id="messagearea" showDetail="false" />
    <apex:form >
        <apex:outputPanel rendered="{!(usrList.size != 0)}">
            <apex:dataTable rowClasses="odd,even" width="100%" value="{!usrList}" var="usrDTO">
                <apex:column headerClass="hdr" headervalue="" rendered="{!(usrList.size != 0)}">
                    <apex:image id="profileImage" url="{!usrDTO.usrEMl}" width="45" height="45"/>
                </apex:column>
                <apex:column headerClass="hdr" headervalue="氏名" rendered="{!(usrList.size != 0)}">
                    <apex:outputlink target="_blank" value="/{!usrDTO.usrID }">
                        <apex:outputText value="{!usrDTO.usrNameJPN}" />
                    </apex:outputLink>
                </apex:column>
                <apex:column headerClass="hdr" headervalue="BU" rendered="{!(usrList.size != 0)}">
                    <apex:outputLabel value="{!usrDTO.usrBU}" />
                </apex:column>
                <apex:column headerClass="hdr" headervalue="ディビジョン" rendered="{!(usrList.size != 0)}">
                    <apex:outputLabel value="{!usrDTO.usrDiv}" />
                </apex:column>
                <apex:column headerClass="hdr" headervalue="所属" rendered="{!(usrList.size != 0)}">
                    <apex:outputLabel value="{!usrDTO.usrDep}" />
                </apex:column>
                <apex:column headerClass="hdr" headervalue="Tel" rendered="{!(usrList.size != 0)}">
                    <apex:outputLabel value="{!usrDTO.usrMph}" />
                </apex:column>
                <apex:column headerClass="hdr" headervalue="Follow" rendered="{!(usrList.size != 0)}">
                    <chatter:follow entityId="{!usrDTO.usrID}"/>
                </apex:column>
            </apex:dataTable>
        </apex:OutputPanel>
    </apex:form>
</apex:page>