<apex:page standardController="Account" extensions="UploadDocumentsController" id="page">
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script>
     function showScreen(){
         document.getElementById('overlay').style.display='block';
     }
     
     function hideScreen(){
         document.getElementById('overlay').style.display='none';
     }
     function ChangeCounts(val){
         var rows ='{!lstwrap.size}';
         if(rows != 0 && val != rows){
             alert('Please click on Clear button to change the rows.');
             hideScreen();
             return false;
         }    
         ChangeCount();
     }
     
     

var j$ = jQuery.noConflict();
function validate() {
	alert('func');
    var valid = true;
    j$('input.filecls').each(function() {
    alert(j$(this).val());
        if (j$(this).val() == '') {
        	
        	if(j$('input.fileName').val() != ''){
	            j$(this).addClass('border');
	            valid = false;
            }
            console.log('>>>>>>>if');
        }
        else{
        	alert(j$('input.fileName').val());
        	if(j$('input.fileName').val() == ''){
	            j$(this).addClass('border');
	            valid = false;
            }
            console.log('>>>>>>>else');
        }
    });
    return valid;
}

     
</script>
<style>
    .popupBackground {
    background-color:black;
    opacity: 0.20;
    filter: alpha(opacity = 20);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 998;
    position: absolute;
}
/* This is for the message DIV */
 .PopupPanel {
    /* Dimensions */
    left: 50%;
    width: 100px;
    //margin-left: -100px;
    border-radius: 15px;
    top: 50%;
    height: 100px;
    margin-top: 200px;
    z-index: 999;
    position: fixed;
}

.border {
    border-color: red; 
    border-width: 1px; 
    border-style: solid;
}

</style>
<div id="overlay" class="overlayBackground" style="width: 100%; height: 100%; display: none;"></div>  
    
    <apex:form id="fm"> 
    	<apex:pageMessages />   
    	<apex:sectionHeader title="{!acc.Name}" subtitle="Upload Documents" help="https://www.salesforce.com"/>
          <apex:pageBlock title="Upload Multiple Documents">
          
         <apex:pageblockButtons >
                <apex:commandButton value="Save" onclick="showScreen();" action="{!saveData}"/>
                
                <apex:commandButton value="Cancel" action="/{!recordId}" immediate="true"/>
            </apex:pageblockButtons>
            
            
             <apex:pageblocktable value="{!lstwrap}" var="w">
                
                <apex:column styleclass="filecls" headerValue="Upload File">
                    <apex:inputfile value="{!w.att.body}" filename="{!w.att.Name}"/>
                </apex:column>
                
                <apex:column styleclass="fileName" headerValue="File Name">
                    <apex:inputfield value="{!w.doc.Name}"/> 
                </apex:column>
                
                <apex:column styleclass="docType" headerValue="Document Type">
                    <apex:inputfield value="{!w.doc.Document_Type__c}"/>
                </apex:column> 
                
                <apex:column headerValue="Effective Date">
                    <apex:inputfield value="{!w.doc.Effective_Date__c}"/>
                </apex:column>
                
                <apex:column headerValue="Expiry Date">
                    <apex:inputfield value="{!w.doc.Expiry_Date__c}"/>
                </apex:column>
                
                <apex:column headerValue="Hide from Partner User">
                    <apex:inputfield value="{!w.doc.Hide_from_Partner_User__c}"/>
                </apex:column>
                <script>
                    document.getElementById('overlay').style.display='none';
                </script>
            </apex:pageblocktable>
            
        </apex:pageBlock>
        
    </apex:form>
</apex:page>