<apex:page sidebar="false" standardcontroller="Cycle_Period__c" extensions="FileUploader">

   <apex:form >
   <script>
    function showAlertMessage() {
        var windowslocation;
        if("{!ErrorAlert}"=="CF")
        {
            windowslocation = "{!$Label.distributorapex}"  + "ValidateChannelInventory?Id=" + "{!cyclePeriodId}" + "&Validate=Y";
            if({!ISPICKVAL($User.UserType,"Standard")})
                windowslocation = "/apex/"  + "ValidateChannelInventory?Id=" + "{!cyclePeriodId}" + "&Validate=Y";
            window.location=windowslocation;
        }
    }
    showAlertMessage();
   </script>
    <apex:sectionHeader title="Upload data from Tab Delimited Text file"/> 
      <apex:pagemessages />
      <apex:pageBlock dir="LTR">
            <apex:pageBlockSection columns="1">
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="{!$Label.cycle_Period}" for="CyclePeriod"/>
                    <apex:inputfield id="cycleperiod_dist" value="{!Cycle_Period__c.Cycle_Period_Reference__c}" required="true"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="{!$Label.Data_to_Upload}" for="DataToUpload"/>
                    <apex:selectList Id="ObjectName" value="{!selectObjType}">
                        <apex:selectOptions value="{!ObjList}"/>
                    </apex:selectList>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="{!$Label.Upload_File}" for="UploadFile"/>
                     <apex:inputFile value="{!contentFile}" filename="{!nameFile}"/> 
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
            <apex:pageBlockButtons location="Bottom">

                    <apex:commandButton action="{!ReadFile}"  value="{!$Label.Upload_File}" id="theButton" style="width:70px;"/>
               </apex:pageBlockButtons>
            <apex:pageBlockSection >

                <apex:pageBlockSectionItem >
                    <apex:outputText style="font-weight:bold" value=""/>
                    <apex:outputLabel style="font-weight:bold" value="{!$Label.UploadMessage}" for="Action1"/>
                </apex:pageBlockSectionItem>
                <br> </br>          
            </apex:pageBlockSection>
      </apex:pageBlock>       
   </apex:form>
</apex:page>