<apex:page standardController="vlc_pro__Status_Picklist__c"
    extensions="vlc_pro.StatusPicklistCE">

    <apex:form >
        <apex:actionFunction action="{!processPicklistChange}"
            name="picklistChange" immediate="false" />
        <apex:actionFunction action="{!processStatusChange}"
            name="statusChange" immediate="false" />            

        <apex:sectionHeader title="{!$ObjectType.vlc_pro__Status_Picklist__c.Label} {!$Label.vlc_pro__Label_Edit}"
            subtitle="{!vlc_pro__Status_Picklist__c.Status__r.Process__r.Name} - {!vlc_pro__Status_Picklist__c.Name}" rendered="{!mode==0}"/>
            
        <apex:sectionHeader title="{!$ObjectType.vlc_pro__Status_Picklist__c.Label} {!$Label.vlc_pro__Label_Edit}" subtitle="{!$ObjectType.vlc_pro__Status_Picklist__c.Label} - {!$Label.vlc_pro__Label_New}" rendered="{!mode==1}"/>

        <apex:pageMessages />

        <apex:pageBlock title="{!$ObjectType.vlc_pro__Status_Picklist__c.Label} Detail" mode="edit">
            <apex:pageBlockButtons >
                <apex:commandButton action="{!processSave}" value="{!$Label.vlc_pro__Button_Save}"
                    immediate="true" />
                <apex:commandButton action="{!cancel}" value="{!$Label.vlc_pro__Button_Cancel}"
                    immediate="true" />
            </apex:pageBlockButtons>
            <apex:pageBlockSection columns="2">
                <apex:outputField value="{!vlc_pro__Status_Picklist__c.Status__r.vlc_pro__Process__c}" rendered="{!mode==0}"/>
                <apex:outputField value="{!vlc_pro__Status_Picklist__c.Status__r.Process__r.vlc_pro__Master_Object__c}" rendered="{!mode==0}"/>
                <apex:outputField value="{!vlc_pro__Status_Picklist__c.vlc_pro__Status__c}"/>
                <apex:outputField value="{!vlc_pro__Status_Picklist__c.vlc_pro__Values__c}" rendered="false"/>
            </apex:pageBlockSection>
            <apex:pageBlockSection columns="1">
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="{!$ObjectType.vlc_pro__Status_Picklist__c.fields.Name.Label}" />
                    <apex:selectList value="{!vlc_pro__Status_Picklist__c.Name}"
                        multiselect="false" size="1" onchange="picklistChange();">
                        <apex:selectOptions value="{!availablePicklistFields}" />
                    </apex:selectList>
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="{!$ObjectType.vlc_pro__Status_Picklist__c.fields.vlc_pro__Values__c.Label}" />
                    <apex:outputPanel >
                        <apex:selectList value="{!selectedValuesLeft}" multiselect="true"
                            size="10" style="min-width: 200px;">
                            <apex:selectOptions value="{!availableValues}" />
                        </apex:selectList>
                        <apex:outputPanel >
                            <apex:commandButton value=">" action="{!processSelectValues}" />
                            <apex:commandButton value="<" action="{!processDeselectValues}" />
                        
                        </apex:outputPanel>
                        <apex:selectList value="{!selectedValuesRight}" multiselect="true"
                            size="10" style="min-width: 200px;">
                            <apex:selectOptions value="{!selectedValues}" />
                        </apex:selectList>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
        </apex:pageBlock>

    </apex:form>

</apex:page>