<apex:page standardController="Account" extensions="vlc_pro.ProcessObjectCE" action="{!if(NOT(ctrl.hasValidProcess), 
    urlFor('/' + ctrl.objKeyPrefix + '/e', null,
    [retURL=ctrl.retUrl, RecordType=ctrl.objRecordTypeId], true),
    null)}">

    <apex:outputPanel id="pageContainer">
        <c:ProcessObjectComponent ctrl="{!ctrl}" mode="NEW" />
    </apex:outputPanel>
    
</apex:page>