<apex:page standardController="vlc_pro__Action_Field_Update__c"
    extensions="vlc_pro.ActionFieldUpdateCE">
    
    <apex:includeScript value="{!$Resource.vlc_pro__jQuery}" />
    <apex:includeScript value="{!$Resource.vlc_pro__formula_editor}" />
    <apex:stylesheet value="{!$Resource.vlc_pro__formula_editor_css}"/>

    <apex:sectionHeader title="{!$ObjectType.vlc_pro__Action_Field_Update__c.Label} {!$Label.vlc_pro__Label_Edit}" subtitle="{!vlc_pro__Action_Field_Update__c.Name}" />

    <apex:pageMessages />

        <apex:form >
            <apex:pageBlock title="{!$ObjectType.vlc_pro__Action_Field_Update__c.Label} {!$Label.vlc_pro__Label_Edit}" mode="edit">
                <apex:pageBlockButtons >
                    <apex:commandButton action="{!processSave}" value="{!$Label.vlc_pro__Button_Save}" />
                    <apex:commandButton action="{!cancel}" value="{!$Label.vlc_pro__Button_Cancel}"
                        immediate="true" />
                </apex:pageBlockButtons>
                <apex:pageBlockSection title="{!$ObjectType.vlc_pro__Process__c.Label} Details">
                    <apex:outputField value="{!vlc_pro__Action_Field_Update__c.Action__r.vlc_pro__Process__c}" />
                    <apex:outputField value="{!vlc_pro__Action_Field_Update__c.Action__r.Process__r.vlc_pro__Master_Object__c}" />
                    <apex:pageBlockSectionItem >
                        <apex:outputText value="{!$ObjectType.vlc_pro__Action__c.Label}" />
                        <apex:outputPanel >
                            <apex:outputField value="{!vlc_pro__Action_Field_Update__c.vlc_pro__Action__c}" />
                            <apex:outputText value=" ({!$ObjectType.vlc_pro__Action__c.Fields.vlc_pro__Is_Start_Action__c.Label})" rendered="{!vlc_pro__Action_Field_Update__c.Action__r.vlc_pro__Is_Start_Action__c}" />
                        </apex:outputPanel>
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem />
                    <apex:outputField value="{!vlc_pro__Action_Field_Update__c.Action__r.vlc_pro__Before_State__c}" />
                    <apex:outputField value="{!vlc_pro__Action_Field_Update__c.Action__r.vlc_pro__After_State__c}" />
                </apex:pageBlockSection>
                <apex:pageBlockSection title="{!$ObjectType.vlc_pro__Action_Field_Update__c.Label} Details">
                    <apex:inputField value="{!vlc_pro__Action_Field_Update__c.Name}" required="true" />
                    <apex:pageBlockSectionItem >
                        <apex:outputLabel value="{!fieldUpdate.Name}" for="objselect" />
                        <apex:selectList id="objselect" value="{!vlc_pro__Action_Field_Update__c.vlc_pro__Field_Name__c}"
                            multiselect="false" size="1" required="true">
                            <apex:selectOptions value="{!availableFields}" />
                        </apex:selectList>
                    </apex:pageBlockSectionItem>
                    <apex:inputField value="{!vlc_pro__Action_Field_Update__c.vlc_pro__Execution_point__c}" required="true" />
                </apex:pageBlockSection>
                
                <apex:pageBlockSection columns="2" title="{!$ObjectType.vlc_pro__Action_Field_Update__c.fields.vlc_pro__Formula__c.Label}">
                    <apex:pageBlockSectionItem >
                        <apex:outputLabel value="" />
                        <apex:outputPanel >
                            <apex:selectList styleClass="vlc_formula__fieldSelect"
                                multiselect="false" size="1" onChange="addField('0');">
                                <apex:selectOptions value="{!availableObjectFields}" />
                            </apex:selectList>
                            <apex:selectList styleClass="vlc_formula__operatorSelect"
                                multiselect="false" size="1" onChange="addOperator('0');">
                                <apex:selectOptions value="{!availableOperators}" />
                            </apex:selectList>
                        </apex:outputPanel>
                    </apex:pageBlockSectionItem>
                </apex:pageBlockSection>
                <apex:pageBlockSection columns="1">
                    <apex:pageBlockSectionItem >
                        <apex:outputLabel value="" />
                        <apex:outputPanel >
                        </apex:outputPanel>
                    </apex:pageBlockSectionItem>
                </apex:pageBlockSection>
                
                <apex:pageBlockSection columns="1" showHeader="false">
                    <apex:pageBlockSectionItem >
                        <apex:outputLabel value="" />
                            <apex:outputPanel layout="block" styleClass="vlc_formula_wrapper">  
                                <apex:outputPanel layout="block" styleClass="vlc_formula_formula_box">  
                                    <apex:inputField styleClass="vlc_formula__formulaField" id="formulaField"
                                        value="{!vlc_pro__Action_Field_Update__c.vlc_pro__Formula__c}"
                                        onBlur="storeFormulaCursor('0');" />    
                                </apex:outputPanel>
                                <apex:outputPanel layout="block" styleClass="vlc_formula_function_box"> 
                                    <apex:selectList styleClass="vlc_formula__functionFilter"
                                        multiselect="false" size="1" onChange="filterFunctions('0');">
                                        <apex:selectOptions value="{!availableFilters}" />
                                    </apex:selectList>
                                    <br />
                                    <apex:selectList styleClass="vlc_formula__functionSelect"
                                        multiselect="false" size="7" onChange="addFunction('0');">
                                        <apex:selectOptions value="{!availableFunctions}" />
                                    </apex:selectList>
                                </apex:outputPanel>
                            </apex:outputPanel>
                    </apex:pageBlockSectionItem>
                </apex:pageBlockSection>
            </apex:pageBlock>
        </apex:form>

</apex:page>