<apex:page standardController="X980_Pricing_Grid__c" extensions="x980PricingGridExtension" recordSetVar="data">
    <apex:pageBlock Title="980 Pricing Grid"> 
            <table border="1" width="1000px">
                <tr>
                    <td width="10%"></td>
                    <td width="10%"></td>
                    <td width="10%">Discount</td>
                    <td width="10%">GPO Tier 3</td>
                    <td width="10%">9%</td>
                    <td width="10%">13%</td>
                    <td width="10%">19%</td>
                </tr>
                <tr>
                    <td width="10%"></td>
                    <td width="10%"></td>
                    <td width="10%">ASP</td>
                    <td width="10%">&lt; 2 vents</td>
                    <td width="10%">2-9</td>
                    <td width="10%">10-19</td>
                    <td width="10%">20+</td>
                </tr>
            </table>
        <apex:dataTable value="{!PricingGrid}" var="grid" border="1" width="1000px">
            <apex:column width="10%" value="{!grid.Name}"/>
            <apex:column width="10%" value="{!grid.Description__c}"/>
            <apex:column width="10%">
                <apex:outputText value="{0,number,$#,###,###}"> 
                    <apex:param value="{!grid.ASP__c}" /> 
                </apex:outputText> 
            </apex:column>
            <apex:column width="10%">
                <apex:outputText value="{0,number,$#,###,###}"> 
                    <apex:param value="{!grid.Less_than_2_vents__c}" /> 
                </apex:outputText> 
            </apex:column>
            <apex:column width="10%">
                <apex:outputText value="{0,number,$#,###,###}"> 
                    <apex:param value="{!grid.From_2_upto_and_including_9_vents__c}" /> 
                </apex:outputText> 
            </apex:column>
            <apex:column width="10%">
                <apex:outputText value="{0,number,$#,###,###}"> 
                    <apex:param value="{!grid.From_10_upto_and_including_19_vents__c}" /> 
                </apex:outputText> 
            </apex:column>
            <apex:column width="10%">
                <apex:outputText value="{0,number,$#,###,###}"> 
                    <apex:param value="{!grid.Twenty_or_more_vents__c}" /> 
                </apex:outputText> 
            </apex:column>
        
        </apex:dataTable>
    </apex:pageBlock>
</apex:page>